/*
 * SPDX-FileCopyrightText: 2026 SUSE LLC
 *
 * SPDX-License-Identifier: GPL-2.0-only
 */

:global(.old-theme),
:global(.new-theme) {
  .button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      margin: 0;
    }
  }
}
