.spacewalk-toolbar-h1
  .spacewalk-toolbar
  h1
    i.fa.fa-group
    | #{" " + orgName + " "}

#custom-states

script(type='text/javascript').
    var csrfToken = "#{csrf_token}";
    var orgId = "#{orgId}";

script(src='/javascript/reactjs/react.bundle.js')
script(src='/javascript/manager/org-custom-states.bundle.js', type='text/javascript')
