.spacewalk-toolbar-h1
  .spacewalk-toolbar
  h1
    i.fa.fa-group
    | #{" " + orgName + " "}
    a(href="/rhn/help/reference/en-US/ref.webui.overview.org.jsp#ref.webui.overview.org.cfgch" target="_blank")
      i.fa.fa-question-circle.spacewalk-help-link

#config-channels

script(type='text/javascript').
    var csrfToken = "#{csrf_token}";
    var orgId = "#{orgId}";

script(src='/javascript/ace-editor/src-min-noconflict/ace.js')
script(src='/javascript/ace-editor/src-min-noconflict/ext-modelist.js')
script(src='/javascript/jquery-ui.js')

script(src='/javascript/manager/org-config-channels.bundle.js', type='text/javascript')
