<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2024 SUSE LLC
  ~
  ~ This software is licensed to you under the GNU General Public License,
  ~ version 2 (GPLv2). There is NO WARRANTY for this software, express or
  ~ implied, including the implied warranties of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. You should have received a copy of GPLv2
  ~ along with this software; if not, see
  ~ http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt.
  ~
  ~ Red Hat trademarks are not licensed under GPLv2. No permission is
  ~ granted to use or replicate Red Hat trademarks that are incorporated
  ~ in this software or its documentation.
  -->

<!-- Confidential Computing Attestation Log4j2 configuration -->
<Configuration name="CoCoAttestation" status="warn">

    <Appenders>
        <RollingFile name="LogFile" fileName="/var/log/coco-attestation.log" filePattern="/var/log/coco-attestation-%i.log">
            <PatternLayout pattern="%d [%t] %-5p %c%notEmpty{:%marker} - %m%n" />
            <SizeBasedTriggeringPolicy size="10MB" />
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %c%notEmpty{:%marker} - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.suse.coco" level="info" />
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>
