//- Common mixins for JADE pages

//- CSRF token to be used in forms
mixin csrfToken
  input(type="hidden", name="csrf_token", value="#{csrf_token}")


mixin userPreferences
  script(type='text/javascript').
      window.userPrefPageSize = #{pageSize};

mixin userRoles
    script(type='text/javascript').
        window.global_userRoles = !{roles};
