include ../common.jade

#notfoundpage

script(src='/javascript/manager/errors/not-found.bundle.js?cb=#{webBuildtimestamp}', type='text/javascript')

script(type='text/javascript').
    spaImportReactPage('errors/not-found')
        .then(function(module) {
            module.renderer(
                'notfoundpage',
                { currentUrl: '#{currentUrl}' }
            )
        });
