include ./minion-header.jade
     
#formula

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('minion/formula/minion-formula')
        .then(function(module) {
             module.renderer(
              'formula',
              {
                serverId: "#{server.id}",
                formulaId: #{formula_id}
              }
            )
        });
