include ./minion-header.jade

#package-states

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('minion/packages/package-states')
        .then(function(module) {
            module.renderer(
                'package-states',
                {
                    serverId: "#{server.id}"
                }
            )
        })
