include ./minion-header.jade

#ptf-install

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{server.id}";
    window.actionChains = !{actionChains};

script(type='text/javascript').
    spaImportReactPage('minion/ptf/ptf-install')
        .then(function(module) { module.renderer('ptf-install') });
