include ./minion-header.jade

#ptf-list-remove

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{server.id}";
    window.actionChains = !{actionChains};

script(type='text/javascript').
    spaImportReactPage('minion/ptf/ptf-list-remove')
        .then(function(module) { module.renderer('ptf-list-remove') });
