# SPDX-FileCopyrightText: 2026 Red Hat, Inc.
# SPDX-FileCopyrightText: 2026 SUSE LLC
#
# SPDX-License-Identifier: GPL-2.0-only

[Unit]
Description=Check SSL certificates for Uyuni
Documentation=man:ssl-cert-check(8)

[Service]
Type=oneshot
ExecStart=/usr/bin/ssl-cert-check-timerscript
