[Unit]
Description=SUSE Manager PAYG billing data service
After=local-fs.target network.target postgresql.service
Before=tomcat.service taskomatic.service
Requires=postgresql.service

[Service]
Type=simple
PassEnvironment=ISPAYG
ExecCondition=sh -c "test \"$ISPAYG\" == \"1\""
ExecStart=/srv/billing-data-service/billing-data-service
Restart=on-failure

[Install]
WantedBy=multi-user.target

