[Unit]
Description=SUSE Manager PAYG billing data service
After=local-fs.target network.target postgresql.service
Before=tomcat.service taskomatic.service
Requires=postgresql.service
ConditionEnvironment=ISPAYG=1

[Service]
Type=simple
ExecStart=/srv/billing-data-service/billing-data-service
Restart=on-failure

[Install]
WantedBy=multi-user.target

