<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.8" name="sles11sp2-lxc-guest">
  <description type="system">
    <author>Flavio Castelli</author>
    <contact>fcastelli@suse.com</contact>
    <specification>SLE11 SP2 container image</specification>
  </description>
  <preferences>
    <type image="lxc" container="sles11sp2">
      <machine>
        <vmdisk/>
        <vmnic interface="eth0" mode="veth"/>
      </machine>
    </type>
    <version>1.0.0</version>
    <packagemanager>zypper</packagemanager>
    <rpm-check-signatures>false</rpm-check-signatures>
    <rpm-excludedocs>true</rpm-excludedocs>
    <rpm-force>true</rpm-force>
    <locale>en_US</locale>
    <keytable>us.map.gz</keytable>
    <hwclock>utc</hwclock>
    <timezone>US/Eastern</timezone>
  </preferences>
  <users group="root">
    <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
  </users>
  <repository type="rpm-md" priority="2">
    <source path="http://download.suse.de/ibs/Devel:/Galaxy:/Manager:/1.7/SLE_11_SP2/"/>
  </repository>
  <repository type="rpm-md" priority="5">
    <source path="http://download.suse.de/ibs/SUSE:/SLE-11-SP1:/GA/standard/"/>
  </repository>
  <repository type="rpm-md" priority="5">
    <source path="http://download.suse.de/ibs/SUSE:/SLE-11-SP1:/Update/standard/"/>
  </repository>
  <repository type="rpm-md" priority="5">
    <source path="http://download.suse.de/ibs/SUSE:/SLE-11-SP1:/Update:/Manager/standard/"/>
  </repository>
  <repository type="rpm-md" priority="5">
    <source path="http://download.suse.de/ibs/SUSE:/SLE-11-SP1:/Update:/Manager:/1.2/standard/"/>
  </repository>
  <repository type="rpm-md" priority="3">
    <source path="http://download.suse.de/ibs/SUSE:/SLE-11-SP2:/GA/standard/"/>
  </repository>
  <repository type="rpm-md" priority="3">
    <source path="http://download.suse.de/ibs/SUSE:/SLE-11-SP2:/Update/standard/"/>
  </repository>
  <repository type="rpm-md" priority="3">
    <source path="http://download.suse.de/ibs/SUSE:/SLE-11-SP2:/Update:/Products:/Test/standard/"/>
  </repository>
  <repository type="rpm-md" priority="5">
    <source path="http://download.suse.de/ibs/SUSE:/SLE-11:/GA/standard/"/>
  </repository>
  <repository type="rpm-md" priority="5">
    <source path="http://download.suse.de/ibs/SUSE:/SLE-11-SP1:/Update/standard/"/>
  </repository>

  <packages type="image">
    <package name="lxc"/>

    <package name="aaa_base"/>
    <package name="bash"/>
    <package name="coreutils"/>
    <package name="e2fsprogs"/>
    <package name="filesystem"/>
    <package name="glibc"/>
    <package name="initviocons"/>
    <package name="insserv"/>
    <package name="iputils"/>
    <package name="irqbalance"/>
    <package name="kbd"/>
    <package name="less"/>
    <package name="login"/>
    <package name="pam-modules"/>
    <package name="pam"/>
    <package name="procps"/>
    <package name="pwdutils"/>
    <package name="rpcbind"/>
    <package name="rpm"/>
    <package name="sles-release"/>
    <package name="suse-build-key"/>
    <package name="suseRegister"/>
    <package name="sysconfig"/>
    <package name="syslog-ng"/>
    <package name="sysvinit"/>
    <package name="vim"/>
    <package name="zypper"/>

  </packages>
  <packages type="bootstrap">
    <package name="filesystem"/>
    <package name="glibc-locale"/>
    <package name="module-init-tools"/>
  </packages>
</image>
