#formula-details

script(src='/javascript/reactjs/react.bundle.js')
script(type="text/javascript").
    var csrfToken = "#{csrf_token}";
    var formulaName = "#{formulaName}";
script(src='/javascript/manager/org-formula-details.bundle.js')