script(type="text/javascript").
    window.csrfToken = "#{csrf_token}";
    window.formulaName = "#{formulaName}";

#formula-details
    script(type='text/javascript').
        injectReactPage('salt/formula-catalog/org-formula-details');
