#formula-details

script(type="text/javascript").
    window.csrfToken = "#{csrf_token}";
    window.formulaName = "#{formulaName}";
script(src='/javascript/manager/salt/formula-catalog/org-formula-details.bundle.js?cb=#{webVersion}')
