include ../common.jade

#formula-catalog

script(type='text/javascript').
    spaImportReactPage('salt/formula-catalog/org-formula-catalog')
        .then(function(module) {
             module.renderer(
              'formula-catalog',
              {
                flashMessage: "#{info}",
                warningMessage: "#{warning}"
              }
            )
        });
