include ../common.jade

if info
  script(type="text/javascript").
     function flashMessage() {
         return [{severity: "info", text:"#{info}"}];
     }
else
  script(type="text/javascript").
     function flashMessage() {
         return [];
     }
     
#formula-catalog

+userPreferences
script(src='/javascript/manager/org-formula-catalog.bundle.js?cb=#{webVersion}')
