include ../common.jade

#formula-catalog

+userPreferences
script(src='/javascript/manager/salt/formula-catalog/org-formula-catalog.renderer.bundle.js?cb=#{webVersion}')

script(type='text/javascript').
    pageRenderers.salt.formulaCatalog.renderer(
        'formula-catalog',
        {
          flashMessage: "#{info}",
          warningMessage: "#{warning}"
        }
    );