{
   "lscpu": [
      {"field":"Architecture:", "data":"ppc64le"},
      {"field":"Byte Order:", "data":"Little Endian"},
      {"field":"CPU(s):", "data":"8"},
      {"field":"On-line CPU(s) list:", "data":"0-7"},
      {"field":"Thread(s) per core:", "data":"8"},
      {"field":"Core(s) per socket:", "data":"1"},
      {"field":"Socket(s):", "data":"1"},
      {"field":"NUMA node(s):", "data":"2"},
      {"field":"Model:", "data":"2.2 (pvr 004e 0202)"},
      {"field":"Model name:", "data":"POWER9 (architected), altivec supported"},
      {"field":"Hypervisor vendor:", "data":"pHyp"},
      {"field":"Virtualization type:", "data":"para"},
      {"field":"L1d cache:", "data":"32K"},
      {"field":"L1i cache:", "data":"32K"},
      {"field":"NUMA node0 CPU(s):", "data":null},
      {"field":"NUMA node1 CPU(s):", "data":"0-7"},
      {"field":"Physical sockets:", "data":"2"},
      {"field":"Physical chips:", "data":"1"},
      {"field":"Physical cores/chip:", "data":"4"}
   ]
}
