[Unit]
Description=Salt ZeroMQ Proxy (broker)
After=network.target

[Service]
Type=simple
LimitNOFILE=51200
ExecStart=/usr/bin/salt-broker

[Install]
WantedBy=multi-user.target
