[Unit]
Description=Update status
After=syslog.target network.target auditd.service
ConditionPathExists=/etc/sysconfig/rhn/systemid

[Service]
Type=oneshot
ExecStart=/usr/sbin/mgr-update-status
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
