yarn-path "../../../../susemanager-frontend/susemanager-nodejs-sdk-devel/build/yarn/yarn-1.14.0.js"
--install.cwd src/main/webapp
--clean.cwd src/main/webapp
--audit.cwd src/main/webapp
--autoclean.cwd src/main/webapp
--add.cwd src/main/webapp/lib
--remove.cwd src/main/webapp/lib