# CODEOWNERS info & syntax
# Lines starting with "#" are comments.
#
# Each line is a file pattern followed by one or more owners.
#
# Order is important; the last matching pattern takes the most
# precedence.
#
# Owners can be specified by email address or GitHub username
#
# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository.
#
# Patterns
#
# Whole repository
# * @global-owner
#
# Directory (without subdirectories)
# docs/* @tech_writer
#
# Directory (including subdirectories)
# apps/ @app_developer
#
# Adding a leading "/" to a pattern means the directory must
# be in the root of the repository.
#
# Empty Pattern -> no owner (@app_developer owns all of apps/ except apps/github)
# apps/ @app_developer
# apps/github

# Uyuni Code Owners

# Workflows reviewers
.github/workflows @uyuni-project/workflows-reviewers

# Release Engineering
rel-eng/ @uyuni-project/release-engineering
tito.props @uyuni-project/release-engineering
web/conf/rhn_web.conf @uyuni-project/release-engineering

# Cobbler
java/conf/cobbler/snippets/ @uyuni-project/python

# Python
*.py @uyuni-project/python
# This file only holds data, no Python code
mgr_bootstrap_data.py

# Frontend
web/html/ @uyuni-project/frontend
web/setup.sh @uyuni-project/frontend
branding/ @uyuni-project/frontend
*.jsp @uyuni-project/frontend
*.jspf @uyuni-project/frontend
.github/workflows/automatic-frontend-lint-fix-pr.yml @uyuni-project/frontend
.github/workflows/frontend-dependency-audit.yml @uyuni-project/frontend
.github/workflows/frontend-lint.yml @uyuni-project/frontend
.github/workflows/javascript-build.yml @uyuni-project/frontend
.github/workflows/javascript-unit-tests.yml @uyuni-project/frontend
.github/workflows/typescript-compilation.yml @uyuni-project/frontend
.yarnrc @uyuni-project/frontend

# QE
testsuite/ @uyuni-project/qe
.github/scripts/test_covering_pr.js @uyuni-project/qe
.github/workflows/rubocop.yml @uyuni-project/qe
.github/workflows/acceptance_tests_common.yml @uyuni-project/qe
.github/workflows/acceptance_tests_feedback.yml @uyuni-project/qe
.github/workflows/acceptance_tests_secondary_parallel.yml @uyuni-project/qe
.github/workflows/acceptance_tests_secondary.yml @uyuni-project/qe
.github/workflows/build_containers.yml@uyuni-project/qe
.github/workflows/test-covering-pr.yml @uyuni-project/qe
.rubocop.yml @uyuni-project/qe

# mgr-libmod
susemanager-utils/mgr-libmod/ @cbbayburt

# Generic fallback for Java, apart from changelog files
java/ @uyuni-project/java
java/*.changes*

# Individual Java packages

# XMLRPC API
java/code/src/com/redhat/rhn/frontend/xmlrpc/ @uyuni-project/naica

# HTTP API
java/code/src/com/suse/manager/api/ @uyuni-project/naica

# Content Lifecycle Management
java/code/src/com/redhat/rhn/manager/contentmgmt/ @uyuni-project/naica
java/code/src/com/suse/manager/webui/controllers/contentmanagement/ @uyuni-project/naica
java/code/src/com/redhat/rhn/domain/contentmgmt/ @uyuni-project/naica

# Maintenance Windows
java/code/src/com/suse/manager/model/maintenance/ @uyuni-project/naica
java/code/src/com/suse/manager/webui/controllers/maintenance/ @uyuni-project/naica
java/code/src/com/suse/manager/maintenance/ @uyuni-project/naica
java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowDataJson.java @uyuni-project/naica

# Minion Bootstrapping
java/code/src/com/suse/manager/webui/controllers/bootstrap/ @uyuni-project/naica
java/code/src/com/suse/manager/webui/utils/gson/BootstrapHostsJson.java @uyuni-project/naica
java/code/src/com/suse/manager/webui/utils/gson/BootstrapParameters.java @uyuni-project/naica

# Notification Messages
java/code/src/com/redhat/rhn/domain/notification/ @uyuni-project/naica
java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java @uyuni-project/naica
java/code/src/com/suse/manager/webui/utils/gson/NotificationMessageJson.java @uyuni-project/naica

# Websockets
java/code/src/com/suse/manager/webui/websocket/ @uyuni-project/naica

# Ignore translations, in the CODEOWNERS the last matching wins
**/*.po
**/*.pot
**/StringResource*.xml
