:global(.old-theme),
:global(.new-theme) {
  .header {
    top: 8px;
    padding-bottom: 8px;
    z-index: 1;
  }

  .story {
    display: flex;
    gap: 16px;

    > div {
      flex: 1 1 auto;
    }

    > pre {
      overflow: auto;
      min-width: 50%;
      max-width: 50%;

      code {
        white-space: pre;
      }
    }
  }
}
