#bootstrap-minions

script(src='/javascript/reactjs/react.bundle.js')
script(type="text/javascript").
    var csrfToken = "#{csrf_token}";
    var availableActivationKeys = #{availableActivationKeys};
script(src='/javascript/manager/bootstrap-minions.bundle.js')
