#bootstrap-minions

script(type="text/javascript").
    var csrfToken = "#{csrf_token}";
    var availableActivationKeys = !{availableActivationKeys};
    var proxies = !{proxies}
script(src='/javascript/manager/systems/bootstrap/bootstrap-minions.bundle.js?cb=#{webVersion}')
