script(type="text/javascript").
    window.csrfToken = "#{csrf_token}";
    window.availableActivationKeys = !{availableActivationKeys};
    window.proxies = !{proxies}

#bootstrap-minions
    script(type='text/javascript').
        injectReactPage('systems/bootstrap/bootstrap-minions');
