#bootstrap-minions

script(type="text/javascript").
    window.csrfToken = "#{csrf_token}";
    window.availableActivationKeys = !{availableActivationKeys};
    window.proxies = !{proxies}
script(src='/javascript/manager/systems/bootstrap/bootstrap-minions.bundle.js?cb=#{webVersion}')
