#remote-commands

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('salt/cmd/remote-commands')
        .then(({renderer}) => renderer('remote-commands'));
