include ./minion-header.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{server.id}";
    window.availableEnvironmentTypes = !{availableEnvironmentTypes};

#coco-settings
    script(type='text/javascript').
        injectReactPage('minion/coco/coco-settings');
