include ./minion-header.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#formulas
  script(type='text/javascript').
    injectReactPage('minion/formula/minion-formula-selection', {
      serverId: "#{server.id}",
      warningMessage: "#{warning}"
    });
