include ./minion-header.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#formula
  script(type='text/javascript').
    injectReactPage('minion/formula/minion-formula', {
      serverId: "#{server.id}",
      formulaId: #{formula_id}
    });
