include ./minion-header.jade

#formulas

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('minion/formula/minion-formula-selection')
        .then(function(module) {
             module.renderer(
              'formulas',
              {
                serverId: "#{server.id}",
                warningMessage: "#{warning}"
              }
            )
        });
