include ./minion-header.jade
     
#formula

script(type='text/javascript').
    var csrfToken = "#{csrf_token}";
    var serverId = "#{server.id}";
    var formulaId = #{formula_id};

script(src='/javascript/manager/minion-formula.bundle.js', type='text/javascript')
