include ./minion-header.jade

#formulas

script(type='text/javascript').
    var csrfToken = "#{csrf_token}";
    var serverId = "#{server.id}";

script(src='/javascript/manager/minion-formula-selection.bundle.js?cb=#{webVersion}', type='text/javascript')
