include ./minion-header.jade
if info
  script(type="text/javascript").
     function flashMessage() {
         return [{severity: "info", text:"#{info}"}];
     }
else
  script(type="text/javascript").
     function flashMessage() {
         return [];
     }
     
#formula

script(type='text/javascript').
    var csrfToken = "#{csrf_token}";
    var serverId = "#{server.id}";
    var formulaId = #{formula_id};

script(src='/javascript/reactjs/react.bundle.js')
script(src='/javascript/manager/minion-formula.bundle.js', type='text/javascript')
