include ../common.jade

#key-management

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{serverId}";
+userPreferences
script(src='/javascript/manager/salt/keys/key-management.bundle.js?cb=#{webVersion}', type='text/javascript')

