include ../common.jade

#key-management

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const serverId = "#{serverId}";
+userPreferences
script(src='/javascript/manager/key-management.bundle.js?cb=#{webVersion}', type='text/javascript')

