include ../common.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{serverId}";

#key-management
    script(type='text/javascript').
        injectReactPage('salt/keys/key-management');
