include ../common.jade

#onboarding

script(src='/javascript/reactjs/react.bundle.js')

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const serverId = "#{serverId}";
script(src='/javascript/manager/onboarding.bundle.js', type='text/javascript')

