include ../common.jade

#key-management

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{serverId}";

script(type='text/javascript').
    spaImportReactPage('salt/keys/key-management')
        .then(function(module) { module.renderer('key-management') });

