include ./minion-header.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#package-states
    script(type='text/javascript').
        injectReactPage('minion/packages/package-states', {
            serverId: "#{server.id}"
        });
