include ./minion-header.jade

#package-states

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const serverId = "#{server.id}";
script(src='/javascript/manager/package-states.bundle.js', type='text/javascript')