include ./minion-header.jade

#package-states

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{server.id}";
script(src='/javascript/manager/minion/packages/package-states.bundle.js?cb=#{webVersion}', type='text/javascript')
