#package-states

if isDevMode
  script(src='/javascript/reactjs/react-with-addons.js')
  script(src='/javascript/reactjs/JSXTransformer.js')
else
  script(src='/javascript/reactjs/react-with-addons.min.js')
  script(src='/javascript/reactjs/JSXTransformer.js')

script(type='text/jsx;harmony=true').
    const csrfToken = "#{csrf_token}";
    const serverId = "#{serverId}";
    const serverName = "#{serverName}";
script(src='/javascript/manager/package-states.js', type='text/jsx;harmony=true')