include ./minion-header.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{server.id}";

#ptf-overview
    script(type='text/javascript').
        injectReactPage('minion/ptf/ptf-overview');
