# Host that Manager will be deployed to ("deploy" task)
deploy.host = d52.suse.de

# Uncomment to use .class files from the build/classes directory directly to avoid calling javac
#precompiled = true

# Uncomment to avoid performing a clean before each compilation
#build.incremental.compile = true

# Uncomment to get javascript sourcemaps in Reactjs pages
#javascript.devel = true

