:global(.new-theme) {
  .accessGroupWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .accessGroupContainer {
    flex-grow: 1;
  }

  .apiIcon {
    font-size: 10px;
    margin-left: 5px;
    padding: 3px;
  }
}
