{
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6":     true,
        "commonjs": true,
        "browser": true,
        "node":    true,
        "mocha":   true
    },  
    "globals": {
        "d3":      true,
        "$": 	   true,
    },
    "extends": [
        "eslint:recommended", 
        "plugin:react/recommended"
    ],    
    "rules": {
    }
}
