*.swp
*.swo
*.bak
*.pyc
*.pyo
*.src.rpm
*.git.*.rpm
*.Ds_Store
java/spacewalk-java/build
java/spacewalk-java/buildconf/ivy/repository/
java/spacewalk-java/repository
java/spacewalk-java/lib
java/spacewalk-java/*.log
java/spacewalk-java/*.log.*
java/spacewalk-java/bin/*
java/spacewalk-java/buildconf/builder/config/local
java/spacewalk-java/buildconf/manager-developer-build.properties
java/spacewalk-java/buildconf/test/rhn.conf
java/spacewalk-java/buildconf/tempjars/*
java/**/target
java/spacewalk-java/.checkstyle
**/.classpath
java/spacewalk-java/.externalToolBuilders
java/spacewalk-java/.pmd
java/spacewalk-java/.project
**/.settings/*
**/.factorypath
java/spacewalk-java/conf/eclipse/bin
java/spacewalk-java/conf/eclipse/.project
java/spacewalk-java/rhnwebapp
java/spacewalk-java/velocity.log*
java/spacewalk-java/*.jar
java/spacewalk-java/*.txt
java/spacewalk-java/*.out
java/spacewalk-java/test-results
java/**/*.iml
javabuild/checkstyle.cache.src
thrift/gen-*
search-server/spacewalk-search/.classpath
search-server/spacewalk-search/.project
search-server/spacewalk-search/.checkstyle
search-server/spacewalk-search/.settings
search-server/spacewalk-search/build
search-server/spacewalk-search/lib
search-server/spacewalk-search/dist
search-server/spacewalk-search/rhn-search.pid
search-server/spacewalk-search/rhn_search_daemon.log
search-server/spacewalk-search/buildconf/repository/
*~
*#*#*
.obs-to-maven-cache
.project
.pydevproject
.zanata-cache
web/html/css
web/html/img
web/html/pub
web/html/templates
web/html/bootstrap/
web/rpm-build
web/rhn-web-*.tar.gz
sqlnet.log
*.tar.gz
*.tar.xz
*.zip
backend/satellite_tools/spacewalk-repo-syncc
node_modules
node-modules.tar.gz
node_modules.tar.gz
# This should never be used since we use NPM, but avoid anyone accidentally committing it
yarn.lock
yarn-error.log

rel-eng/custom/__pycache__

# Intellij IDEA
.idea/
*.iml
java/**/out
out/
java/spacewalk-java/buildconf/checkstyle.cache.src
reports/
!reporting/reports/
*.mypy*

# VS Code
java/spacewalk-java/.vscode/launch.json
python/.vscode
.vscode/launch.json
*.code-workspace

# Python
venv/
.venv/

# Schema

schema/spacewalk/common/data/rhnVersionInfo.sql
schema/spacewalk/postgres/data/common/
schema/spacewalk/postgres/main.sql
schema/spacewalk/postgres/tables/common/
schema/spacewalk/postgres/views/common/
schema/spacewalk/postgres/schemas/common/
schema/spacewalk/upgrade/*/*.postgresql
schema/reportdb/postgres/docs/tables/*.sql
schema/reportdb/postgres/docs/views/*.sql
schema/reportdb/upgrade/*/*.postgresql
schema/reportdb/common/data/VersionInfo.sql
schema/reportdb/postgres/data/common/
schema/reportdb/postgres/documentation.sql
schema/reportdb/postgres/main.sql
schema/reportdb/postgres/tables/common/
schema/reportdb/postgres/views/common/


