*.swp
*.swo
*.bak
*.pyc
*.pyo
*.src.rpm
*.git.*.rpm
*.Ds_Store
java/build
java/buildconf/ivy/repository/
java/lib
java/*.log
java/*.log.*
java/bin/*
java/buildconf/builder/config/local
java/buildconf/manager-developer-build.properties
java/buildconf/test/rhn.conf
java/buildconf/tempjars/*
java/.checkstyle
java/.classpath
java/.externalToolBuilders
java/.pmd
java/.project
java/.settings/*
java/conf/eclipse/bin
java/conf/eclipse/.project
java/rhnwebapp
java/velocity.log*
java/*.jar
java/*.txt
java/*.out
java/test-results
java/**/*.iml
javabuild/checkstyle.cache.src
thrift/gen-*
search-server/spacewalk-search/.classpath
search-server/spacewalk-search/.project
search-server/spacewalk-search/.checkstyle
search-server/spacewalk-search/.settings
search-server/spacewalk-search/build
search-server/spacewalk-search/lib
search-server/spacewalk-search/dist
search-server/spacewalk-search/rhn-search.pid
search-server/spacewalk-search/rhn_search_daemon.log
search-server/spacewalk-search/buildconf/repository/
*~
*#*#*
.obs-to-maven-cache
.project
.pydevproject
.zanata-cache
web/html/css
web/html/img
web/html/pub
web/html/templates
web/html/bootstrap/
web/rpm-build
web/rhn-web-*.tar.gz
sqlnet.log
*.tar.gz
*.tar.xz
*.zip
backend/satellite_tools/spacewalk-repo-syncc
node_modules
node-modules.tar.gz
yarn-error.log
# This should never be used since we use Yarn, but avoid anyone accidentally committing it
package-lock.json

# Intellij IDEA
.idea/
*.iml
java/out
out/
java/buildconf/checkstyle.cache.src
reports/
!reporting/reports/
*.mypy*

# VS Code
java/.vscode/launch.json
python/.vscode

# Python
venv/
.venv/
*.egg-info/
*.egg
wheels/
__pycache__/
build/
.pytest_cache/

# Schema

schema/spacewalk/common/data/rhnVersionInfo.sql
schema/spacewalk/postgres/data/common/
schema/spacewalk/postgres/main.sql
schema/spacewalk/postgres/tables/common/
schema/spacewalk/postgres/views/common/
schema/spacewalk/upgrade/*/*.postgresql
schema/reportdb/postgres/docs/tables/*.sql
schema/reportdb/postgres/docs/views/*.sql
schema/reportdb/upgrade/*/*.postgresql
schema/reportdb/common/data/VersionInfo.sql
schema/reportdb/postgres/data/common/
schema/reportdb/postgres/documentation.sql
schema/reportdb/postgres/main.sql
schema/reportdb/postgres/tables/common/
schema/reportdb/postgres/views/common/


