yarn-path "./susemanager-frontend/susemanager-nodejs-sdk-devel/build/yarn/yarn-1.14.0.js"
--install.cwd susemanager-frontend
--clean.cwd susemanager-frontend
--audit.cwd susemanager-frontend
--autoclean.cwd susemanager-frontend
--add.cwd susemanager-frontend/susemanager-nodejs-sdk-devel
--remove.cwd susemanager-frontend/susemanager-nodejs-sdk-devel
