yarn-path "./susemanager-frontend/susemanager-nodejs-sdk-devel/build/yarn/yarn-1.22.4.js"
# See https://classic.yarnpkg.com/lang/en/docs/yarnrc/#toc-cli-arguments
--install.cwd susemanager-frontend
--clean.cwd susemanager-frontend
--audit.cwd susemanager-frontend
--autoclean.cwd susemanager-frontend
--add.cwd susemanager-frontend/susemanager-nodejs-sdk-devel
--remove.cwd susemanager-frontend/susemanager-nodejs-sdk-devel
# Don't run package post-install etc scripts by default to reduce our vulnerable surface
ignore-scripts true
