yarn-path "./web/html/src/build/yarn/yarn-1.22.17.js"
# See https://classic.yarnpkg.com/lang/en/docs/yarnrc/#toc-cli-arguments
--cwd web/html/src

# Don't run package post-install etc scripts by default to reduce our vulnerable surface
# TODO: Reenable this once https://github.com/yarnpkg/yarn/issues/7338 gets fixed
# ignore-scripts true
