[Desktop Entry]
Name=Trash
Name[ar]=المهملات
Name[az]=Səbət
Name[be]=Сметніца
Name[bg]=Кошче
Name[ca]=Paperera
Name[ca@valencia]=Paperera
Name[cs]=Koš
Name[da]=Papirkurv
Name[de]=Papierkorb
Name[el]=Απορρίμματα
Name[en_GB]=Wastebin
Name[eo]=Rubujo
Name[es]=Papelera
Name[et]=Prügikast
Name[eu]=Zakarrontzia
Name[fi]=Roskakori
Name[fr]=Corbeille
Name[gl]=Lixo
Name[he]=אשפה 
Name[hi]=कचरा
Name[hsb]=Papjernik
Name[hu]=Kuka
Name[ia]=Corbe
Name[id]=Tempat Sampah
Name[is]=Rusl
Name[it]=Cestino
Name[ja]=ごみ箱
Name[ka]=ნაგავი
Name[ko]=휴지통
Name[lt]=Šiukšlinė
Name[lv]=Miskaste
Name[ml]=ചവറ്റുകുട്ട
Name[nl]=Prullenbak
Name[nn]=Papirkorg
Name[pa]=ਰੱਦੀ
Name[pl]=Kosz
Name[pt]=Lixo
Name[pt_BR]=Lixeira
Name[ro]=Gunoi
Name[ru]=Корзина
Name[se]=Ruskalihtti
Name[sk]=Kôš
Name[sl]=Smeti
Name[sr]=Смеће
Name[sr@ijekavian]=Смеће
Name[sr@ijekavianlatin]=Smeće
Name[sr@latin]=Smeće
Name[sv]=Papperskorg
Name[ta]=அகற்றிடம்
Name[tg]=Сабад
Name[tr]=Çöp Kutusu
Name[uk]=Смітник
Name[vi]=Thùng rác
Name[x-test]=xxTrashxx
Name[zh_CN]=回收站
Name[zh_TW]=垃圾桶
Comment=Contains removed files
Comment[ar]=يحوي ملفات مزالة
Comment[az]=Silinən fayllar burada yerləşir
Comment[be]=Змяшчае выдаленыя файлы
Comment[bg]=Съдържа файлове,изпратени в кошчето
Comment[ca]=Conté els fitxers eliminats
Comment[ca@valencia]=Conté els fitxers eliminats
Comment[cs]=Obsahuje odstraněné soubory
Comment[da]=Indeholder slettede filer
Comment[de]=Enthält gelöschte Dateien
Comment[el]=Περιέχει αρχεία που αφαιρέθηκαν
Comment[en_GB]=Contains removed files
Comment[eo]=Enhavas forigitajn dosierojn
Comment[es]=Contiene archivos eliminados
Comment[et]=Sisaldab eemaldatud faile
Comment[eu]=Kendutako fitxategiak ditu
Comment[fi]=Sisältää poistetut tiedostot
Comment[fr]=Contient les fichiers supprimés
Comment[gl]=Contén ficheiros retirados.
Comment[he]=מכיל קבצים שנמחקו
Comment[hi]=हटाई गई फ़ाइलें शामिल हैं
Comment[hsb]=Wobsahuje wumazane dataje
Comment[hu]=Eltávolított fájlok gyűjtőhelye
Comment[ia]=Il contine files removite
Comment[id]=Berisi file-file yang dibuang
Comment[is]=Inniheldur skrár sem hefur verið eytt
Comment[it]=Contiene i file rimossi
Comment[ja]=削除されたファイルを保管します
Comment[ka]=შეიცავს წაშლილ ფაილებს
Comment[ko]=삭제된 파일 및 폴더가 있습니다
Comment[lt]=Čia yra pašalinti failai
Comment[lv]=Satur izmestās datnes
Comment[ml]=നീക്കംചെയ്ത ഫയലുകൾ അടങ്ങിയിരിക്കുന്നു
Comment[nl]=Bevat de verwijderde bestanden
Comment[nn]=Inneheld sletta filer
Comment[pa]=ਹਟਾਈਆਂ ਫਾਇਲਾਂ ਰੱਖਦਾ ਹੈ
Comment[pl]=Zawiera usunięte pliki
Comment[pt]=Contém os ficheiros removidos
Comment[pt_BR]=Contém os arquivos removidos
Comment[ro]=Conține fișiere șterse
Comment[ru]=Содержит файлы, которые вы удалили
Comment[se]=Dáppe leat eret váldon fiillat
Comment[sk]=Obsahuje odstránené súbory
Comment[sl]=Vsebuje odstranjene datoteke
Comment[sr]=Садржи уклоњене фајлове
Comment[sr@ijekavian]=Садржи уклоњене фајлове
Comment[sr@ijekavianlatin]=Sadrži uklonjene fajlove
Comment[sr@latin]=Sadrži uklonjene fajlove
Comment[sv]=Innehåller borttagna filer
Comment[ta]=அகற்றப்பட்ட கோப்புகளைக் கொண்டது
Comment[tg]=Дорои файлҳои нестшуда мебошад
Comment[tr]=Silinen dosyaları içerir
Comment[uk]=Містить вилучені файли
Comment[vi]=Chứa các tệp đã bị xoá
Comment[x-test]=xxContains removed filesxx
Comment[zh_CN]=储存已删除的文件
Comment[zh_TW]=包含已移除的檔案
Icon=user-trash-full
EmptyIcon=user-trash
Type=Link
URL=trash:/
OnlyShowIn=KDE;

