#formula-details

script(type="text/javascript").
    window.csrfToken = "#{csrf_token}";
    window.formulaName = "#{formulaName}";

script(type='text/javascript').
    spaImportReactPage('salt/formula-catalog/org-formula-details')
        .then(function(module) { module.renderer('formula-details') });
