html,
body {
  height: 100%;
  min-height: 100%;
  min-width: fit-content;
  margin: 0;
  max-height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.spacewalk-main-column-layout {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;

  aside {
    overflow: auto;
    position: relative;

    footer {
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
    }
  }

  #page-body {
    flex: 1 1 auto;
    overflow: auto;
  }
}
