html,
body {
  height: 100%;
  min-height: 100%;
  min-width: fit-content;
  margin: 0;
  max-height: 100%;
  overflow: hidden;
}

html {
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.spacewalk-main-column-layout {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;

  #spacewalk-aside {
    overflow: hidden;
    position: relative;
    // This is a carryover from the old theme, this can be rounded up or down after the Bootstrap migration is complete
    max-width: 16.66666667%;
    min-width: 16.66666667%;

    footer {
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
    }
  }

  #page-body {
    flex: 1 1 auto;
    overflow: auto;
  }

  #spacewalk-content {
    // TODO: This is 2rem for the Uyuni theme
    // TODO: Make this uniform between both themes after all pages have been migrated
    padding: 1.5rem 4rem 4rem;
  }
}
