// These styles are migrated verbatim from the old theme
.dropdown-menu {
  min-width: 160px;
  padding: 5px 0;
  font-size: 14px;
  background-color: $dropdown-bg;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px $box-shadow;
  
  .dropdown-item,
  a {
    color: inherit;
    display: flex;
    padding: 3px 16px;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    width: 100%;

    &:hover {
      background-color: $dropdown-hover-bg;
      text-decoration: none;
    }
  }
}
