.hierarchical-table {
  .table-responsive > table > tbody {
    > .list-row-even, > .list-row-odd {
      height: 52px;
    }
  }

  .expandable-entry {
    display: flex;

    .product-hover:hover {
      color: $orange-light;
    }
  }
}
