@at-root {
  :root {
    --bs-border-color: #{$input-border-color};
    --bs-border-radius: #{$border-radius};
  }
}

div.form-control,
.form-control,
.form-control--react-select > div:first-of-type {
  --bs-border-width: 1px;
  color: $input-color;
  height: $input-height;
  max-width: 100%;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  box-shadow: none !important;
  font-size: $font-size-base;
  line-height: 1em !important;
  appearance: auto !important;


  &,
  &:focus,
  &:active {
    color: $input-color;
    background: $input-active-bg;
  }

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}

.form-control {
  --padding: 8px;
  padding: var(--padding) !important;

  &:focus {
    border: 1px solid $eos-bc-blue-500 !important;
    outline: none !important;
  }

  &.disabled,
  &:disabled {
    color: $eos-bc-gray-700;
    pointer-events: auto;
    cursor: not-allowed;
    background: $input-disabled-bg;

    &:focus {
      border-color: $input-border-color !important;
    }

    &:focus:-webkit-autofill,
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $input-autofill-bg inset !important;
      -webkit-text-fill-color: $input-color !important;
    }
  }

  &:read-only {
    color: $input-readonly-color;
    pointer-events: auto;
    cursor: default;

    &:focus {
      border-color: $input-border-color !important;
    }
  }

  &::placeholder {
    color: $input-placeholder;
    opacity: 1;
  }

}

.form-control-static {
  padding-top: 8px;
  padding-bottom: 8px;
}

div.form-control {
  background: $input-readonly-bg;

  &:focus,
  &:active {
    background: $input-readonly-bg;
  }
}

.form-check-input {
  --bs-border-width: 1px;
}

// TODO: Bind this class to the react-select control once we upgrade react-select, see https://react-select.com/styles#the-classnames-prop
.form-control--react-select > div:first-of-type {
  outline: none !important;

  &[class*="--is-focused"],
  &[class*="--menu-is-open"] {
    border-color: $eos-bc-blue-500 !important;
  }
}

// react-select control dropdown memu
[class*="__menu"],
[class*="__option"] {
  color: $select-dropdown-color;
  background: $select-dropdown-bg;
}

[class*="__option--is-focused"],
[class*="__option--is-focused"]:active {
  background: $select-dropdown-focused-bg;
}

[class*="__option--is-selected"] {
  color: $select-dropdown-selected-color;
  background: $select-dropdown-selected-bg;
}

.css-1uccc91-singleValue {
  color: $select-dropdown-color;
}

.form-control--react-select {
  .child__control {
    &:hover,
    &--is-focused,
    &--menu-is-open {
      border-color: $eos-bc-blue-500 !important;
      box-shadow: 0 0 0 1px $eos-bc-blue-500 !important;
    }
  }
}

textarea.form-control,
select[multiple],
select[size] {
  height: auto;
}

// We need to manually handle these cases to fix legacy DOM structures
.input-group {
  --bs-border-width: 1px;
}

.input-group-btn:not(:first-child) .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-text {
  --bs-border-width: 1px;
  font-size: 1em;
  line-height: 1.5;
  background: $gray-lighter;
  padding: 6px 12px;

  > .fa {
    margin: 0 !important;
    font-size: inherit;
    line-height: inherit;
  }
}

.input-group {
  align-items: center;
}

.input-group-addon {
  color: $input-group-addon-color;
  background: $input-group-addon-bg;
  font-size: 1em;
}

.ace-xcode .ace_gutter {
  background: $ace-gutter-bg;
  color: #8F908A;
}

