$nav-tabs-offset: 30px;

.nav-tabs {
  margin-bottom: 0.25rem;
  border-bottom: 1px solid $eos-bc-gray-100;

  &:nth-child(2) {
    margin-left: $nav-tabs-offset;
  }

  &:nth-child(3) {
    margin-left: 2 * $nav-tabs-offset;
  }

  &:last-child {
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: -1px;

    a {
      color: $eos-bc-gray-1000;
  
      &:hover {
        border-color: $eos-bc-green-500;
        padding-bottom: 1px;
        border-bottom-width: 5px;
        text-decoration: none !important;
      }
  
      &:active, &:focus {
        color: $eos-bc-gray-1000;
        background: transparent;
      }
  
      // TODO: Check disabled states
    }
  
    &.active {
      a {
        &, &:hover, &:active, &:focus {
          color: $eos-bc-gray-1000;
        }
      }
    }
  }
  // Style for BETA label on the specific schedule tab
  li a[href*="schedule-scap-scan"] {
    &::after {
      content: " BETA";
      display: inline-block;
      font-size: 0.7em;
      font-weight: 600;
      padding: 2px 6px;
      margin-left: 6px;
      border-radius: 3px;
      background-color: #f0ad4e;
      color: #fff;
      vertical-align: middle;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }
}
