$nav-tabs-offset: 30px;

.nav-tabs {
  margin-bottom: 0.25rem;
  border-bottom: 1px solid $tabs-border-color;

  &:nth-child(2) {
    margin-left: $nav-tabs-offset;
  }

  &:nth-child(3) {
    margin-left: 2 * $nav-tabs-offset;
  }

  &:last-child {
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: -1px;

    a {
      color: $body-color;
  
      &:hover {
        border-color: $eos-bc-green-500;
        padding-bottom: 1px;
        border-bottom-width: 5px;
        text-decoration: none !important;
      }
  
      &:active, &:focus {
        color: $body-color;
        background: transparent;
      }
  
      // TODO: Check disabled states
    }
  
    &.active {
      a {
        &, &:hover, &:active, &:focus {
          color: $body-color;
        }
      }
    }
  }  
}
