 // Used in table
.panel {
  background: $panel-gray-bg;
  box-shadow: none;

  &-default {
    border: none;

    > .panel-heading {
      padding: 1rem;
      background: transparent;
      border-bottom: 1px solid $panel-border;
    }

    .list-group-item {
      border-bottom: 1px solid $panel-border;
      text-align: left;

      &:last-child {
        border-bottom: none;
      }
    }

    .ui-sortable .list-group-item {
      cursor: grab;
    }

    > .panel-body .list-group {
      border: 1px solid $eos-bc-gray-100;

      .list-group-item:hover {
        background-color: $eos-bc-gray-100;
        text-decoration: none;
      }
    }
  }
}
