.panel {
  border-radius: $border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  &-default {
    border: 1px solid $panel-border;

    > .panel-heading {
      padding: 1rem 1.5rem;
      border-bottom: 1px solid $panel-border;
      // TODO: Make this $eos-bc-gray-50 after the whole Bootstrap migration is complete
      background: $panel-gray-bg;
    }

    .list-group-item {
      border: 0;
      border-bottom: 1px solid $panel-border;
      text-align: left;

      &:last-child {
        border-bottom: none;
      }
    }

    > .panel-body .list-group {
      border: 1px solid $panel-border;

      .list-group-item:hover {
        background-color: $panel-gray-bg;
        text-decoration: none;
      }
    }

    .ui-sortable .list-group-item {
      cursor: grab;
    }
  }

  .panel-footer {
    border-top: 1px solid $panel-border;
    background: $panel-gray-bg !important;
  }
}
