// This emulates the old theme verbatim, we can clean these styles up after the migration is done
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: $code-bg; //#f9f2f4;
  border-radius: 0;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 0;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
  box-shadow: none;
}

pre {
  display: block;
  padding: 10px;
  margin: 0 0 10.5px;
  font-size: 13px;
  line-height: 1.5;
  color: $body-color;
  word-wrap: break-word;
  background-color: $pre-bg;
  border: 1px solid $pre-border;
  border-radius: 0;
  white-space: pre-wrap;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
