.spacewalk-list-head-addons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  label {
    cursor: pointer;
  }

  .spacewalk-list-head-addons-extra {
    float: right;
    width: auto;
    white-space: nowrap;
  }
}

.spacewalk-list-bottom-addons > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-input-search {
  display: block;
  width: 100%;
  max-width: 500px;
}

thead tr {
  background: $tb-thead-tr-bg !important;
  color: $tb-orderBy-text !important;
  

  .btn-link {
    padding: 0 !important;
    border-width: 0 !important;
    color: $eos-bc-gray-1000 !important;
    font-weight: bold !important;
    background: transparent;
  }

  .text-center {
    text-align: center;
  }
}

tbody tr,
tbody tr td,
.list-row-odd,
.list-row-even {
  background: transparent !important;
}

tbody tr td .modal-link {
  border: 0;
  color: $eos-bc-blue-500;
  font-weight: 600;
  background: transparent;
}

.display-number {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
  width: fit-content;
  border: 1px solid $input-border-color;
  color: $input-color;
  background-color: $input-active-bg;
}

.selected-row-details {
  background-color: rgba(179, 232, 246, 0.5);
  padding: 0px 15px;

  .btn {
    padding: 4px 6px;
  }
}

.page-selector {
  border: 0;
  font-weight: 600;
  padding: 4px;
  gap: 0.2em;
  background-color: transparent;

  & ~ ul.dropdown-menu i {
    font-size: 12px;
    color: $eos-bc-green-900;
    margin: 0;
  }
}

.pagination-icon {
  font-size: 18px;
  font-weight: bolder;
}

.table-page-information {
  padding: 8px 15px;
  border-right: 1px solid $tb-border-color;
  font-weight: 600;
  padding-right: 35px;

  > .small-select {
    background-color: transparent;
    color: $body-color;
    font-weight: 600;
  }
}
