.spacewalk-section-toolbar {
  background: transparent;
  padding: 0;
  border: none;

  &.fixed {
    background: $eos-bc-white;
    border-bottom: 1px solid $eos-bc-gray-300;
  }
}

// I have no idea why this is solved this way, but it's a carryover from the old theme
.spacewalk-toolbar-h1 .spacewalk-toolbar {
  float: right !important;
  padding: 0.5em 1em;
}
