.tooltip {
  background-color: $eos-bc-gray-1000;
  color: $white;
  font-size: 11px;
  font-weight: 600;
  border-radius: 3px;
  pointer-events: none;

  .tooltip-arrow::before {
    --bs-tooltip-bg: #{$eos-bc-gray-1000};
  }
}

.tooltip.wide-tooltip .tooltip-inner {
  max-width: 400px;
  text-align: left;
  white-space: pre-line;
  pointer-events: none;
}
