.spacewalk-section-toolbar {
  position: sticky;
  top: -1px;
  background: $body-background;
  padding: 0;
  border: none;
  z-index: 200;
  padding: 0 $content-area-padding-side;
  margin: 0 calc(-1 * $content-area-padding-side);

  &.is-sticky {
    border-bottom: 1px solid $eos-bc-gray-100;
  }
}

// I have no idea why this is solved this way, but it's a carryover from the old theme
.spacewalk-toolbar-h1 .spacewalk-toolbar {
  float: right !important;
  padding: 0.5em 1em;
}
