.tooltip {
  background-color: $tooltip-bg;
  color: $tooltip-color;
  font-size: 11px;
  font-weight: 600;
  border-radius: 3px;

  .tooltip-arrow::before {
    --bs-tooltip-bg: #{$tooltip-bg};
  }
}
