# This file is expected to be found in `/etc/sysconfig/container-proxy-services.config`,
# the EnvironmentFile services property is pointing there

REGISTRY=registry.tf.local
CONFIG_DIR=/root/proxy-config
SQUID_CACHE_DIR=/root/proxy-squid-cache
RHN_CACHE_DIR=/root/proxy-rhn-cache
TFTPBOOT_DIR=/root/proxy-tftpboot

# HACK: overcome the inavailability of avahi in containers
#
# Note: quotes '' wrapping the value are needed and the variable substitution is use in the format of $ADD_HOSTS (not ${ADD_HOSTS})
# See https://www.freedesktop.org/software/systemd/man/systemd.service.html#Command%20lines for reference
#
# Example:
# ADD_HOSTS='--add-host=server.tf.local:192.168.122.254 --add-host=client.tf.local:192.168.122.89'
