# This file is expected to be found in `/etc/sysconfig/container-proxy-services.config`,
# the EnvironmentFile services property is pointing there

REGISTRY=registry.tf.local
CONFIG_DIR=/root/proxy-config
SQUID_CACHE_DIR=/root/proxy-squid-cache
RHN_CACHE_DIR=/root/proxy-rhn-cache
TFTPBOOT_DIR=/root/proxy-tftpboot
