# This file is expected to be found in `/etc/sysconfig/container-proxy-services.config`,
# the EnvironmentFile services property is pointing there

# Where to get the images from.
# It should contain the registry FQDN and path to the proxy-* images without trailing slash 
NAMESPACE=registry.opensuse.org/uyuni

# Tag of the images to pull
TAG=latest

CONFIG_DIR=/etc/uyuni/proxy
SQUID_CACHE_DIR=/var/lib/uyuni/proxy-squid-cache
RHN_CACHE_DIR=/var/lib/uyuni/proxy-rhn-cache
TFTPBOOT_DIR=/var/lib/uyuni/proxy-tftpboot

# Pass additional parameters to the pod start command.
#
# Example:
# ADD_HOSTS='--add-host=server.tf.local:192.168.122.254 --add-host=client.tf.local:192.168.122.89'
EXTRA_POD_ARGS=''
