# This file is expected to be found in `/etc/sysconfig/container-proxy-services.config`,
# the EnvironmentFile services property is pointing there

NAMESPACE=registry.opensuse.org/uyuni
CONFIG_DIR=/etc/uyuni/proxy

# Pass additional parameters to the pod start command.
#
# Example:
# ADD_HOSTS='--add-host=server.tf.local:192.168.122.254 --add-host=client.tf.local:192.168.122.89'
EXTRA_POD_ARGS=''
