include /templates/common.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#create-access-group.h-100

script(type='text/javascript').
    spaImportReactPage('admin/create-access-group')
        .then(function(module) {
            module.renderer(
                'create-access-group',
                { }
            );
        });
