include /templates/common.jade

#add-iss-hub

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/iss/add/hub')
        .then(function (module) {
            module.renderer(
                'add-iss-hub', !{peripherals}
            )
        });
