include /templates/common.jade

#create-peripheral

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/hub/peripheral/create')
        .then(function (module) {
            module.renderer(
                'create-peripheral'
            )
        });
