include /templates/common.jade

#migrate-from-v1

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/hub/migrate-from-v1')
        .then(function(module) {
            module.renderer("migrate-from-v1", !{migrationEntries});
        });
