include /templates/common.jade

#hub-details

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/hub/hub-details')
        .then(function (module) {
            module.renderer("hub-details", !{hub});
        });
