include /templates/common.jade

#iss-hub

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/iss/hub')
        .then(function (module) {
            module.renderer(
                'iss-hub', !{peripherals}
            )
        });
