include /templates/common.jade

#access-tokens

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/hub/list-tokens')
        .then(function(module) {
            module.renderer("access-tokens");
        });
