include /templates/common.jade

#iss-peripheral

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/iss/peripheral')
        .then(function (module) {
            module.renderer(
                'iss-peripheral', !{hubs}
            )
        });
