include /templates/common.jade

#monitoring

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/config/monitoring')
        .then(function (module) { module.renderer('monitoring', {}) });
