include /templates/common.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#monitoring
    script(type='text/javascript').
        injectReactPage('admin/config/monitoring', {
            isUyuni: JSON.parse("#{isUyuni}"),
        });
