include /templates/common.jade

#password-policy

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/config/password-policy')
        .then(function (module) {
            module.renderer(
                'password-policy',
                {
                }
            )
        });
