include /templates/common.jade

div#init_data_payg_instances(style="display: none")
    | #{contentPaygInstances}

#list-payg
    script(type='text/javascript').
        injectReactPage('admin/setup/list-payg', {
            payg_instances: document.getElementById('init_data_payg_instances').textContent,
            flashMessage: "#{flashMessage}"
        });
