include /templates/common.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#create-payg
    script(type='text/javascript').
        injectReactPage('admin/setup/create-payg');
