include /templates/common.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

div#init_data_payg(style="display: none")
    | #{paygInstance}


#payg-ssh
    script(type='text/javascript').
        injectReactPage('admin/setup/payg', {
            payg: document.getElementById('init_data_payg').textContent,
            wasFreshlyCreatedMessage: "#{wasFreshlyCreatedMessage}"
        });
