include /templates/common.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#proxy
    script(type='text/javascript').
        injectReactPage('admin/setup/proxy', {
            proxySettings: !{proxySettings}
        });
