include /templates/common.jade

#update-peripheral

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/hub/peripheral/update')
        .then(function (module) {
            module.renderer(
                'update-peripheral', !{peripheral}
            )
        });
