include ../common.jade
#products

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";

+userPreferences
script(src='/javascript/manager/products.bundle.js', type='text/javascript')

script(src='/rhn/dwr/interface/ProductsRenderer.js', type='text/javascript')
script(src='/rhn/dwr/interface/MgrSyncAJAX.js', type='text/javascript')
script(src='/rhn/dwr/engine.js', type='text/javascript')
script(src='/javascript/susemanager-scc-refresh-dialog.js', type='text/javascript')
script(src='/javascript/susemanager-setup-wizard.js', type='text/javascript')
script(src='/javascript/susemanager-setup-wizard-suse-products.js', type='text/javascript')