include ../common.jade

#subscription-matching

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('audit/subscription-matching')
        .then(function(module) { module.renderer('subscription-matching') });
