# Copyright (c) 2020-2024 SUSE LLC.
# Licensed under the terms of the MIT license.

@<client>
Feature: Smoke tests for <client>
  In order to manage <client>
  As an authorized user
  I want to :
  - View the details of the system
  - Install a package via Web UI
  - Install a patch via Web UI
  - Remove a package via Web UI
  - Execute a remote command via Web UI
  - Apply a configuration file via Web UI
  - Schedule Software package refresh
  - Schedule Hardware refresh
  - Reboot the client via Web UI
  - Install spacecmd from client tools
  - Enable Prometheus and Prometheus Exporter

  Scenario: Create <client> user
    Given I create a user with name "<client>" and password "linux"

  Scenario: Log in as <client> user
    Given I am authorized as "<client>" with password "linux"

  Scenario: Check that Software package refresh works on a <client>
    Given I am on the Systems overview page of this "<client>"
    When I follow "Software" in the content area
    And I wait until I see "Upgrade Packages" text
    And I click on "Update Package List"
    And I force picking pending events on "<client>" if necessary
    And I wait until event "Package List Refresh scheduled by <client>" is completed

  Scenario: Check that Hardware Refresh button works on a <client>
    Given I am on the Systems overview page of this "<client>"
    When I follow "Details" in the content area
    And I wait until I see "System Status" text
    And I follow "Hardware"
    And I wait until I see "Refresh Hardware List" text
    And I click on "Schedule Hardware Refresh"
    Then I should see a "You have successfully scheduled a hardware profile refresh" text
    When I force picking pending events on "<client>" if necessary
    And I wait until event "Hardware List Refresh scheduled by <client>" is completed
    And I wait until there is no Salt job calling the module "hardware.profileupdate" on "<client>"

  Scenario: Client <client> grains are displayed correctly on the details page
    Given I am on the Systems overview page of this "<client>"
    Then the hostname for "<client>" should be correct
    And the kernel for "<client>" should be correct
    And the OS version for "<client>" should be correct
    And the IPv4 address for "<client>" should be correct
    And the IPv6 address for "<client>" should be correct
    And the system ID for "<client>" should be correct
    And the system name for "<client>" should be correct
    And I should see several text fields

@skip_for_debianlike
@skip_for_rocky9
@skip_for_alma9
  Scenario: Install a patch on the <client>
    Given I am on the Systems overview page of this "<client>"
    When I follow "Software" in the content area
    And I wait until I see "Upgrade Packages" text
    And I follow "Patches" in the content area
    When I wait until I see "Relevant Patches" text
    When I check the first patch in the list, that does not require a reboot
    And I click on "Apply Patches"
    And I click on "Confirm"
    Then I should see a "1 patch update has been scheduled for" text
    When I force picking pending events on "<client>" if necessary
    And I wait until event "Patch Update:" is completed
    And I reboot the "<client>" if it is a SLE Micro

@skip_for_sle_micro_ssh_minion
  Scenario: Install a package on the <client>
    Given I am on the Systems overview page of this "<client>"
    When I follow "Software" in the content area
    And I wait until I see "Upgrade Packages" text
    And I follow "Install"
    And I wait until I see "Installable Packages" text
    And I enter the package for "<client>" as the filtered package name
    And I click on the filter button
    And I check the package for "<client>" in the list
    And I click on "Install Selected Packages"
    And I click on "Confirm"
    Then I should see a "1 package install has been scheduled for" text
    When I force picking pending events on "<client>" if necessary
    And I wait until event "Package Install/Upgrade scheduled by <client>" is completed
    And I reboot the "<client>" if it is a SLE Micro

@skip_for_sle_micro_ssh_minion
  Scenario: Remove package from <client>
    Given I am on the Systems overview page of this "<client>"
    When I follow "Software" in the content area
    And I wait until I see "Upgrade Packages" text
    And I follow "List / Remove"
    And I enter the package for "<client>" as the filtered package name
    And I click on the filter button
    And I check the package for "<client>" in the list
    And I click on "Remove Packages"
    And I click on "Confirm"
    Then I should see a "1 package removal has been scheduled" text
    When I force picking pending events on "<client>" if necessary
    And I wait until event "Package Removal scheduled by <client>" is completed
    And I reboot the "<client>" if it is a SLE Micro

@skip_for_traditional
  Scenario: Run a remote command on <client> minion
    When I follow the left menu "Salt > Remote Commands"
    Then I should see a "Remote Commands" text in the content area
    When I enter command "echo 'My remote command output'"
    And I enter the hostname of "<client>" as "target"
    And I click on preview
    Then I should see a "Target systems (1)" text
    When I wait until I do not see "pending" text
    And I click on run
    And I wait until I see "show response" text
    And I expand the results for "<client>"
    Then I should see "My remote command output" in the command output for "<client>"

@skip_for_minion
  Scenario: Run a remote command on <client> traditional client
    Given I am on the Systems overview page of this "<client>"
    When I follow "Remote Command" in the content area
    And I wait until I see "Run as user" text
    And I enter as remote command this script in
      """
      #!/bin/bash
      touch /tmp/remote-command-on-<client>
      """
    And I click on "Schedule"
    Then I should see a "Remote Command has been scheduled successfully" text
    When I force picking pending events on "<client>" if necessary
    And I wait until file "/tmp/remote-command-on-<client>" exists on "<client>"

  Scenario: Subscribe a <client> to the configuration channel
    Given I am on the Systems overview page of this "<client>"
    When I follow "Configuration" in the content area
    And I wait until I see "Configuration Overview" text
    And I follow "Manage Configuration Channels" in the content area
    And I wait until I see "centrally-managed configuration" text
    And I follow first "Subscribe to Channels" in the content area
    And I wait until I see "Select Channels for Subscription" text
    And I check "Mixed Channel" in the list
    And I click on "Continue"
    And I click on "Update Channel Rankings"
    Then I should see a "Channel Subscriptions successfully changed for" text
    And I reboot the "<client>" if it is a SLE Micro

  Scenario: Deploy the configuration file to <client>
    When I follow the left menu "Configuration > Channels"
    And I wait until I see "Centrally Managed Configuration Channel" text
    And I follow "Mixed Channel"
    And I wait until I see "Channel Properties" text
    And I follow "Deploy all configuration files to selected subscribed systems"
    And I wait until I see "Select Systems for Deployment" text
    And I enter the hostname of "<client>" as the filtered system name
    And I click on the filter button
    And I check the "<client>" client
    And I click on "Confirm & Deploy to Selected Systems"
    And I wait until I see "Revision 1" text
    Then I should see a "/etc/s-mgr/config" link
    When I click on "Deploy Files to Selected Systems"
    Then I should see a "1 revision-deploy is being scheduled." text
    And I should see a "0 revision-deploys overridden." text
    When I force picking pending events on "<client>" if necessary
    And I wait until file "/etc/s-mgr/config" exists on "<client>"
    Then file "/etc/s-mgr/config" should contain "COLOR=white" on "<client>"

  Scenario: Reboot the <client> and wait until reboot is completed
    Given I am on the Systems overview page of this "<client>"
    When I follow first "Schedule System Reboot"
    Then I should see a "System Reboot Confirmation" text
    And I should see a "Reboot system" button
    When I click on "Reboot system"
    Then I should see a "Reboot scheduled for system" text
    When I force picking pending events on "<client>" if necessary
    And I wait at most 600 seconds until event "System reboot scheduled by <client>" is completed
    Then I should see a "This action's status is: Completed" text

@skip_for_sle_micro
  # The client tools of SLE Micro (intentionally) do not contain spacecmd
  Scenario: Install spacecmd from the client tools on the <client>
    Given I am on the Systems overview page of this "<client>"
    When I follow "Software" in the content area
    And I wait until I see "Upgrade Packages" text
    And I follow "Install"
    And I wait until I see "Installable Packages" text
    And I enter "spacecmd" as the filtered package name
    And I click on the filter button
    And I check "spacecmd" in the list
    And I click on "Install Selected Packages"
    And I click on "Confirm"
    Then I should see a "1 package install has been scheduled for" text
    And I wait until event "Package Install/Upgrade scheduled by <client>" is completed

@skip_for_traditional
@skip_for_sle_micro_ssh_minion
  Scenario: Enable Prometheus Node exporter formula on the <client>
    Given I am on the Systems overview page of this "<client>"
    When I follow "Formulas" in the content area
    And I wait until I see "Salt Formulas" text
    And I check the "prometheus-exporters" formula
    And I click on "Save"
    Then I wait until I see "Formula saved" text
    # Configure Prometheus exporter formula
    When I follow "Prometheus Exporters" in the content area
    And I wait until I see "configure Prometheus exporters" text
    And I click on "Expand All Sections"
    And I should see a "Enable and configure Prometheus exporters for managed systems." text
    And I check "node" exporter
    And I click on "Save"
    Then I should see a "Formula saved" text

@skip_for_traditional
@skip_for_sle_micro
  Scenario: Enable Prometheus Apache and Postgres exporter formula on the <client>
    Given I am on the Systems overview page of this "<client>"
    When I follow "Formulas" in the content area
    When I follow "Prometheus Exporters" in the content area
    And I click on "Expand All Sections"
    And I should see a "Enable and configure Prometheus exporters for managed systems." text
    And I check "apache" exporter
    And I check "postgres" exporter
    And I click on "Save"
    Then I should see a "Formula saved" text

@skip_for_traditional
@skip_for_sle_micro_ssh_minion
  Scenario: Apply highstate for the Prometheus exporters on the <client>
    Given I am on the Systems overview page of this "<client>"
    When I follow "States" in the content area
    And I wait until I see "Apply Highstate" text
    And I click on "Apply Highstate"
    Then I should see a "Applying the highstate has been scheduled." text
    And I wait until event "Apply highstate scheduled by <client>" is completed
    And I reboot the "<client>" if it is a SLE Micro

@skip_for_traditional
@skip_for_sle_micro_ssh_minion
@sle_micro_minion
  # workaround for SLE Micro minion issue bsc#1209374
  Scenario: Enable and start Prometheus Node Exporter service
    And I start the "prometheus-node_exporter.service" service on "<client>"
    And I enable the "prometheus-node_exporter.service" service on "<client>"

@skip_for_traditional
@skip_for_sle_micro_ssh_minion
  Scenario: Visit Node monitoring endpoint on the <client>
    When I wait until "node" exporter service is active on "<client>"
    And I visit "Prometheus node exporter" endpoint of this "<client>"

@skip_for_traditional
@skip_for_sle_micro
  Scenario: Visit Apache and Postgres monitoring endpoint on the <client>
    When I wait until "apache" exporter service is active on "<client>"
    And I visit "Prometheus apache exporter" endpoint of this "<client>"
    And I wait until "postgres" exporter service is active on "<client>"
    And I visit "Prometheus postgres exporter" endpoint of this "<client>"

@skip_for_traditional
@skip_for_sle_micro_ssh_minion
@monitoring_server
  Scenario: The data from <client> appear on Grafana dashboard
    When I visit the grafana dashboards of this "monitoring_server"
    And I wait until I do not see "Loading Grafana" text
    And I wait until I see "General" text
    And I check radio button "View as list", if not checked
    When I follow "Client Systems"
    Then I should see "<client>" hostname
    When I enter "<client>" hostname on grafana's host field
    And I wait until I do not see "No data" text
