# Copyright (c) 2020-2021 SUSE LLC.
# Licensed under the terms of the MIT license.

@<client>
Feature: Smoke tests for <client>
  In order to test <client>
  As an authorized user
  I want to :
  - Install a package via Web UI
  - Install a patch via Web UI
  - Remove a package via Web UI
  - Execute a remote command via Web UI
  - Apply a configuration file via Web UI
  - Schedule Software package refresh
  - Schedule Hardware refresh
  - Reboot the client via Web UI

  Scenario: Log in as admin user
    Given I am authorized for the "Admin" section

  Scenario: Client <client> grains are displayed correctly on the details page
    Given I am on the Systems overview page of this "<client>"
    Then I can see all system information for "<client>"

# TODO: Remove the @skip_for_sle15sp3 when 15sp3 gets released and has patches
@skip_for_sle15sp3
@skip_for_ubuntu
  Scenario: Install a patch on the <client>
    When I follow "Software" in the content area
    And I follow "Patches" in the content area
    And I select "Non-Critical" from "type"
    And I click on "Show"
    When I check the first patch in the list
    And I click on "Apply Patches"
    And I click on "Confirm"
    Then I should see a "1 patch update has been scheduled for" text
    When I force picking pending events on "<client>" if necessary
    And I wait until event "Patch Update:" is completed

  Scenario: Install a package on the <client>
    When I follow "Software" in the content area
    And I follow "Install"
    And I enter the package for "<client>" as the filtered package name
    And I click on the filter button
    And I check the package for "<client>" in the list
    And I click on "Install Selected Packages"
    And I click on "Confirm"
    Then I should see a "1 package install has been scheduled for" text
    When I force picking pending events on "<client>" if necessary
    And I wait until event "Package Install/Upgrade scheduled by admin" is completed

  Scenario: Remove package from <client>
    When I follow "Software" in the content area
    And I follow "List / Remove"
    And I enter the package for "<client>" as the filtered package name
    And I click on the filter button
    And I check the package for "<client>" in the list
    And I click on "Remove Packages"
    And I click on "Confirm"
    Then I should see a "1 package removal has been scheduled" text
    When I force picking pending events on "<client>" if necessary
    And I wait until event "Package Removal scheduled by admin" is completed

@skip_for_traditional
  Scenario: Run a remote command on <client> minion
    When I follow the left menu "Salt > Remote Commands"
    Then I should see a "Remote Commands" text in the content area
    When I enter command "echo 'My remote command output'"
    And I enter the hostname of "<client>" as "target"
    And I click on preview
    Then I should see a "Target systems (1)" text
    When I wait until I do not see "pending" text
    And I click on run
    And I wait until I see "show response" text
    And I expand the results for "<client>"
    Then I should see "My remote command output" in the command output for "<client>"

@skip_for_minion
  Scenario: Run a remote command on <client> traditional client
    Given I am on the Systems overview page of this "<client>"
    When I follow "Remote Command" in the content area
    And I enter as remote command this script in
      """
      #!/bin/bash
      touch /tmp/remote-command-on-<client>
      """
    And I click on "Schedule"
    Then I should see a "Remote Command has been scheduled successfully" text
    When I force picking pending events on "<client>" if necessary
    And I wait until file "/tmp/remote-command-on-<client>" exists on "<client>"

  Scenario: Check that Software package refresh works on a <client>
    When I follow "Software" in the content area
    And I click on "Update Package List"
    And I force picking pending events on "<client>" if necessary
    And I wait until event "Package List Refresh scheduled by admin" is completed

  Scenario: Check that Hardware Refresh button works on a <client>
    When I follow "Details" in the content area
    And I follow "Hardware"
    And I click on "Schedule Hardware Refresh"
    Then I should see a "You have successfully scheduled a hardware profile refresh" text
    When I force picking pending events on "<client>" if necessary
    And I wait until event "Hardware List Refresh scheduled by admin" is completed

  Scenario: Subscribe a <client> to the configuration channel
    When I follow "Details" in the content area
    And I follow "Configuration" in the content area
    And I follow "Manage Configuration Channels" in the content area
    And I follow first "Subscribe to Channels" in the content area
    And I check "Mixed Channel" in the list
    And I click on "Continue"
    And I click on "Update Channel Rankings"
    Then I should see a "Channel Subscriptions successfully changed for" text

  Scenario: Deploy the file to all subscribed systems
    And I follow the left menu "Configuration > Channels"
    And I follow "Mixed Channel"
    And I follow "Deploy all configuration files to selected subscribed systems"
    And I enter the hostname of "<client>" as the filtered system name
    And I click on the filter button
    And I check the "<client>" client
    And I click on "Confirm & Deploy to Selected Systems"
    Then I should see a "/etc/s-mgr/config" link
    When I click on "Deploy Files to Selected Systems"
    Then I should see a "being scheduled" text
    And I should see a "0 revision-deploys overridden." text
    When I force picking pending events on "<client>" if necessary
    And I wait until file "/etc/s-mgr/config" exists on "<client>"
    Then file "/etc/s-mgr/config" should contain "COLOR=white" on "<client>"

  Scenario: Reboot the <client> and wait until reboot is completed
    Given I am on the Systems overview page of this "<client>"
    When I follow first "Schedule System Reboot"
    Then I should see a "System Reboot Confirmation" text
    And I should see a "Reboot system" button
    When I click on "Reboot system"
    Then I should see a "Reboot scheduled for system" text
    When I force picking pending events on "<client>" if necessary
    And I wait at most 600 seconds until event "System reboot scheduled by admin" is completed
    Then I should see a "This action's status is: Completed" text
