[Unit]
Description=Refresh PAYG data and copy them into the uyuni container
ConditionVirtualization=!container

[Timer]
OnBootSec=5
OnCalendar=*:7/10
AccuracySec=1m
Persistent=true

[Install]
WantedBy=timers.target

