[Unit]
Description=OSA Dispatcher daemon
After=syslog.target network.target jabberd.service
BindsTo=jabberd.service
Requires=spacewalk-wait-for-jabberd.service

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/osa-dispatcher
PIDFile=/run/osa-dispatcher.pid
ExecStart=/usr/sbin/osa-dispatcher --pid-file /run/osa-dispatcher.pid
ExecStartPre=/bin/rm -f /run/osa-dispatcher.pid

[Install]
WantedBy=multi-user.target
