include /templates/common.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#access-control

script(type='text/javascript').
    spaImportReactPage('admin/access-control')
        .then(function(module) {
            module.renderer(
                'access-control',
                { }
            );
        });
