include /templates/common.jade

#list-peripherals

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/hub/peripherals')
        .then(function (module) {
            module.renderer(
                'list-peripherals', "#{flashMessage}"
            )
        });
