# This file is expected to be found in `/etc/sysconfig/container-server-services.config`,
# the EnvironmentFile services property is pointing there

# Where to get the images from if not defined otherwise in a service-specific configuration
# It should contain the registry FQDN and path to the server-* images without trailing slash
NAMESPACE=registry.opensuse.org/systemsmanagement/uyuni/master/servercontainer/containers/uyuni

# Tag of the images to pull if not defined otherwise in a service-specific configuration
TAG=latest

# Pass additional parameters to the pod start command.
#
# Example:
# ADD_HOSTS='--add-host=server.tf.local:192.168.122.254 --add-host=client.tf.local:192.168.122.89'
EXTRA_POD_ARGS=''

#uncomment for enable remote debugging
#EXTRA_POD_ARGS+=' -p 8000:8000 -p 8001:8001'

# Initial setup configuration options
MANAGER_USER="spacewalk"
MANAGER_PASS="spacewalk"
MANAGER_ADMIN_EMAIL="galaxy-noise@suse.de"
CERT_O="SUSE"
CERT_OU="SUSE"
CERT_CITY="Nuernberg"
CERT_STATE="Bayern"
CERT_COUNTRY="DE"
CERT_EMAIL="galaxy-noise@suse.de"
CERT_PASS="spacewalk"
USE_EXISTING_CERTS="N"
MANAGER_DB_NAME="susemanager"
MANAGER_DB_HOST="localhost"
MANAGER_DB_PORT="5432"
MANAGER_DB_PROTOCOL="TCP"
MANAGER_ENABLE_TFTP="Y"
SCC_USER=""
SCC_PASS=""
REPORT_DB_HOST="uyuni-server"
HOSTNAME="uyuni-server"
