@import "../../../branding/css/variables.scss";

:global(.old-theme),
:global(.new-theme) {
  .ansibleModal {
    max-width: 75%;
    :global(.modal-body) {
      margin-bottom: 0;
      height: calc(100vh - 200px);
      overflow-y: hidden !important;
      display: flex;
      flex-direction: column;
    }
  }
  .variableContent {
    border-top: 1px solid $eos-bc-gray-100;
    max-height: 100%;
    overflow: visible;
  }

  .yamlEditor {
    overflow: auto;
    width: 60%;
    margin-bottom: 30px;
  }

  .yamlPreview {
    width: 40%;
    border: 0;
    background-color: $eos-bc-yellow-100;
    overflow: auto;
    margin-bottom: 30px;

    pre {
      background-color: transparent;
      border: 0;
      white-space: pre;
      overflow: visible;
    }
  }
}
