include ../common.jade

#image-store-edit

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.storeId = "#{store_id}"

script(type='text/javascript').
    spaImportReactPage('images/image-store-edit')
        .then(function(module) { module.renderer('image-store-edit') });
