include ../common.jade

#image-import

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('images/image-import')
        .then(function(module) { module.renderer('image-import') });
