include ../common.jade

#image-profiles

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.isAdmin = #{isAdmin};

+userPreferences

script(type='text/javascript').
    spaImportReactPage('images/image-profiles')
        .then(function(module) { module.renderer('image-profiles') });
