.btn,
.btn-default,
.btn-primary,
.btn-success,
.btn-warning,
.btn-danger {
  color: inherit;
  font-weight: bold;
  padding: 8px 16px;
  position: relative;
  border-style: solid;
  border-width: 2px;
  filter: none;
  transition: none;
  text-decoration: none;
  box-shadow: none;

  &:hover {
    text-decoration: none;
  }

  &.btn-sm {
    padding: 6px 14px;
    font-size: 12px;
  }

  .input-group-btn & {
    padding: 5px 10px;
  }

  &,
  &:active,
  &:focus {
    outline: none;
    // Remove Bootstrap's default gradient behavior
    background-image: none;
    box-shadow: none;
  }

  // Branding hover effect
  &:not(:disabled):not(.disabled):not(.text-muted):hover::after {
    // background: #686565;
    border: 2px solid transparent;
    bottom: -2px;
    box-sizing: content-box;
    content: "";
    display: block;
    height: 1px;
    left: -2px;
    position: absolute;
    width: 100%;
  }

  &.disabled,
  &:disabled,
  // Would be nice to deprecate this class in the long run
  &.text-muted {
    opacity: 0.5;
    pointer-events: auto;
    cursor: not-allowed;
  }

  &.text-muted {
    color: inherit !important;
  }

  i[class~="fa"],
  i[class*="icon-"],
  i[class*="spacewalk-icon"] {
    margin: 0;
  }
}

// TODO: Add :active and :focus states for green etc
// NB! Here and below, these are not nested because they're not used consistently along with .btn
.btn-default {
  &,
  &:active,
  &:focus,
  &:disabled,
  &.disabled {
    &,
    &:hover {
      background: transparent;
      border-color: $eos-bc-pine-500;
      color: $eos-bc-pine-500;

      &:not(:disabled):not(.disabled):not(.text-muted):hover::after {
        background: $eos-bc-pine-500;
      }
    }
  }
}

.btn-default-inverse {
  &,
  &:active,
  &:focus,
  &:disabled,
  &.disabled {
    &,
    &:hover {
      background: transparent;
      border-color: $eos-bc-white;
      color: $eos-bc-white;

      &:not(:disabled):not(.disabled):not(.text-muted):hover::after {
        background: $eos-bc-white;
      }
    }
  }
}

.btn-primary {
  &,
  &:active,
  &:focus,
  &:disabled,
  &.disabled {
    &,
    &:hover {
      background: $eos-bc-persimmon-500;
      border-color: $eos-bc-persimmon-500;
      color: $eos-bc-gray-1000;

      &:not(:disabled):not(.disabled):not(.text-muted):hover::after {
        background: $eos-bc-gray-900;
      }
    }
  }
}

.btn-success {
  &,
  &:active,
  &:focus,
  &:disabled,
  &.disabled {
    &,
    &:hover {
      background: transparent;
      border-color: $eos-bc-persimmon-500;
      color: $eos-bc-gray-1000;

      &:not(:disabled):not(.disabled):not(.text-muted):hover::after {
        background: $eos-bc-persimmon-500;
      }
    }
  }
}

.btn-info {
  &,
  &:active,
  &:focus,
  &:disabled,
  &.disabled {
    &,
    &:hover {
      border-color: $eos-bc-cerulean-500;

      &:not(:disabled):not(.disabled):not(.text-muted):hover {
        color: $white;
      }
    }
  }
}

// Warning shouldn't currently be used anywhere, but cover it just in case
.btn-warning,
.btn-danger {
  &,
  &:active,
  &:focus,
  &:disabled,
  &.disabled {
    &,
    &:hover {
      background: $eos-bc-red-500;
      border-color: $eos-bc-red-500;
      color: $eos-bc-white;

      &:not(:disabled):not(.disabled):not(.text-muted):hover {
        background: $eos-bc-red-900;
        border-color: $eos-bc-red-900;
      }

      &:not(:disabled):not(.disabled):not(.text-muted):hover::after {
        background: $eos-bc-gray-900;
      }
    }
  }
}

.input-group-btn .btn {
  border-width: 1px;
  padding: 6px 12px;
  height: $input-height;
  z-index: 100;

  &:not(:disabled):not(.disabled):not(.text-muted):hover::after {
    border-width: 1px;
    bottom: -1px;
    left: -1px;
  }

  &:last-child {
    margin-left: -1px;
  }
}

.btn-group .btn {
  margin: 0 4px 0 0;

  &:last-child {
    margin-right: 0;
  }
}

.panel-heading,
th {
  .btn,
  .btn-link,
  a {
    border: none;
    padding: 0;
    font-weight: bold;
    color: $eos-bc-gray-1000;
  }
}
