.btn,
.btn-default,
.btn-primary,
.btn-success,
.btn-warning,
.btn-danger {
  // We use flex to ensure icons etc are correctly aligned in buttons
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  font-size: $font-size-base;

  i.fa:first-child:last-child {
    margin: 0;
  }
}

button.is-plain,
.btn-link {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline;
  font: inherit;
  line-height: inherit;
  outline: none;
  text-decoration: none;
  user-select: text;
  padding: 0;
}

.btn-link {
  &,
  &:active,
  &:focus,
  &:disabled,
  &.disabled {
    &,
    &:hover {
      color: $link-color;
      font-weight: normal;
    }

    &:not(:disabled):not(.disabled):not(.text-muted):hover {
      text-decoration: underline;
    }
  }
}

@include onSuma {
  @import "buttons.suma.scss";
}

@include onUyuni {
  @import "buttons.uyuni.scss";
}
