button.is-plain,
.btn-link {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline;
  font: inherit;
  line-height: inherit;
  outline: none;
  text-decoration: none;
  user-select: text;
  padding: 0;
}

.btn-link {
  &,
  &:active,
  &:focus,
  &:disabled,
  &.disabled {
    &,
    &:hover {
      color: @link-color;
      font-weight: normal;
    }

    &:not(:disabled):not(.disabled):not(.text-muted):hover {
      text-decoration: underline;
    }
  }
}


.onSuma({
  @import "buttons.suma.less";
});

.onUyuni({
  @import "buttons.uyuni.less";
});
