.btn-default {
  background-image: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
  border-color: #ccc;;
  color: #5F5F5F;
}

.btn-primary {
  background-image: linear-gradient(to bottom, #00da92 0%, #00C081 100%);
  border-color: #00C081;
  color: #fff;
}
