.btn,
.btn-default,
.btn-primary,
.btn-success,
.btn-warning,
.btn-danger {
  font-size: $font-size-base;
}

@include onSuma {
  @import "buttons.suma.scss";
}

@include onUyuni {
  @import "buttons.uyuni.scss";
}

button.is-plain {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline;
  font: inherit;
  line-height: inherit;
  outline: none;
  text-decoration: none;
  user-select: text;
  padding: 0;
}
