#messages-container {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 10px !important;
  white-space: nowrap;
  flex-wrap: nowrap !important;
  min-height: 50px;
  max-width: 100vw;

  @media (max-width: $screen-tablet) {
    flex-wrap: wrap !important;
  }
}

.navbar-header,
.navbar-controls {
  flex-wrap: nowrap;
  margin: 0 !important;
}

.navbar-header {
  display: flex !important;
  align-items: flex-end;
  margin-right: auto !important;
  overflow: hidden;

  @media (max-width: $screen-tablet) {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 4px;

    #breadcrumb {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.navbar-controls {
  display: flex !important;
  flex-direction: row;
  align-items: center;

  @media (max-width: $screen-tablet) {
    width: 100%;
    justify-content: space-evenly;

    .menu-link {
      display: none;
    }
  }

  &:before,
  &:after {
    content: none !important;
  }

  a {
    display: flex !important;
    align-items: center;
    padding: 4px 12px !important;
    gap: 8px;
  }

  button,
  a {
    i {
      margin: 0 !important;
    }
  }

  .hide-overflow {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ssm-box {
  padding: 0;

  #ssm-box-default {
    padding: 0;
    color: inherit !important;
  }

  #ssm-counter {
    display: flex;
    gap: 0px;
  }

  #header_selcount {
    display: flex;
    align-items: center;
    gap: 4px;

    .badge {
      flex-shrink: 0;
      border-radius: 8px;
      background: $gray-light;
      display: block;
      padding: 2px 6px;
      margin-bottom: -2px;
      text-align: center;
      color: darken($gray-dark, 20%);
    }
  }

  a {
    border-radius: 0;
    padding: 4px 12px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $green;
    }
  }

  #manage-ssm {
    padding: 4px 4px 4px 6px !important;
  }

  #clear-ssm {
    padding: 4px 6px 4px 4px !important;
    color: $gray-light;
    background-color: transparent;
    cursor: pointer;
    border-radius: 2px;
    border-width: 0;

    &:hover {
      background-color: $red;
      color: $gray-light;
    }

    i {
      margin: 0;
    }
  }
}
