$input-height: 35px;

@at-root {
  :root {
    --bs-border-color: #{$input-border-color};
    --bs-border-radius: #{$border-radius};
  }
}

.form-control,
.form-control--react-select > div:first-of-type {
  color: $eos-bc-gray-1000;
  height: $input-height;
  max-width: 100%;
  border: 1px solid $input-border-color !important;
  border-radius: $border-radius;
  box-shadow: none !important;
  font-size: $font-size-base;
  line-height: 1em !important;
  appearance: auto !important;

  &,
  &:focus,
  &:active {
    background: #fff;
  }
}

.form-control {
  padding: 8px !important;

  &:focus {
    border: 1px solid $eos-bc-blue-500 !important;
    outline: none !important;
  }

  &.disabled,
  &:disabled {
    color: $eos-bc-gray-700;
    pointer-events: auto;
    cursor: not-allowed;
    background: $gray-lighter;

    &:focus {
      border-color: $input-border-color !important;
    }
  }

  &:read-only {
    color: $eos-bc-gray-700;
    pointer-events: auto;
    cursor: default;

    &:focus {
      border-color: $input-border-color !important;
    }
  }

  &::placeholder {
    color: $input-placeholder;
    opacity: 1;
    background: $gray-lighter;
  }

}

.form-control-static {
  padding-top: 8px;
  padding-bottom: 8px;
}

div.form-control {
  background: $gray-lighter;

  &:focus,
  &:active {
    background: $gray-lighter;
  }
}

// TODO: Bind this class to the react-select control once we upgrade react-select, see https://react-select.com/styles#the-classnames-prop
.form-control--react-select > div:first-of-type {
  &:hover {
    border: 1px solid $eos-bc-blue-500 !important;
    outline: none !important;
  }
}

textarea.form-control,
select[multiple],
select[size] {
  height: auto;
}

.input-group-text {
  --bs-border-width: 1px;
  font-size: 1em;
  background: $gray-lighter;
  padding: 6px 12px;

  > .fa {
    margin: 0 !important;
  }
}
