.modal.show {
  display: block;
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;

  .close {
    border: 1px solid #000;
    border-radius: 2px;
    width: 22px;
    height: 22px;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    opacity: 0.4;
    font-size: 14px;

    // Emulate the old theme verbatim
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    order: 1;

    &:hover {
      opacity: 0.6;
    }

    .fa {
      margin: 0;
    }
  }

  .modal-title {
    margin: 0;
  }
}

.modal-body {
  height: auto;
  overflow-y: auto;
  padding: 15px;
  
  &,
  &:active,
  &:focus {
    outline: none;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.modal-footer {
  margin: 0;
  padding: 15px;
  border-top: 1px solid #e5e5e5;

  .btn + .btn {
    margin-left: 5px;
  }
}

.modal-backdrop,
.modal-overlay {
  position: fixed;
  inset: 0px;
  background-color: $modal-backdrop-color;
  z-index: $zindex-modal-backdrop;
}

.modal-backdrop.in,
.modal-backdrop.show {
  opacity: 1;
}

.modal-dialog {
  margin: 30px auto;
}

.modal-content {
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.ReactModal__Content {
  background-color: $modal-color;
  border-radius: $border-radius;
}
