.modal-header {
  border-bottom: 1px solid #e5e5e5;

  .close {
    border: 1px solid #000;
    border-radius: 2px;
    width: 22px;
    height: 22px;
    box-sizing: content-box;
    padding: 0 0 0 1px;

    // Emulate the old theme verbatim
    margin-top: -2px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.4;
    order: 1;

    &:hover {
      opacity: 0.6;
    }
  }

  .modal-title {
    margin: 0;
  }
}

.modal-body {
  height: auto;
  overflow-y: auto;
  
  &,
  &:active,
  &:focus {
    outline: none;
  }
}

.modal-footer {
  margin: 0;
}

.modal-overlay {
  position: fixed;
  inset: 0px;
  background-color: $modal-backdrop-color;
  z-index: $zindex-modal-backdrop;
}

.modal-dialog {
  margin: 30px auto;
}

.modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.ReactModal__Content {
  background-color: $modal-color;
  border-radius: $border-radius;
}
