.panel {
  // TODO: Make this margin obsolete
  margin-bottom: 14px;

  .panel {
    background: $eos-bc-white;
  }

  .panel-footer {
    padding: 10px 15px;
    background: transparent !important;
    border-top: 1px solid $eos-bc-gray-100;

    &:empty {
      display: none;
    }
  }

  &-default {
    > .panel-heading {
      font-size: $font-size-base;

      h1, h2, h3, h4, h5, h6 {
        font-size: $font-size-h4;
        font-weight: 500;
      }
    }

    .panel-body {
      padding: 15px;
    }

    .list-group:last-child {
      margin-bottom: 0;
    }

    .list-group-item {
      background: transparent;
      padding: 10px 15px;
    }
  }
}

dl:last-child {
  margin-bottom: 0;
}

.well {
  min-height: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
}


@include onSuma {
  @import "panels.suma.scss";
}

@include onUyuni {
  @import "panels.uyuni.scss";
}
