.panel {
  border-radius: $border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  &-default {
    border: 1px solid $eos-bc-gray-100;

    > .panel-heading {
      padding: 1rem 1.5rem;
      border-bottom: 1px solid $eos-bc-gray-100;
      // TODO: Make this $eos-bc-gray-50 after the whole Bootstrap migration is complete
      background: #f5f5f5;
    }

    .list-group-item {
      border-bottom: 1px solid $eos-bc-gray-100;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .panel-footer {
    background: #f5f5f5 !important;
  }
}
