.spacewalk-list-head-addons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  label {
    cursor: pointer;
  }
}

.spacewalk-list-bottom-addons > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-search-wrapper {
  flex: 1;

  .form-group {
    margin: 0;
  }
}

.table-input-search {
  max-width: 500px;
  display: inline-block;
  margin-bottom: 4px;
}

.table-search-select-all {
  margin-top: 4px;
  margin-left: 4px;
}

thead tr {
  background: transparent !important;
  color: $eos-bc-gray-700 !important;

  .btn-link {
    padding: 0 !important;
    border-width: 0 !important;
    color: $eos-bc-gray-1000 !important;
    font-weight: bold !important;
  }
}

tbody tr,
tbody tr td,
.list-row-odd,
.list-row-even {
  background: transparent !important;
}
