// These are all leftovers from the old theme, hopefully we can drop most of this over time
.text-muted {
  &, &:hover, &:focus {
    color: $eos-bc-gray-100!important;
  }
}

.text-primary {
  &, &:hover, &:focus {
    color: $link-color !important;
  }
}

.text-success {
  &, &:hover, &:focus {
    color: $eos-bc-green-900 !important;
  }
}

.text-info {
  &, &:hover, &:focus {
    color: $link-color !important;
  }
}

.text-warning {
  &, &:hover, &:focus {
    color: $eos-bc-yellow-600 !important;
  }
}

.text-danger {
  &, &:hover, &:focus {
    color: $eos-bc-red-900 !important;
  }
}
