[Unit]
Description=Check and install PAYG billing service.
Before=tomcat.service
Before=taskomatic.service
ConditionEnvironment=ISPAYG=1

[Service]
ExecStart=/usr/sbin/spacewalk-startup-helper check-billing-service
Type=oneshot
RemainAfterExit=yes
