[Unit]
Description=Configures secrets between salt-master and other services
Before=salt-master.service

[Service]
ExecStart=/usr/bin/salt-secrets-config.py
Type=oneshot
RemainAfterExit=yes
