[Unit]
Description=Spacewalk
Requires=uyuni-update-config.service
Requires=uyuni-check-database.service
Requires=jabberd.service
Requires=tomcat.service
Requires=spacewalk-wait-for-tomcat.service
Requires=salt-master.service
Requires=salt-api.service
Requires=spacewalk-wait-for-salt.service
Requires=httpd.service
Requires=spacewalk-wait-for-jabberd.service
Requires=osa-dispatcher.service
Requires=rhn-search.service
Requires=cobblerd.service
Requires=taskomatic.service
Requires=spacewalk-wait-for-taskomatic.service
Requires=salt-secrets-config.service

[Install]
WantedBy=multi-user.target
