[Unit]
Description=Make sure that salt is started before httpd
After=salt-master.service
After=salt-api.service
Before=httpd.service

[Service]
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes
