[Unit]
Description=Uyuni check database
Before=tomcat.service apache2.service salt-master.service salt-api.service rhn-search.service cobblerd.service taskomatic.service mgr-events-config.service mgr-websockify.service
After=postgresql.service

[Service]
ExecStart=/usr/sbin/spacewalk-startup-helper check-database 
Type=oneshot
IgnoreSIGPIPE=false
RemainAfterExit=yes
