# Copyright (c) 2021 SUSE LLC
# Licensed under the terms of the MIT license.

@<client>
Feature: Adding a Maintenance Update custom channel and the custom repositories for <client>

  Scenario: Log in as admin user
    Given I am authorized for the "Admin" section

  Scenario: Add a child channel for <client>
    When I follow the left menu "Software > Manage > Channels"
    And I follow "Create Channel"
    When I enter "Custom Channel for <client>" as "Channel Name"
    And I enter "custom_channel_<client>" as "Channel Label"
    And I select the parent channel for the "<client>" from "Parent Channel"
    And I enter "Custom channel" as "Channel Summary"
    And I click on "Create Channel"
    Then I should see a "Channel Custom Channel for <client> created" text

  Scenario: Add the Maintenance update repositories for <client>
    When I create the MU repositories for "<client>"

  Scenario: Add the custom repositories to the custom channel for <client>
    When I follow the left menu "Software > Manage > Channels"
    And I enter "<client>" as the filtered channel name
    And I click on the filter button
    And I follow "Custom Channel for <client>"
    And I follow "Repositories" in the content area
    And I select the MU repositories for "<client>" from the list
    And I click on "Save Repositories"
    Then I should see a "repository information was successfully updated" text

  Scenario: Synchronize the repositories in the custom channel for <client>
    When I follow the left menu "Software > Manage > Channels"
    And I enter "<client>" as the filtered channel name
    And I click on the filter button
    And I follow "Custom Channel for <client>"
    And I follow "Repositories" in the content area
    And I follow "Sync"
    And I click on "Sync Now"
    Then I should see a "Repository sync scheduled" text
