:global(.group-heading) {
    position: relative;
}

:global(.group-heading h4) {
    display: inline-block;
}

:global(.group-heading h3) {
    display: inline-block;
}

:global(.group-heading > .fa-minus) {
    position: absolute;
    right: 10px;
    top: 13px;
    cursor: pointer;
}

:global(.group-heading > .fa-minus[disabled]) {
    opacity: 0.65;
    cursor: not-allowed;
}

:global(.group-heading > .fa-plus) {
    position: absolute;
    right: 10px;
    top: 13px;
    cursor: pointer;
}

:global(.group-heading > .fa-plus[disabled]) {
    opacity: 0.65;
    cursor: not-allowed;
}

:global(.group-heading .fa-angle-up) {
    cursor: pointer;
    font-weight: 600;
}

:global(.group-heading .fa-angle-down) {
    cursor: pointer;
    font-weight: 600;
}

:global(.group-heading h4) {
    cursor: pointer;
}

:global(.formula-content p) {
    color: #8e8e90;
}

:global(input:invalid) {
    background-color: #fcf8e3;
}


:global(.formula-content-section-open) {
    margin-left: 5px;
    border-left: 5px solid #a7a9ac;
    border-top: 1px solid #dcddde;
    padding-left: 10px
}

:global(.formula-content-section-closed) {
    margin-left: 5px;
    border-left: 5px solid #dcddde;
    border-top: 1px solid #dcddde;
    padding-left: 10px
}

