[Unit]
Description=Check libvirtd for VMs and report it to Uyuni Server

[Service]
Type=oneshot
ExecStart=@PYTHON@ < @PYTHONPATH@/virtualization/poller.py
