.background {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  /* TODO: Fix variable usage */
  background: url("./background.svg") #0c322c no-repeat center fixed;
}

.wrapper {
  box-shadow: 0 3px 30px rgb(0 0 0 / 16%);
  display: flex;
  margin: auto;
  min-height: 700px;
  width: 100%;
  max-width: 1120px;
  background-color: #fff;
}

.brand {
  width: 445px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #0c322c;
  color: #fff;
  padding: 32px;
}

@media screen and (max-width: 1119px) {
  .brand {
    width: 335px;
  }
}

@media screen and (max-width: 769px) {
  .brand {
    display: none;
  }
}

.productInfo {
  margin: 0;
}

.productLink {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.productLink:hover {
  color: #fff;
  text-decoration: none;
}

.title {
  color: #30ba78;
  font-size: 28px;
  margin: 0 0 7px 0;
}

.loginHeader {
  width: 100%;
}

.mobileLogo {
  display: none;
}

@media screen and (max-width: 769px) {
  .mobileLogo {
    display: block;
  }
}

.loginTitle {
  margin-bottom: 32px;
}

.loginArea {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  overflow: auto;
}

.messagesArea {
  position: absolute;
  left: 32px;
  right: 32px;
}

.loginForm {
  width: 80%;
}

@media screen and (max-width: 769px) {
  .loginForm {
    width: 100%;
  }
}

.label {
  color: #141823;
  font-weight: bold;
  margin-bottom: 7px;
}

.input {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 32px;
}

.button {
  margin-top: 48px;
}

.loginFooter {
  width: 100%;
  display: flex;
  gap: 8px;
}
