[Unit]
Description=Taskomatic
After=local-fs.target cobblerd.service sendmail.service apache2.service postgresql.service
Requires=apache2.service

[Service]
Type=simple
EnvironmentFile=/usr/share/rhn/config-defaults/rhn_taskomatic_daemon.conf
ExecStart=/usr/sbin/taskomatic
Restart=on-failure

[Install]
WantedBy=multi-user.target


