include /templates/common.jade

#recurring-actions

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.minions = [];
    window.entityType = "NONE";
    window.timezone = "#{h.renderTimezone()}";
    window.localTime = "#{h.renderLocalTime()}";

+userPreferences

script(type='text/javascript').
    spaImportReactPage('recurring/recurring-actions')
        .then(function (module) { module.renderer('recurring-actions') });
