include ../common.jade

script(src='/javascript/manager/errors/not-found.bundle.js?cb=#{webBuildtimestamp}', type='text/javascript')

#notfoundpage
    script(type='text/javascript').
        injectReactPage('errors/not-found', {
            currentUrl: '#{currentUrl}'
        });
