include ../common.jade

#notfoundpage

script(src='/javascript/manager/errors/not-found.bundle.js?cb=#{webVersion}', type='text/javascript')

script(type='text/javascript').
    spaImportReactPage('errors/not-found')
        .then((module) => module.renderer(
                'notfoundpage',
                { currentUrl: '#{currentUrl}' }
        ));
