include ../common.jade

#subscription-matching

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
+userPreferences
script(src='/javascript/manager/subscription-matching.bundle.js?cb=#{webVersion}', type='text/javascript')
