include ../common.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#subscription-matching
    script(type='text/javascript').
        injectReactPage('audit/subscription-matching');
