include ../common.jade

#subscription-matching

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
+userPreferences
script(src='/javascript/manager/subscription-matching.bundle.js', type='text/javascript')
