@import "branding/css/variables.scss";

:global(.old-theme),
:global(.new-theme) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0;
    min-height: $input-height;
    max-width: 100%;
  }

  .item {
    display: flex;
    gap: 6px;
    white-space: nowrap;
    align-items: center;

    input {
      --bs-border-width: 1px;
    }
  }
}
