@import "branding/css/variables.scss";

:global(.old-theme),
:global(.new-theme) {
  .fieldWrapper {
    display: flex;
    flex: 1 1 auto;
    gap: 8px
  }

  .helpBlock {
    display: block;
    margin-top: 5px;
    color: $eos-bc-red-900;
  }
}
