# Copyright (c) 2010-2023 SUSE LLC
# SPDX-License-Identifier: MIT

@<client>
Feature: Create an activation key for <client>
  In order to register systems to the spacewalk server
  As the testing user
  I want to use activation keys

  Scenario: Create an activation key with the channel and child channels for <client>
    When I create an activation key including custom channels for "<client>" via API
