[Unit]
Description=Install mgrpxy proxy
After=network-online.target podman.service
Requires=network-online.target podman.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '.
 install podman /etc/salt/proxy.tar.gz --logLevel debug | tee /var/log/mgrpxy_install.log'

ExecStartPost=/bin/bash -c 'STATUS_OUTPUT=$(mgrpxy status 2>&1); \
    echo "$STATUS_OUTPUT" | tee -a /var/log/mgrpxy_install.log; \
    if ! echo "$STATUS_OUTPUT" | grep -q "Error: no installed proxy detected"; then \
        echo "mgrpxy is running successfully. Removing install mgrpxy service and configuration file." | tee -a /var/log/mgrpxy_install.log; \
        rm -f /etc/systemd/system/install_mgrpxy.service; \
        rm -f /etc/salt/proxy.tar.gz; \
    else \
        echo "mgrpxy status check failed. Service file will remain for troubleshooting." | tee -a /var/log/mgrpxy_install.log; \
    fi'

[Install]
WantedBy=multi-user.target
