:global(.gap-right) {
    margin-right: 10px
}

:global(.placeholder) {
    list-style: none;
    padding-left: 0px;
    color: #dddddd;
    filter: blur(2px);
    animation: preload 5s infinite cubic-bezier(.65, .05, .36, 1);
}

:global(.placeholder-item) {
    margin: 5px 0px 5px 0px
}

:global(.placeholder-item div) {
    display: inline-block;
    width: 200px;
    height: 1em;
    background-color: #dddddd
}

@keyframes :local(preload) {
    0%   { opacity: .5; }
    25%  { opacity: .15; }
    50%  { opacity: 1; }
    75%  { opacity: .15; }
    100% { opacity: .5; }
}


