[Unit]
Description=Timezone alignment

[Service]
PassEnvironment=TZ
ExecStart=timezone_alignment.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
