# SPDX-FileCopyrightText: 2026 SUSE LLC
#
# SPDX-License-Identifier: MIT

[Unit]
Description=Timezone alignment

[Service]
PassEnvironment=TZ
ExecStart=timezone_alignment.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
