#bootstrap-minions

script(type="text/javascript").
    window.csrfToken = "#{csrf_token}";
    window.availableActivationKeys = !{availableActivationKeys};
    window.proxies = !{proxies}

script(type='text/javascript').
    spaImportReactPage('systems/bootstrap/bootstrap-minions')
        .then(function(module) { module.renderer('bootstrap-minions') });
