#remote-commands

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('salt/cmd/remote-commands')
        .then(function(module) { module.renderer('remote-commands') });
