include ./minion-header.jade

#config-channels

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{server.id}";

script(src='/javascript/legacy/jquery-ui.js?cb=#{webBuildtimestamp}')

script(type='text/javascript').
    spaImportReactPage('minion/config-channels/minion-config-channels')
        .then(function(module) { module.renderer('config-channels') });
