include ../common.jade

#scap-create-policy

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.scapDataStreams = !{scapDataStreams};
    window.tailoringFiles = !{tailoringFiles};

script(type='text/javascript').
    spaImportReactPage('audit/create-scap-policy')
        .then(function(module) { module.renderer('scap/create-scap-policy') });