include ../common.jade

#swagger-ui

script(type='text/javascript').
    spaImportReactPage('swagger')
        .then(function(module) {
             module.renderer(
              'swagger-ui',
              {}
            )
        });
