dist/**/*
vendors/**/*
build/**/*
build.js
flow-typed/**/*
global.d.ts
imports.d.ts

# These files need Flow to TS migration before they're lintable again
components/general/with-page-wrapper.js
components/input/InputBase.js
components/section-toolbar/section-toolbar.js
components/table/Column.js
components/table/TableDataHandler.js
components/toastr/toastr.js
components/tree/tree.js
components/utils/HashRouter.js
components/utils/Loading.js
core/channels/api/use-channels-tree-api.js
manager/admin/config/monitoring-admin.js
manager/admin/config/use-monitoring-api.js
manager/clusters/add-cluster/add-cluster.js
manager/clusters/add-cluster/finish-add.js
manager/clusters/add-cluster/select-provider.js
manager/clusters/cluster/cluster-config.js
manager/clusters/cluster/cluster-overview.js
manager/clusters/cluster/cluster.js
manager/clusters/list-clusters/list-clusters.js
manager/clusters/shared/api/use-clusters-api.js
manager/clusters/shared/ui/formula-config.js
manager/clusters/shared/ui/schedule-cluster-action.js
manager/clusters/shared/ui/select-server.js
manager/clusters/upgrade-cluster/upgrade-cluster-plan.js
manager/content-management/list-filters/list-filters.js
manager/content-management/list-projects/list-projects.js
manager/content-management/shared/api/use-lifecycle-actions-api.js
manager/content-management/shared/business/filters.enum.js
manager/content-management/shared/business/states.enum.js
manager/content-management/shared/components/panels/sources/channels/channels-selection.state.js
manager/images/image-import.js
manager/login/login-header.js
manager/login/use-login-api.js
manager/virtualization/ActionApi.js
manager/virtualization/pools/virtualization-pool-definition-api.js
manager/virtualization/pools/virtualization-pools-action-api.js
utils/data-providers/simple-data-provider.js
utils/functions.js