include ../common.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#taskotop
    script(type='text/javascript').
        injectReactPage('admin/task-engine-status/taskotop');
