include ../common.jade
#taskotop

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";

+userPreferences
script(src='/javascript/manager/admin/task-engine-status/taskotop.bundle.js?cb=#{webVersion}', type='text/javascript')
