include ../common.jade
#taskotop

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

+userPreferences
script(src='/javascript/manager/taskotop.bundle.js?cb=#{webVersion}', type='text/javascript')
