script(type="text/javascript").
  function stateData() {
     return !{stateData};
  }

#state-details

script(src='/javascript/reactjs/react.bundle.js')
script(type="text/javascript").
    var csrfToken = "#{csrf_token}";
script(src='/javascript/manager/org-state-details.bundle.js')