include /templates/common.jade

+userRoles
+userLocalization
+userPreferences

#addCluster

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.actionChains = !{actionChains};

div#init_data_add(style="display: none")
    | #{contentAdd}

script(type='text/javascript').
    spaImportReactPage('clusters/add')
        .then(function(module) { module.renderer(
            'addCluster',
                {
                    contentAdd: document.getElementById('init_data_add').textContent,
                    flashMessage: "#{flashMessage}"
                }
            ); });
