include /templates/common.jade

+userRoles
+userLocalization
+userPreferences

#joinNode

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.actionChains = !{actionChains};

div#init_data_cluster(style="display: none")
    | #{contentCluster}

script(type='text/javascript').
    spaImportReactPage('clusters/join-node')
        .then(function(module) { module.renderer(
            'joinNode',
                {
                    cluster: document.getElementById('init_data_cluster').textContent,
                    flashMessage: "#{flashMessage}"
                }
            ); });
