include /templates/common.jade

+userRoles

+userPreferences

#clusters

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

div#init_data_clusters(style="display: none")
    | #{contentClusters}

script(type='text/javascript').
    spaImportReactPage('clusters/list')
        .then(function(module) { module.renderer(
            'clusters',
                {
                    clusters: document.getElementById('init_data_clusters').textContent,
                    flashMessage: "#{flashMessage}"
                }
            ); });
