apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/part-of: uyuni
  name: uyuni-config
  namespace: "{{ .Release.Namespace }}"
data:
  fqdn: {{ required "global.fqdn is needed!" .Values.global.fqdn }}
  email: {{ .Values.email }}
