{{- if eq .Values.ingress "traefik" }}
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: uyuni-https-redirect
  namespace: "{{ .Release.Namespace }}"
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: postgresql-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - postgres
  routes:
    - match: HostSNI(`*`)
      services:
      - name: uyuni-tcp
        port: 5432
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: salt-publish-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - salt-publish
  routes:
    - match: HostSNI(`*`)
      services:
      - name: uyuni-tcp
        port: 4505
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: salt-request-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - salt-request
  routes:
    - match: HostSNI(`*`)
      services:
      - name: uyuni-tcp
        port: 4506
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: cobbler-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - cobbler
  routes:
    - match: HostSNI(`*`)
      services:
      - name: uyuni-tcp
        port: 25151
{{- if .Values.enableMonitoring | default true }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: postgresql-exporter-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - psql-mtrx
  routes:
    - match: HostSNI(`*`)
      services:
      - name: uyuni-tcp
        port: 9187
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: tasko-jmx-exporter-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - tasko-jmx-mtrx
  routes:
    - match: HostSNI(`*`)
      services:
      - name: uyuni-tcp
        port: 5556
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: tomcat-jmx-exporter-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - tomcat-jmx-mtrx
  routes:
    - match: HostSNI(`*`)
      services:
      - name: uyuni-tcp
        port: 5557
{{- end }}
{{- if .Values.exposeJavaDebug }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: tomcat-debug-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - tomcat-debug
  routes:
    - match: HostSNI(`*`)
      services:
      - name: uyuni-tcp
        port: 8003
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: search-debug-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - search-debug
  routes:
    - match: HostSNI(`*`)
      services:
      - name: uyuni-tcp
        port: 8002
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: tasko-debug-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - tasko-debug
  routes:
    - match: HostSNI(`*`)
      services:
      - name: uyuni-tcp
        port: 8001
{{- end }}
{{- if and .Values.hub (and .Values.hub.api .Values.hub.api.replicas) }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: hub-xmlrpc-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - hub-xmlrpc
  routes:
    - match: HostSNI(`*`)
      services:
      - name: uyuni-hub-xmlrpc-api
        port: 2830
{{- end }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteUDP
metadata:
  name: tftp-router
  namespace: "{{ .Release.Namespace }}"
spec:
  entryPoints:
    - tftp
  routes:
    - services:
      - name: uyuni-udp
        port: 69
{{- end }}
