apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  name: cobbler
  namespace: "{{ .Release.Namespace }}"
{{- if .Values.servicesAnnotations }}
  annotations:
{{ toYaml .Values.servicesAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
    - name: cobbler
      port: 25151
      protocol: TCP
      targetPort: 25151
  selector:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  type: ClusterIP
{{- if .Values.db.enable }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: db
    app.kubernetes.io/part-of: uyuni
  name: db
  namespace: "{{ .Release.Namespace }}"
{{- if .Values.servicesAnnotations }}
  annotations:
{{ toYaml .Values.servicesAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
{{- if ne .Values.enableMonitoring false }}
    - name: exporter
      port: 9187
      protocol: TCP
      targetPort: 9187
{{- end }}
    - name: pgsql
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    app.kubernetes.io/component: db
    app.kubernetes.io/part-of: uyuni
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: db
    app.kubernetes.io/part-of: uyuni
  name: reportdb
  namespace: "{{ .Release.Namespace }}"
{{- if .Values.servicesAnnotations }}
  annotations:
{{ toYaml .Values.servicesAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
    - name: pgsql
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    app.kubernetes.io/component: db
    app.kubernetes.io/part-of: uyuni
  type: ClusterIP
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  name: salt
  namespace: "{{ .Release.Namespace }}"
{{- if .Values.servicesAnnotations }}
  annotations:
{{ toYaml .Values.servicesAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
    - name: publish
      port: 4505
      protocol: TCP
      targetPort: 4505
    - name: request
      port: 4506
      protocol: TCP
      targetPort: 4506
  selector:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  type: ClusterIP
---
{{- if .Values.exposeJavaDebug | default false }}
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  name: search
  namespace: "{{ .Release.Namespace }}"
{{- if .Values.servicesAnnotations }}
  annotations:
{{ toYaml .Values.servicesAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
    - name: debug
      port: 8002
      protocol: TCP
      targetPort: 8002
  selector:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  type: ClusterIP
---
{{- end }}
{{- if or (ne .Values.enableMonitoring false) (.Values.exposeJavaDebug | default false)  }}
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  name: taskomatic
  namespace: "{{ .Release.Namespace }}"
{{- if .Values.servicesAnnotations }}
  annotations:
{{ toYaml .Values.servicesAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
{{- if ne .Values.enableMonitoring false }}
    - name: jmx
      port: 5556
      protocol: TCP
      targetPort: 5556
    - name: mtrx
      port: 9800
      protocol: TCP
      targetPort: 9800
{{- end }}
{{- if .Values.exposeJavaDebug | default false }}
    - name: debug
      port: 8001
      protocol: TCP
      targetPort: 8001
{{- end }}
  selector:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  type: ClusterIP
---
{{- end }}
{{- if and .Values.tftp.enable (not .Values.tftp.hostNetwork) }}
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: tftp
    app.kubernetes.io/part-of: uyuni
  name: tftp
  namespace: "{{ .Release.Namespace }}"
{{- if .Values.servicesAnnotations }}
  annotations:
{{ toYaml .Values.servicesAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
    - name: tftp
      port: 69
      protocol: UDP
      targetPort: 69
  selector:
    app.kubernetes.io/component: tftp
    app.kubernetes.io/part-of: uyuni
  # ClusterIP or NodePort wouldn't work for TFTP if not using the host network
  type: LoadBalancer
  # Ensures all packets from a single client go to the same pod
  sessionAffinity: ClientIP
  # Preserves the client's source IP and avoids extra hops between nodes
  externalTrafficPolicy: Local
---
{{- end }}
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  name: tomcat
  namespace: "{{ .Release.Namespace }}"
{{- if .Values.servicesAnnotations }}
  annotations:
{{ toYaml .Values.servicesAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
    - name: node-exporter
      port: 9100
      protocol: TCP
      targetPort: 9100
{{- if ne .Values.enableMonitoring false }}
    - name: jmx
      port: 5557
      protocol: TCP
      targetPort: 5557
{{- end }}
{{- if .Values.exposeJavaDebug | default false }}
    - name: debug
      port: 8003
      protocol: TCP
      targetPort: 8003
{{- end }}
  selector:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  name: web
  namespace: "{{ .Release.Namespace }}"
{{- if .Values.servicesAnnotations }}
  annotations:
{{ toYaml .Values.servicesAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app.kubernetes.io/component: server
    app.kubernetes.io/part-of: uyuni
  type: ClusterIP
{{- if default .Values.hubAPI.enable false }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: hub-xmlrpc
    app.kubernetes.io/part-of: uyuni
  name: hub-xmlrpc
  namespace: "{{ .Release.Namespace }}"
{{- if .Values.servicesAnnotations }}
  annotations:
{{ toYaml .Values.servicesAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
    - name: hub
      port: 2830
      protocol: TCP
      targetPort: 2830
  selector:
    app.kubernetes.io/component: hub-xmlrpc
    app.kubernetes.io/part-of: uyuni
  type: ClusterIP
{{- end }}
{{- if default .Values.saline.enable false }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: saline
    app.kubernetes.io/part-of: uyuni
  name: saline
  namespace: "{{ .Release.Namespace }}"
{{- if .Values.servicesAnnotations }}
  annotations:
{{ toYaml .Values.servicesAnnotations | indent 4 }}
{{- end }}
spec:
  ports:
    - name: saline
      port: 8216
      protocol: TCP
      targetPort: 8216
  selector:
    app.kubernetes.io/component: saline
    app.kubernetes.io/part-of: uyuni
  type: ClusterIP
{{- end }}
