i.fa[title='Note'] {
  font-family: inherit;
}

i.fa[title='Important'] {
  font-family: inherit;
}

i.fa[title='Warning'] {
  font-family: inherit;
}

/* HACK to fix https://github.com/SUSE/doc-susemanager/issues/567 */
#twitter-link {
  float: right;
}

.navbar {
  background-color: #f1f1f2;
  color: #000;
  border-bottom: 4px;
  border-bottom-style: solid;
  border-bottom-color: #02d35f;
}

.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6 {
  color: #3dd35f;
}

.nav-menu {
  background-color: #f4f4f4;
}

a:hover {
  color: #00b2e2;
  text-decoration: none;
}

.toc-link.is-active-link {
  font-weight: 600;
  color: #00D35F;
}

.doc a, .doc a:visited {
  color: #00b2e2;
}


.doc a:hover {
  color: #3dd35f;
}

.toolbar {
  color: #686565;
  background-color: #e0dfdf;
  -webkit-box-shadow: 0 1px 0 #e1e1e1;
  box-shadow: 0 1px 0 #e1e1e1;
}

@media screen and (min-width: 1025px) {
  .article-aside {
    right: 50px;
  }
}

.logo {
  max-height: 50px;
  margin-left: 74px;
}

.nav-panel-explore .context {

  background-color: #e0dfdf ;
}

.nav-panel-explore .component .is-current a {
  border-color: #00c081;
  background-color: #00c081;
  font-weight: 500;
  color: #fff;
}

html, body {
  text-rendering: optimizeLegibility;
}

.article-aside {
  font-family: 'Montserrat', sans-serif;
}

.fa-file-pdf {
  color: #00C081;
}

.fa-file-archive {
  color: #00C081;
}

/* navbar background and bottom border color */
.navbar {
  background-color: #414141;
  border-bottom-color: #25bbbf;
}

/* color primary links */
.doc a, .doc a:visited {
  color: #25BBBF;
}

/* color H1 heading */
.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6 {
  color: #3b3b3b;
}

/* Paragraph text color */
.doc {
  color: #3b3b3b;
}

.navbar-end .navbar-link:hover, .navbar-end>a.navbar-item:hover {
  background-color: #25bbbf;
  color: #fff;
}

.navbar-item.has-dropdown:hover .navbar-link {
  background-color: #25bbbf;
  color: #fff;
}

.navbar-end .navbar-link, .navbar-end>.navbar-item {
  color: #25bbbf;
}

.article-aside h3.toc-title {
  color: #25BBBF;
}

.fa-file-pdf {
  color: #25bbbf;
}

.fa-file-archive {
  color: #25bbbf;
}

.toc-link.is-active-link {
  color: #25bbbf;
}

@media screen and (min-width: 1025px) {
  .article-aside {
    border-left: 2px dotted #25bbbf;
  }
}

/* Page Navigation buttons */
.cedents .next, .cedents .prev {
  border: 1px solid #25bbbf;
}

.cedents:hover .next:hover {
  border: 1px solid #5F5F5F;
  border-radius: 3px;
  color: black;
}

.cedents:hover .prev:hover {
  border: 1px solid #5F5F5F;
  border-radius: 3px;
  color: black;
}

.arrow-next {
  color: #25bbbf;
}

.arrow-prev {
  color: #25bbbf;
}

/* Toolbar styles
.toolbar:hover .edit-this-page:hover a {
  color: #25bbbf ;
} */

a:hover {
  color: #25bbbf;
  text-decoration: none;
}

.doc a:hover {
  color: #25bbbf;
}

.custom-color:hover {
  color: #25bbbf;
}

/*.channels {
  color: #A7A9AC;
}

.ubuntu {
  color: #A7A9AC;
}

.salt {
  color: #A7A9AC;
}
*/

.gloss {
  color: #ED6924;
}

