@import "branding/css/variables.scss";

:global(.old-theme),
:global(.new-theme) {
  .check {
    display: inline-flex;
    vertical-align: -2px;
    gap: 6px;
    white-space: nowrap;
    align-items: center;
    font-weight: 400;

    input {
      --bs-border-width: 1px;
      border-color: $eos-bc-gray-900;
      background-color: $eos-bc-white;
    }
  }
}
