/*Grouped Pannels*/

:global(.panel-group-contentmngt) {
    margin-top: 60px;
}

:global(.panel-group-contentmngt > .panel) {
    margin: 0px;
    border-radius: 0px;
    overflow: hidden;
}

:global(.panel-group-contentmngt > .panel:first-child) {
    border-bottom: none;
}

:global(.modal-dialog){
    overflow-y: initial !important
}
:global(.modal-body){
    height: auto;
    overflow-y: auto;
    max-height: calc(100vh - 200px)
}
