/* Error pages */
.spacewalk-main-column-layout #error-page {
  width: 100%;
  text-align: center;
  // .text-center;

  .error-page-wrap {
    margin-top: 7.5em;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }
}

// See https://getbootstrap.com/docs/5.0/layout/breakpoints/
// max-width: $screen-tablet
@include media-breakpoint-down(md) {
  .spacewalk-main-column-layout #error-page .error-page-wrap {
    width: 100%;
  }
}
