@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato"), url("~branding/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("RobotoLight"), url("~branding/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Bold"), local("RobotoBold"), url("~branding/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SUSE";
  font-weight: 100 800;
  src: local("SUSE"), url("~branding/fonts/SUSE/SUSE-VariableFont_wght.ttf") format("truetype");
}
