#notifications {
  > a:hover {
    i {
      color: $green;
    }
  }

  #notification-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 17px;
    top: -10px;
  }
  #notification-counter.highlight-updated-value {
    transform: scale(1.5, 1.5);
  }
}

#notification-messages {
  .btn-sm {
    outline: none;
    height: 33px;
  }
}
