/* Progress Bar for the password strength check */
.progress-pwstrength {
  margin-bottom: 0;
  margin-top: 4px;
}
.error-list {
  padding-left: 1px;
}

/** config mgmt feature file diff styles **/

.oldfile {
  float: left;
  width: 48%;
  font-family: "monospace", monospace;
}

.newfile {
  float: right;
  width: 48%;
  font-family: "monospace", monospace;
}

.changed {
  background-color: $eos-bc-yellow-100;
}

.oldfile .deleted {
  background-color: $eos-bc-red-100;
}

.newfile .deleted {
  background-color: $eos-bc-gray-100;
}

.oldfile .inserted {
  background-color: $eos-bc-gray-100;
}

.newfile .inserted {
  background-color: $eos-bc-green-100;
}
