include /templates/common.jade

+userRoles

#content-management-create-project

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('content-management/create-project')
        .then(function(module) {
            module.renderer('content-management-create-project');
        });
