include /templates/common.jade

+userRoles

#content-management-create-project

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(src='/javascript/manager/content-management/create-project/create-project.renderer.bundle.js?cb=#{webVersion}')

script(type='text/javascript').
    pageRenderers.contentManagement.createProject.renderer('content-management-create-project');
