include /templates/common.jade

+userRoles

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#content-management-create-project
    script(type='text/javascript').
        injectReactPage('content-management/create-project');
