include /templates/common.jade

+userRoles

div#init_data_projects(style="display: none")
    | #{contentProjects}

#content-management-list-projects
    script(type='text/javascript').
        injectReactPage('content-management/list-projects', {
            projects: document.getElementById('init_data_projects').textContent,
            flashMessage: "#{flashMessage}"
        });
