include /templates/common.jade

+userRoles
+userLocalization
+userPreferences

#content-management-list-filters

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

div#init_data_filters(style="display: none")
    | #{contentFilters}

script(type='text/javascript').
    spaImportReactPage('content-management/list-filters')
        .then(function(module) {
            module.renderer(
                'content-management-list-filters',
                {
                  filters: document.getElementById('init_data_filters').textContent,
                  flashMessage: "#{flashMessage}",
                }
            );
        });
