include /templates/common.jade

+userRoles
+userPreferences

#content-management-list-projects

div#init_data_projects(style="display: none")
    | #{contentProjects}


script(type='text/javascript').
    spaImportReactPage('content-management/list-projects')
        .then(function(module) {
            module.renderer(
                'content-management-list-projects',
                {
                    projects: document.getElementById('init_data_projects').textContent,
                    flashMessage: "#{flashMessage}"
                }
            );
        });
