include /templates/common.jade

+userRoles
+userLocalization

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

div#init_data_filters(style="display: none")
    | #{contentFilters}

#content-management-list-filters
    script(type='text/javascript').
        injectReactPage('content-management/list-filters', {
            filters: document.getElementById('init_data_filters').textContent,
            flashMessage: "#{flashMessage}",
        });
