include /templates/common.jade

+userRoles

#content-management-list-projects

div#init_data_projects(style="display: none")
    | #{contentProjects}

script(src='/javascript/manager/content-management/list-projects/list-projects.renderer.bundle.js?cb=#{webVersion}')

script(type='text/javascript').
    pageRenderers.contentManagement.listProjects.renderer(
        'content-management-list-projects',
        {
          projects: document.getElementById('init_data_projects').textContent,
          flashMessage: "#{flashMessage}"
        }
    );
