include /templates/common.jade

+userRoles

#content-management-project

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

div#init_data_project(style="display: none")
    | #{projectToEdit}

script(type='text/javascript').
    spaImportReactPage('content-management/project')
        .then(function(module) {
            module.renderer(
                'content-management-project',
                 {
                    project: document.getElementById('init_data_project').textContent,
                    wasFreshlyCreatedMessage: "#{wasFreshlyCreatedMessage}"
                 }
            );
        });
