include /templates/common.jade

+userRoles

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

div#init_data_project(style="display: none")
    | #{projectToEdit}

#content-management-project
    script(type='text/javascript').
        injectReactPage('content-management/project', {
            project: document.getElementById('init_data_project').textContent,
            wasFreshlyCreatedMessage: "#{wasFreshlyCreatedMessage}"
        });
