{{- $config := .Values.global.config | fromYaml }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: proxy-configmap
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/component: proxy
    app.kubernetes.io/part-of: uyuni
data:
  config.yaml: |
    server: {{ $config.server }}
    proxy_fqdn: {{ $config.proxy_fqdn }}
    email: {{ $config.email }}
    max_cache_size_mb: {{ $config.max_cache_size_mb }}
    log_level: {{ $config.log_level | default 1 }}

  squid_tuning: |
    # Add your Squid tuning configuration here
{{ .Values.squid.tuning | indent 4 }}
  ssh_tuning: |
    # Add your SSHd tuning configuration here
{{ .Values.ssh.tuning | indent 4 }}
  apache_tuning: |
    # Add your Apache tuning configuration here
{{ .Values.httpd.tuning | indent 4 }}
---
apiVersion: v1
kind: Secret
metadata:
  name: httpd
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/component: proxy
    app.kubernetes.io/part-of: uyuni
stringData:
  httpd.yaml: |
{{ .Values.global.httpd | indent 4 }}
---
apiVersion: v1
kind: Secret
metadata:
  name: ssh
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/component: proxy
    app.kubernetes.io/part-of: uyuni
stringData:
  ssh.yaml: |
{{ .Values.global.ssh | indent 4 }}
