{{- if eq .Values.ingress.type "traefik" }}
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: ssh-router
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/component: proxy
    app.kubernetes.io/part-of: uyuni
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  entryPoints:
    - ssh 
  routes:
    - match: HostSNI(`*`)
      services:
      - name: ssh
        port: 8022
---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: salt-publish-router
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/component: proxy
    app.kubernetes.io/part-of: uyuni
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  entryPoints:
    - salt-publish
  routes:
    - match: HostSNI(`*`)
      services:
      - name: salt
        port: 4505
---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: salt-request-router
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/component: proxy
    app.kubernetes.io/part-of: uyuni
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  entryPoints:
    - salt-request
  routes:
    - match: HostSNI(`*`)
      services:
      - name: salt
        port: 4506
{{- end }}

