include ../common.jade

#hierarchy

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.endpoint = "#{endpoint}";
    window.title = "#{title}";
    window.view = "#{view}";

script(type='text/javascript').
    spaImportReactPage('visualization/hierarchy')
        .then(function(module) { module.renderer('hierarchy') });
