include /templates/common.jade

#peripheral-details

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/hub/peripherals/:id')
        .then(function (module) {
            module.renderer(
                'peripheral-details',
                !{peripheral},
            )
        });
