include /templates/common.jade

#peripheral-sync-channels

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('admin/hub/peripherals/:id/sync-channels')
        .then(function (module) {
            module.renderer('peripheral-sync-channels', !{peripheralId}, !{peripheralFqdn}, !{channelsSyncData},)
        });
