@mixin onSuma {
  @if $theme == "susemanager-light" {
    @content;
  }
  @if $theme == "susemanager-dark" {
    @content;
  }
}

@mixin onUyuni {
  @if $theme == "uyuni" {
    @content;
  }
}

// TODO: Make this obsolete
// See node_modules/bootstrap/less/mixins/grid.less and node_modules/bootstrap/less/mixins/clearfix.less
@mixin make-row {
  margin-left: 0;
  margin-right: 0;

  &:before,
  &:after {
    display: table; // 2
    content: " "; // 1
  }
  &:after {
    clear: both;
  }
}
