$theme: "susemanager-light";

@import "./base/body.scss";

@import "./base/bootstrap/scaffolding-variables.scss";

.new-theme {
  @import "./base/bootstrap/grid-patch.scss";
  @import "bootstrap/scss/bootstrap";

  @import "./variables.scss";
  @import "./susemanager-light-variables.scss";

  display: flex;
  flex-direction: column;
  background: $body-background;
  font-family: $body-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $body-color;

  @at-root {
    :root {
      --bs-body-color: #{$body-color};
    }
  }

  @import "./base/index.scss";
}
