@import "./susemanager-light-variables.scss";

$aside-background: $eos-bc-pine-500;
$aside-menu-text: $eos-bc-white;
$aside-search-text-color: $eos-bc-white;
$aside-footer-text: $eos-bc-white;
$aside-footer-border: $eos-bc-dt-gray-700;
$aside-search-border: $eos-bc-dt-gray-700;
