$body-color: #5f5f5f;
$body-font: $helvetica;
$link-color: #337ab7;

$header: $uyuni-blue-900;
$header-text: $uyuni-gray-100;

$content-area-padding: 0 2em 3em;

$aside-background: $uyuni-blue-900;
$aside-menu-text: $uyuni-gray-100;
$aside-search-text-color: $uyuni-gray-100;
$aside-footer-text: $uyuni-gray-100;
$aside-footer-border: $uyuni-blue-100;
$aside-search-border: $uyuni-blue-100;
$aside-footer-logo-background: url("../img/suse-logo-footer-white.svg") right center / 90px 30px no-repeat;

$input-border-color: $uyuni-gray-300;

$border-radius: 4px;
$border-radius-sm: 4px;
$border-radius-lg: 4px;
