$body-color: #5f5f5f;
$body-font: $helvetica;
$link-color: #337ab7;
$box-shadow: $gray-light;
$text-success-color: $eos-bc-green-900;

$header: $uyuni-blue-900;
$header-text: $uyuni-gray-100;

$content-area-padding-side: 2em;
$content-area-padding-bottom: 3em;

$aside-background: $uyuni-blue-900;
$aside-menu-text: $uyuni-gray-100;
$aside-search-text-color: $uyuni-gray-100;
$aside-footer-text: $uyuni-gray-100;
$aside-footer-border: $uyuni-blue-100;
$aside-search-border: $uyuni-blue-100;
$aside-footer-logo-background: url("../img/suse-logo-footer-white.svg") right center / 90px 30px no-repeat;

$border-radius: 4px;
$border-radius-sm: 4px;
$border-radius-lg: 4px;

//Tabs
$tabs-border-color: $eos-bc-gray-100;

//HR gray
$hr-border: $eos-bc-gray-100;

// Panel
$panel-border: $eos-bc-gray-100;
$list-item-border: $eos-bc-gray-100;

//Panel white
$panel-white-bg: $eos-bc-white;
$panel-white-border-color: $eos-bc-gray-100;

// Table
$tb-thead-tr-bg: $eos-bc-gray-100;
$tb-orderBy-text: $eos-bc-gray-1000;
$tb-border-color: $eos-bc-gray-100;
$table-row-hover-bg: $gray-light;

// Form
/* Input */
$input-placeholder: $gray;
$input-border-color: $eos-bc-gray-700;
$input-active-bg: $eos-bc-white;
$input-color: $eos-bc-gray-1000;
$input-autofill-bg: $eos-bc-white;
$input-readonly-color: $eos-bc-gray-700;
$input-readonly-bg: $gray-lighter;
$input-group-addon-bg: $gray-lighter;
$input-group-addon-color: $eos-bc-gray-900;
$input-disabled-bg: $gray-lighter;

// Input AceEditor
$ace-gutter-bg: #e8e8e8;

/* Select Dropdown Menu */
$select-dropdown-bg: $eos-bc-white;
$select-dropdown-color: $eos-bc-gray-1000;
$select-dropdown-focused-bg: rgba($eos-bc-cerulean-100, 0.3);
$select-dropdown-selected-bg: $eos-bc-blue-500;
$select-dropdown-selected-color: $eos-bc-white;

/* Dropdown Menu */
$dropdown-bg: $eos-bc-white;
$dropdown-border: rgba(0, 0, 0, 0.15);
$dropdown-hover-bg: $eos-bc-gray-50;

// Pre
$pre-bg: rgba($eos-bc-white, 0.5);
$pre-border: $eos-bc-gray-100;

// Code
$code-bg: rgba($eos-bc-gray-100, 0.5);

/* Modals */
$modal-backdrop-color: rgba($eos-bc-gray-1000, 50%);
$modal-bg: $eos-bc-white;
$modal-border: $eos-bc-gray-100;
