include ../common.jade

#notification-messages

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

+userPreferences
script(src='/javascript/manager/notifications/notification-messages.renderer.bundle.js?cb=#{webVersion}')

