include ../common.jade

script(src='/javascript/momentjs/moment-with-langs.min.js?cb=#{webBuildtimestamp}', type='text/javascript')

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#notification-messages
    script(type='text/javascript').
        injectReactPage('notifications/notification-messages')
