/*Styles that are specific to RHN documentation pages **/
DIV.navheader TABLE
{
	width: 100%;
}
TABLE.WARNING TR TH B, TABLE.NOTE TR TH B, TABLE.TIP TR TH B, TABLE.IMPORTANT TR TH B, TABLE.CAUTION TR TH B
{
	color: #333;
}
TABLE.CALSTABLE
{
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	padding: 5px 0px;
	border: none;
	background-color: #F1EBDC;
}
TABLE.CALSTABLE TH
{
	color: #333;
}
TABLE.CALSTABLE TD, TABLE.CALSTABLE TH
{
	border: none;
	padding: 0px 10px 5px;
	vertical-align: middle;
}
TABLE.CALSTABLE TD
{
	padding-top: 5px;
	border-top: 1px solid #FFFFFF;
}
TABLE.CALSTABLE TD+TD, TABLE.CALSTABLE TD+TD+TD, TABLE.CALSTABLE TH+TH, TABLE.CALSTABLE TH+TH+TH
{
	padding-left: 12px;
	border-left: 1px solid #FFFFFF;
}
/*** mizmo new docs style overrides ***/
.variablelist DD
{
	padding-bottom: 3ex;
}
PRE CODE
{
	display: block;
}
PRE CODE EM, PRE CODE SPAN, PRE CODE CODE
{
	display: inline;
}
.book DIV.table, .section DIV.table, .chapter DIV.table, .preface DIV.table
{
	margin-top: 2ex;
}
.note TABLE, .tip TABLE, .important TABLE, .caution TABLE, .warning TABLE
{
/* 	background-color: #FFFFFF; */
/* 	color: #444; */
}
.note .guibutton, .note .keycap, .note .guilabel, .tip .guibutton, .tip .keycap, .tip .guilabel, .important .guibutton, .important .keycap, .important .guilabel, .caution .guibutton, .caution .keycap, .caution .guilabel, .warning .guibutton, .warning .keycap, .warning .guilabel
{
}
.note H2, .tip H2, .important H2, .caution H2, .warning H2
{
	border: none;
}
.book H3.title, .section H3.title, .preface H3.title, .chapter H3.title
{
	font-size: medium;
}
.appendix H2, .book H2, .preface H2, .section H2, .chapter H2
{
	background-color: transparent;
	color: #294172;
	font-family: "liberation sans", "Bitstream Vera Sans", "Lucida Grande", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
	line-height: 130%;
	margin-top: 0em;
	border-bottom: none;
	font-size: medium;
}
P#title
{
	display: none;
}
HR
{
	border-bottom: 1px dotted #CCC;
	height: 1px;
}
.copyright
{
	color: #BBB;
}
.book .toc .chapter A, .book .toc .preface A, .book .toc .chapter STRONG, .book .toc .glossary A, .book .toc .index A
{
	font-size: medium;
	font-weight: 900 !important;
}
.application
{
	font-weight: normal !important;
	font-style: italic;
}
.book .toc .section
{
	font-size: medium;
}
.book .toc DD DD .section
{
	font-size: small !important;
}
.table H6, .figure H6
{
	margin-top: 0px;
	color: #294172;
}
/*** new docs stuff from here on down with mods here and there **
Lists*/
.orderedlist OL
{
	margin: 0px;
	padding: 8px 0px 4px 15px;
}
.preface OL LI, .preface UL LI, .chapter OL LI, .chapter OL LI, .book OL LI, .section OL LI, .book UL LI, .section UL LI
{
	padding-left: 0.2em;
	padding-bottom: 0.5em;
	margin: 0em;
}
.book UL, .section UL, .preface UL, .chapter UL
{
	padding-left: 1.6em;
	list-style-image: url(../img/docs/dot.png);
	list-style-type: circle;
}
.book UL UL, .section UL UL, .preface UL UL, .chapter UL UL
{
	list-style-image: url(../img/docs/dot2.png);
	list-style-type: circle;
}
.book DT, .section DT, .preface DT, .chapter DT
{
	font-weight: bold;
	margin-bottom: 0em;
	padding-bottom: 0em;
}
.book DD, .section DD, .preface DD, .chatper DD
{
	margin: 0em;
	margin-left: 2em;
	padding-top: 0em;
}
.book LI P:first-child, .book DD P:first-child, .section LI P:first-child, .section DD P:first-child, .preface LI P:first-child, .preface DD P:first-child, .chapter LI P:first-child, .chapter DD P:first-child
{
	padding: 0em;
	margin-top: 0.3em;
}
.variablelist, .itemizedlist
{
	margin-top: 0.6em;
}
.chapter UL LI P:first-child, .preface UL LI P:first-child, .book UL LI P:first-child, .section UL LI P:first-child
{
	margin: 0em;
}
/*images*/
.book IMG, .section IMG, .preface IMG, .chapter IMG
{
	display: block;
	margin: 2em 0;
}
.inlinemediaobject, .inlinemediaobject IMG
{
	display: inline !important;
	margin: 0em;
}
.figure IMG
{
	display: block;
	margin: 0 auto;
}
.figure .title
{
	margin: 0em;
	margin-bottom: 2em !important;
	padding: 0px;
}
/*document modes*/
DT A
{
	font-weight: normal;
}
.longdesc-link
{
	display: none;
}
.prompt
{
	background-color: #EDE7C8;
	padding: 0em 0.3em;
}
/*user interface styles*/
.screen .replaceable
{
	/*[disabled]color:#444;*/
}
.screen
{
	background-color: #DFDFDF;
	/*[disabled]color:#333;*/
	padding: 0.5em 1em;
	margin: 0.5em;
	/*+border-radius:4px;*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
PRE, CODE, .guibutton, .keycap, .guilabel
{
	font-size: 0.9em;
	font-family: "Droid Sans Mono", "liberation mono", "Bitstream vera mono", monospace;
}
.guibutton, .keycap, .guilabel
{
	font-weight: bold;
/*white-space:nowrap;*/
	/*[disabled]color:#444;*/
	font-family: "liberation sans", "Bitstream vera sans", "dejavu sans", sans-serif;
}
.guibutton, .guilabel
{
}
.keycap
{
	padding: 0.1em 0.4em;
}
.example
{
	background-color: #C8C5AC;
	padding: 5px;
	margin-bottom: 10px;
}
/*terminal/console text*/
.command, .computeroutput, .filename, .citetitle, .replaceable, .option
{
	font-weight: bold;
}
.command .replaceable
{
	color: #555;
}
PRE
{
	display: block;
	/*[disabled]background-color:#F7F2D0;*/
	/*[disabled]color:#333;*/
	overflow: auto;
}
EM.replaceable
{
	font-style: normal;
	color: #808080;
}
PRE CODE, CODE
{
	white-space: normal;
}
pre.warning { padding: 1em; background-color: #d7d7d7; }

/*Notifications*/
DIV.note, DIV.tip, DIV.important, DIV.caution, DIV.warning
{
	background: #FFFCD6;
	padding: 1em;
	padding-bottom: 20px;
	border: 1px solid #FDF58B;
	margin-bottom: 1.5em;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px 10px 10px 10px;
}
DIV.note PRE, DIV.tip PRE, DIV.important PRE, DIV.caution PRE, DIV.warning PRE
{
	/*[disabled]background-color:#333;*/
	/*[disabled]color:#FFFFFF;*/
}
DIV.note, DIV.tip, DIV.important, DIV.caution, DIV.warning
{
	margin-top: 0.5em;
}
DIV.note
{
	background-image: url(../img/docs/note.png);
}
DIV.tip
{
	background-image: url(../img/docs/tip.png);
}
DIV.important
{
	background-image: url(/img/docs/important.png);
}
DIV.caution
{
	background-image: url(../img/docs/caution.png);
}
DIV.warning
{
	background-image: url(../img/docs/warning.png);
}
DIV.note .replaceable, DIV.tip .replaceable, DIV.important .replaceable, DIV.caution .replaceable, DIV.warning .replaceable
{
	/*[disabled]color:#E3DCC0;*/
}
PRE .replaceable, TT .replaceable
{
	/*[disabled]color:#444;*/
}
DIV.note H2, DIV.tip H2, DIV.important H2, DIV.caution H2, DIV.warning H2
{
	height: 32px;
	font-size: 1.3em;
	/*[disabled]color:#FFFFFF;*/
}
DIV.note .guilabel, DIV.tip .guilabel, DIV.important .guilabel, DIV.caution .guilabel, DIV.warning .guilabel
{
	/*[disabled]color:#FFFFFF;*/
}
/*
div.note h2,div.tip h2,div.important h2,div.caution h2,div.warning h2{
background-color:transparent;background-position:top left;background-repeat:no-repeat;height:48px;font-size:1.3em;color:#ede7c8;
}
*/
DIV.note LI, DIV.tip LI, DIV.caution LI, DIV.warning LI, DIV.important LI
{
	padding-left: 10px;
	margin: 0em;
}
DIV.note UL, DIV.tip UL, DIV.caution UL, DIV.warning UL, DIV.important UL
{
	padding-left: 40px;
	margin: 0em;
}
DIV.note PRE PRE A:visited, DIV.tip PRE PRE A:visited, DIV.important PRE PRE A:visited, DIV.caution PRE PRE A:visited, DIV.warning PRE PRE A:visited, DIV.note PRE A:link, .tip PRE A:link, DIV.important PRE A:link, DIV.caution PRE A:link, DIV.warning PRE A:link
{
	color: #0066CC !important;
}
DIV.note A:visited, DIV.tip A:visited, DIV.important A:visited, DIV.caution A:visited, DIV.warning A:visited, DIV.note A:link, DIV.tip A:link, DIV.important A:link, DIV.caution A:link, DIV.warning A:link
{
	/*[disabled]color:#F7F2D0;*/
}
/*notification icons*/
DIV.warning H3, DIV.note H2, DIV.note H3, DIV.note P, DIV.tip H2, DIV.tip P, DIV.caution H2, DIV.caution P, DIV.warning H2, DIV.warning P, DIV.important H2, DIV.important H3, .important P
{
	padding: 0em;
	margin: 0em;
	padding-left: 56px;
}
/*div.note h2{background-image:url(../images/note.png)}
div.tip h2{background-image:url(../images/tip.png)}
div.caution h2{background-image:url(../images/caution.png)}
div.warning h2{background-image:url(../images/warning.png)}
div.important h2{background-image:url(../images/important.png)}

Page Title*/
#title STRONG
{
	display: none;
}
#title A
{
	display: block;
	height: 45px;
	width: 110px;
	padding-left: 200px;
	background: transparent url(../images/rhlogo.png) no-repeat top left;
}
#title
{
	display: block;
	height: 45px;
	background: transparent url(../images/documentation.png) no-repeat top right;
	padding-bottom: 1em;
}
/*Table*/
.chapter .table TABLE, .book .table TABLE, .preface .table TABLE, .section .table TABLE
{
	border: 1px solid #AAA;
	width: 100%;
	border-collapse: collapse;
	background-color: #FFFFFF;
}
.chapter .table TABLE TH, .book .table TABLE TH, .preface .table TABLE TH, .section .table TABLE TH
{
	text-align: left;
	background-color: #294172;
	padding: 0.3em 0.5em;
	color: #FFFFFF;
}
.chapter .table TABLE TD, .book .table TABLE TD, .preface .table TABLE TD, .section .table TABLE TD
{
	padding: 0.15em 0.5em;
}
.chapter .table TABLE TR.even TD, .book .table TABLE TR.even TD, .preface .table TABLE TR.even TD, .section .table TABLE TR.even TD
{
	background-color: #F5F5F5;
}
.chapter .table TABLE TH P:first-child, .chapter TABLE TD P:first-child, .chapter TABLE LI P:first-child, .book .table TABLE TH P:first-child, .book TABLE TD P:first-child, .book TABLE LI P:first-child, .preface .table TABLE TH P:first-child, .preface TABLE TD P:first-child, .preface TABLE LI P:first-child, .section .table TABLE TH P:first-child, .section TABLE TD P:first-child, .section TABLE LI P:first-child
{
	margin-top: 0em;
	padding-top: 0em;
	display: inline;
}
.chapter TH, .chapter TD, .book TH, .book TD, .preface TH, .preface TD, .secion TH, .section TD
{
	border-style: none;
}
.chapter .table TABLE TABLE TD, .book .table TABLE TABLE TD, .preface .table TABLE TABLE TD, .section .table TABLE TABLE TD
{
	border-bottom: 1px dotted #AAA !important;
	padding: 0.6em 0em;
}
.chapter .table TABLE TABLE, .book .table TABLE TABLE, .preface .table TABLE TABLE, .section .table TABLE TABLE
{
	border: 1px solid #FFFFFF !important;
	font-size: 0.9em;
}
TD.remarkval
{
	font-size: 0.9em;
	color: #444;
}
.defaultval
{
	font-size: 0.8em;
}
TD.typeval
{
	font-size: 0.8em;
}
TD.fieldval
{
	font-weight: bold;
	font-size: 0.9em;
}
TH.dbkey
{
	font-size: 0.9em;
}
.lbname, .lbtype, .lbdescr, .lbdriver, .lbhost
{
	color: #FFFFFF;
	font-weight: bold;
	background-color: #999;
	font-size: 0.9em;
	width: 120px;
}
TD.remarkval
{
	width: 230px;
}
TD.tname
{
	font-weight: bold;
	font-size: 1.1em;
}
H5
{
	font-size: 9pt;
}
H6
{
	font-size: 10pt;
}
TH.dbfield
{
	width: 120px;
}
TH.dbtype
{
	width: 70px;
}
TH.dbdefault
{
	width: 70px;
}
TH.dbnul
{
	width: 70px;
}
TH.dbkey
{
	width: 70px;
}
SPAN.book
{
	margin-top: 4em;
	display: block;
}
SPAN.chapter
{
	display: block;
	margin-top: 0.5em;
}
/*Breadcrumbs*/
#breadcrumbs UL LI.first:before
{
	content: " ";
}
#breadcrumbs
{
	color: #294172;
	padding: 3px;
	margin-bottom: 25px;
}
#breadcrumbs UL
{
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
}
#breadcrumbs UL LI
{
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: none;
	display: inline;
}
#breadcrumbs UL LI:before
{
	content: "\0020 \0020 \0020 \00BB \0020";
	color: #333;
}
/*status*/
.alpha1
{
	background: #FFFFFF url(../images/watermark-alpha1.png) repeat top left;
}
.alpha2
{
	background: #FFFFFF url(../images/watermark-alpha2.png) repeat top left;
}
.beta1
{
	background: #FFFFFF url(../images/watermark-beta1.png) repeat top left;
}
.beta2
{
	background: #FFFFFF url(../images/watermark-beta2.png) repeat top left;
}
.pre-release-candidate
{
	background: #FFFFFF url(../images/watermark-pre-release-candidate.png) repeat top left;
}
.release-candidate
{
	background: #FFFFFF url(../images/watermark-release-candidate.png) repeat top left;
}
/*index*/
.glossary H3, .index H3
{
	font-size: 2em;
	color: #AAA;
	margin: 0em;
}
.indexdiv
{
	margin-bottom: 1em;
}
.glossary DT, .index DT
{
	font-size: 0.9em;
	color: #444;
	padding-top: 0.5em;
}
.glossary DL DL DT, .index DL DL DT
{
	font-size: 0.85em;
	color: #777;
	line-height: 1.2em;
	font-weight: normal;
	padding-top: 0em;
}
.index DL DL DT:before
{
	content: "- ";
	color: #CCC;
}
/*changes*/
.footnotes
{
}
.footnote
{
	padding: 0.2em 1em;
	background-color: #C8C5AC;
	font-size: 0.9em;
	margin: 0em;
	margin-bottom: 0.5em;
	color: #222;
}
TABLE .footnote
{
	margin: 1em 0.5em;
}
SUP
{
	padding: 0em 0.3em;
	padding-left: 0em;
}
.footnote
{
	position: relative;
}
.footnote SUP
{
	color: #E3DCC0;
	font-size: 1.8em;
	position: absolute;
	left: 0.4em;
}
.footnote SUP A:link, .footnote SUP A:visited
{
	color: #92917D;
	text-decoration: none;
}
.footnote:hover SUP A
{
	color: #FFF;
	text-decoration: none;
}
.footnote P
{
	padding-left: 5em;
}
.footnote A:link, .footnote A:visited
{
	color: #00537C;
}
.footnote A:hover
{
	color: #FFFFFF;
}
LI P:first-child
{
	margin: 0em !important;
	padding: 0em !important;
}
/**/
DIV.preface, DIV.chapter, DIV.section
{
	padding: 1em 0.5em 0.5em;
	font-family: "Droid Sans", "Albany AMT", "Lucida Grande", tahoma, helvetica, verdana, arial, sans-serif;
	text-align: justify;
}
SPAN.permalink A
{
	/*+opacity:40%;*/
	filter: alpha(opacity=40);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
}
SPAN.permalink A:hover
{
	/*+opacity:100%;*/
	filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
.revhistory
{
	/*[empty]font-size:;*/
}
PRE .replaceable, PRE .keycap
{
	/*[disabled]color:#FFFFFF;*/
}
PRE
{
	font-family: "Droid Sans Mono", "liberation mono", "bitstream vera mono", "dejavu mono", monospace;
}
DIV.note .replaceable, DIV.tip .replaceable, DIV.important .replaceable, DIV.caution .replaceable, DIV.warning .replaceable, DIV.note .keycap, DIV.tip .keycap, DIV.important .keycap, DIV.caution .keycap, DIV.warning .keycap
{
	color: #FFFFFF;
}
DIV.abstract
{
	font-size: larger;
}
.authorgroup
{
}
.authorgroup H4
{
	padding: 0em;
	margin: 0em;
	margin-top: 1em;
}
.author, .editor, .translator, .othercredit
{
	display: block;
}
UL LI P:last-child
{
	margin-bottom: 0em;
	padding-bottom: 0em;
}
/*Navigation*/
DIV.breadcrumbs a
{
    margin-left: 10px;
}
DIV.breadcrumbs .breadcrumbs-sep
{
  display: none;
}
DIV.breadcrumbs strong
{
  margin-left: 10px;
}
DIV.breadcrumbs strong a:first-child
{
  border-radius: 3px 0px 0px 3px;
  margin-right: -3px;
}
DIV.breadcrumbs strong a:last-child {
  border-radius: 0px 3px 3px 0px;
  border-left-color: #DDD!important;
}

DIV.navheader TABLE, DIV.navfooter TABLE
{
	width: 100%;
}
DIV.navheader TABLE TH
{
}
DIV.navheader TABLE TH:first-child
{
	font-size: 1.8em;
	color: #83B354;
	padding-bottom: 16px;
}
DIV.navheader TABLE TD, DIV.navfooter TABLE TD
{
	text-align: center;
}
DIV.navheader TABLE TD A, DIV.navfooter TABLE A
{
	border: 1px solid #AAA !important;
	color: #333 !important;
	text-align: center;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	padding: 2px 10px !important;
	white-space: nowrap;
	background: #FFFFFF url(/img/minibutton-shade.png) repeat-x 50% 100%;
	text-decoration: none !important;
}
DIV.navheader TABLE TD A:hover, DIV.navfooter TABLE A:hover
{
	border: 1px solid #666 !important;
	color: #666 !important;
	cursor: pointer;
}
DIV.navheader TABLE TD:first-child, DIV.navfooter TABLE TD:first-child
{
	text-align: left;
}
DIV.navheader TABLE TD:last-child, DIV.navfooter TABLE TD:last-child
{
	text-align: right;
}
DIV.navfooter TABLE TD
{
	padding-top: 15px;
}
