/**** PRIMARY TOP NAV BAR ****/
/*+clearfix {*/
DIV#navWrap DIV#mainNavWrap:after, UL#mainNav:after, DIV#mainNavWrap UL:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
DIV#navWrap DIV#mainNavWrap, UL#mainNav, DIV#mainNavWrap UL
{
	display: inline-block;
}
DIV#navWrap DIV#mainNavWrap, UL#mainNav, DIV#mainNavWrap UL
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
#header
{
	width: 100%;
	clear: both;
	height: 50px;
	margin: 5px 0px;
}
#header FORM
{
	width: 100%;
	margin-top: 5px;
	float: right;
	text-align: right;
}
#header SELECT
{
	margin-right: 5px;
}
#header INPUT, #header SELECT
{
	border: 1px solid #648D3D !important;
}
#rhLogo
{
	float: left;
	margin-left: 2px;
}
DIV#navWrap
{
	clear: both;
	height: 30px;
}
/*[clearfix]*/DIV#navWrap DIV#mainNavWrap
{
	height: 32px;
}
/*[clearfix]*/UL#mainNav, DIV#mainNavWrap UL
{
	font-weight: bold;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	list-style-type: none;
	height: 32px;
}
UL#mainNav LI, DIV#mainNavWrap UL LI
{
	float: left;
	padding: 0 0 2px;
	margin: 0;
	height: 30px;
}
UL#mainNav LI A, DIV#mainNavWrap UL LI A
{
	padding: 9px 10px 5px;
	text-decoration: inherit;
	color: #FFF;
	font-size: 1em;
	display: block;
	float: left;
}
UL#mainNav LI A:hover, DIV#mainNavWrap UL LI A:hover
{
	text-decoration: underline;
}
/***** highlighting *****/
LI#mainFirst-active, #mainNav LI#main-active, #mainNav LI#mainLast-active, DIV#mainNavWrap UL LI#main-active, DIV#mainNavWrap UL LI#mainLast-active
{
	background-color: #FFFFFF;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	/*+box-shadow:0px 10px 10px rgba(0, 0, 0, 0.2969);*/
	-moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2969);
	-webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2969);
	-o-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2969);
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2969);
	/*+border-radius:7px 7px 0 0;*/
	-moz-border-radius: 7px 7px 0 0;
	-webkit-border-radius: 7px 7px 0 0;
	-khtml-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
}
LI#mainFirst-active A, #mainNav LI#main-active A, #mainNav LI#mainLast-active A, DIV#mainNavWrap UL LI#main-active A, DIV#mainNavWrap UL LI#mainLast-active A
{
	color: #555753;
}
LI#mainFirst-active A:hover, #mainNav LI#main-active A:hover, #mainNav LI#mainLast-active A:hover, DIV#mainNavWrap UL LI#main-active A:hover, DIV#mainNavWrap UL LI#mainLast-active A:hover
{
	color: #555753;
	text-decoration: none;
	cursor: default;
}
/*if it's the first tab item in the bar, styled a little differently*/
UL#mainNav LI#mainFirst-active A, DIV#mainNavWrap UL LI#mainFirst-active A
{
	color: #555753;
	text-decoration: inherit;
}
/***** hacks!! *****/
#utility:after, #header:after, #navWrap:after
{
}
/*Holly Hack Targets IE Win only \*/
* HTML #utility, * HTML #header, * HTML #navWrap
{
}
/*End Holly Hack
*** SECONDARY TOP NAV BAR ***
This CSS is for the second, red-colored nav bar at the top of the screen.*/
#bar
{
	background-color: #FFFFFF;
	color: inherit;
	z-index: 1;
	position: relative;
	padding: 5px 0 0;
	width: 100%;
	height: 26px;
	min-width: 80em;
	overflow: hidden;
}
#bar:after
{
}
#systembar
{
}
#systembarinner
{
	text-align: right;
	height: 2em;
	max-width: 80em !important;
	margin: 0px auto;
}
#systembarinner DIV
{
	padding-top: 4px;
	padding-right: 10px;
}
#systembar A, #systembar A:link, #systembar A:hover, #systembar A:active
{
	margin-left: 6px;
}
#searchbar
{
	float: right;
	margin-right: 10px;
	width: 500px;
	clear: right;
}
#searchbarinner
{
	float: right;
	margin-top: 5px;
}
#systembarinner FORM, #searchbarinner FORM
{
}
