/*+clearfix {*/
UL.content-nav-rowone:after, .clearBoxBody:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
UL.content-nav-rowone, .clearBoxBody
{
	display: inline-block;
}
UL.content-nav-rowone, .clearBoxBody
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
BODY
{
	-font-family: sans-serif;
}
INPUT
{
	font-family: sans-serif;
}
.content-nav LI
{
	=float: left;
}
DIV.contentnav-row2 DIV.top
{
	height: 1px;
	border-top: 1px solid #DDD;
	-margin-bottom: -8px;
}
/*[clearfix]*/UL.content-nav-rowone
{
	/*[disabled]display:inline;*/
	/*[disabled]height:auto;*/
}
UL.content-nav-rowone LI
{
	/*[disabled]display:inline;*/
	/*[disabled]height:auto;*/
	/*[disabled]-float:none;*/
}
UL.content-nav-rowone LI A
{
	/*[disabled]display:inline-block;*/
	/*[disabled]-margin:3px 0px;*/
}
UL.content-nav-rowtwo
{
	/*[disabled]padding-bottom:0px;*/
}
#mainNav LI
{
	height: 12px;
}
.contentnav-row2
{
	/*[disabled]margin-top:5px;*/
	/*[disabled]border-top:1px solid #DDD;*/
}
.contentnav-row2 .top
{
	/*[disabled]display:none;*/
}
.contentnav-row2 .bottom
{
	/*[disabled]padding-top:5px;*/
}
#header
{
	/*[disabled]height:56px;*/
}
#searchbar
{
	padding: 16px 0px 0px;
}
UL.content-nav-rowthree
{
}
/*xml*/
#INVALID-RULE
{
	display: none;
}
TD.page-content
{
}
.page-content H2
{
	clear: both;
}
#bar
{
	width: 100%;
	text-align: center;
}
#systembar
{
	width: 80em;
	text-align: left;
}
#sidenav
{
}
#sidenav LI
{
	height: 10px;
	margin: 0px;
	padding: 0px;
}
HTML>BODY #sidenav LI
{
	height: auto;
}
/*[clearfix]*/.clearBoxBody
{
}
INPUT
{
	font-family: sans-serif;
}
TABLE.details
{
	width: 90%;
}
TABLE.details TH
{
	width: 30%;
}
TABLE.details TD
{
	width: 70%;
}
TABLE.details TR
{
}
