/*** header where RH logo, RHN logo, account, etc stuff is **
BEGIN new "rhel5" primary and secondary navigation
************************************************************* TOP NAVIGATION V2*/
#header
{
}
/*IMG#rhLogo is hidden as it is not needed in SuSE Manager context*/
IMG#rhLogo
{
	display: none;
	width: 0px;
	height: 0px;
}
IMG#rhnLogo
{
	float: left;
	width: 226px;
	height: 75px;
	margin-left: 15px;
	position: absolute;
	top: 8px;
}
#utility
{
	/*[empty]font-size:;*/
	padding: 10px 0 0;
	height: 15px;
}
#utility A
{
/* 	color: #C6DEAE; */
	color: #E9F8D5;
	text-shadow: rgba(0, 0, 0, 0.105469) 1px 1px 1px;
}
#utilityLinks
{
	float: left;
	width: inherit;
	padding: 0 0 0 10px;
	display: block;
}
#utilityLinks P#geo
{
	margin: 0px 10px 0 0;
	padding: 0px;
	display: inline;
	font-size: 0.8em;
	vertical-align: inherit;
}
#utilityLinks P#linx
{
	margin: 0;
	display: inline;
	padding: 0px;
	float: right;
}
#utilityAccount
{
	float: right;
	text-align: center;
	padding-right: 10px;
}
#utilityAccount P
{
	margin: 0;
	display: block;
	color: #3B591A;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4);
/* 	color: #C6DEAE; */
}
#utilityAccount SPAN.label
{
/* 	font-size: 0.8em; */
	font-weight: normal;
/* 	color: #000000; */
}
#utilityAccount P A, #utilityAccount P A:link
{
}
SPAN.navPipe
{
	color: #A3C87D;
	padding: 0 8px;
}
A#utilityCart
{
	background-image: url(/img/nav/cart.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding-left: 26px;
	padding-bottom: 4px;
	padding-top: 3px;
}
#utilityAccount A:link, #utilityAccount A:hover, #utilityAccount A:active, #utilityAccount A
{
}
#utilityLinks A:link, #utilityLinks A:hover, #utilityLinks A:active, #utilityLinks A
{
}
#utility A:hover
{
	color: #FFFFFF;
}
