/** styles for content nav (for example, the sdc grey navigation bar is a content nav **/
.content-nav
{
	margin: 0;
	padding: 0;
	/*[disabled]height:30px;*/
	border-bottom: 1px solid #DDD;
}
.content-nav A:visited
{
	color: #06C;
}
.content-nav UL
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: "Luxi Sans", verdana, arial, sans-serif;
}
.content-nav:after, .content-nav UL:after
{
	/*[disabled]content:".";*/
	/*[disabled]display:block;*/
	/*[disabled]height:1px;*/
	/*[disabled]margin-top:-1px;*/
	/*[disabled]overflow:hidden;*/
	/*[disabled]clear:both;*/
	/*[disabled]visibility:hidden;*/
}
UL.content-nav-rowone, UL.content-nav-rowthree
{
	/*[disabled]margin-left:10px;*/
}
UL.content-nav-rowone
{
	/*[disabled]border-bottom:3px solid #E6E6E6;*/
	/*[disabled]margin-bottom:-4px;*/
}
UL.content-nav-rowone LI
{
	/*[disabled]margin-bottom:-1px;*/
}
UL.content-nav-rowone LI, UL.content-nav-rowthree LI
{
	float: left;
}
UL.content-nav-rowone LI A, UL.content-nav-rowthree LI A
{
	display: block;
	padding: 5px 10px;
}
UL.content-nav-rowtwo
{
	/*[disabled]background:url(/img/contentnav_rowtwo_b.gif) no-repeat bottom left;*/
	/*[disabled]padding-bottom:6px;*/
	/*[disabled]margin-right:8px;*/
}
UL.content-nav-rowtwo LI
{
	display: inline;
	padding-left: 18px;
}
UL.content-nav-rowtwo LI A
{
	padding: 2px 5px;
}
A.content-nav-selected-link
{
	color: #444;
	font-weight: normal;
	background-color: #E4EDF6;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #89A7C6;
}
A.content-nav-selected-link:hover
{
	color: #444 !important;
	font-weight: normal;
	background-color: #E4EDF6;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #89A7C6;
	text-decoration: none;
	cursor: default;
}
UL.content-nav-rowone LI.content-nav-selected
{
	/*[disabled]background:url(/img/contentnav_tabr.gif) no-repeat top right;*/
}
UL.content-nav-rowone A.content-nav-selected-link
{
	/*[disabled]color:#444;*/
	/*[disabled]font-weight:900;*/
	/*[disabled]background:url(/img/contentnav_tabl.gif) no-repeat top left;*/
}
UL.content-nav-rowthree LI.content-nav-selected
{
	background: url(/img/contentnav_tabr.gif) no-repeat bottom right;
}
UL.content-nav-rowthree A.content-nav-selected-link
{
	color: #444;
	font-weight: 900;
	background: url(/img/contentnav_tabl.gif) no-repeat bottom left;
}
DIV.contentnav-row2
{
	/*[disabled]background:#E6E6E6 url(/img/contentnav_rowtwo_t.gif) no-repeat top left;*/
	padding: 5px 0px 0;
	clear: left;
	display: block;
	height: 30px;
}
DIV.contentnav-row2 A.content-nav-selected-link
{
	color: #444;
	/*[disabled]font-weight:900;*/
}
DIV.contentnav-row2 DIV.top
{
	/*[disabled]background:url(/img/contentnav_rowtwo_t.gif) no-repeat top right;*/
	/*[disabled]margin-left:8px;*/
	height: 7px;
	/*[disabled]font-size:0;*/
	border-top: 1px solid #DDD;
}
DIV.contentnav-row2 DIV.bottom
{
	/*[disabled]background:url(/img/contentnav_rowtwo_b.gif) no-repeat bottom right;*/
}
