/*this is for site-info and site-error info boxes*/
.site-info, .site-alert
{
	text-align: center;
	padding: 8px;
	margin-bottom: 10px;
	font-size: inherit;
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px 10px 10px 10px;
	font-weight: normal;
        border-radius: 10px;
}
.site-alert UL
{
	text-align: left;
}
.site-info
{
	background-color: #FFFCD6;
	color: inherit;
	border: 1px solid #FDF58B;
}
.site-info A:link
{
	color: #005ED8;
	font-weight: bold;
	text-decoration: underline;
}
.site-info A:visited
{
	color: #005ED8;
	font-weight: bold;
	text-decoration: underline;
}
.site-alert
{
	background-color: #FFD6D6;
	color: #282828;
	border: 1px solid #FD8B8B;
        border-radius: 10px;
}
.site-alert A:link
{
	color: #282828;
	font-weight: bold;
	text-decoration: underline;
}
.site-alert A:visited
{
	color: #282828;
	font-weight: bold;
	text-decoration: underline;
}
.local-info
{
	color: #7782AA;
	text-align: left;
	font-size: 14px;
}
.local-alert
{
	color: #D00;
	padding-top: 7px;
	padding-left: 4px;
	text-align: left;
	font-size: 14px;
}
.site-info UL, .site-alert UL
{
	margin: 0px;
}

