/*index*/
.ssm-overview TD, .ssm-overview TH
{
	border-bottom: 1px solid #DDDDDD !important;
	line-height: 1.5;
}
.ssm-overview TR:last-child TD, .ssm-overview TR:last-child TH
{
	border-bottom: none !important;
	line-height: 1.5;
}
.page-content DIV.toolbar A
{
	padding-right: 10px;
}
/** Login box styles **/
DIV.login-component
{
	text-align: center;
}
DIV.login-box
{
	border: 1px solid #999;
	text-align: right;
	padding: 12px 10px;
	margin: 4px;
	background-color: #EEE;
	width: 210px;
	margin-left: auto;
	margin-right: auto;
}
DIV.login-box FORM
{
	margin: 0;
}
DIV.login-box DIV.input-row
{
	font-weight: bold;
	font-size: 10px;
	white-space: nowrap;
}
DIV.login-box DIV.input-row INPUT
{
	font-weight: normal;
	vertical-align: middle;
}
#login_page .clearBox, #relogin_page .clearBox
{
	margin-left: auto;
	margin-right: auto;
}
#relogin_page H1
{
	text-align: center;
	margin-top: 1em;
}
#relogin_page .page-content
{
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}
.clearBox
{
	width: 280px;
	padding: 10px 0px 5px;
	border: 1px solid #CCC;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 15px 15px 0px;
	/*+box-shadow:0 2px 10px #E8E8E8;*/
	-moz-box-shadow: 0 2px 10px #E8E8E8;
	-webkit-box-shadow: 0 2px 10px #E8E8E8;
	-o-box-shadow: 0 2px 10px #E8E8E8;
	box-shadow: 0 2px 10px #E8E8E8;
	height: 120px;
}
#login_page .formrow
{
	margin-bottom: 0px;
	padding: 3px 0;
}
.clearBox INPUT
{
	float: right;
}
.clearBox .label
{
	margin: 2px;
	font-size: 8pt;
	font-weight: normal !important;
}
.clearBoxInner
{
}
.clearBoxBody
{
	padding: 5px 14px 0;
}
.clearBoxBody H2
{
	font-size: small;
}
.clearBox #login
{
	margin-top: 8px;
	height: 25px;
}
/** End login box styles *
* used for system entitlements page for virtual systems **/
.asterisk
{
	color: #CC0000;
	font-weight: bold;
	font-size: x-large;
	vertical-align: sub;
	font-family: sans-serif;
	line-height: 0.6em;
}
/** used for the help desk page **/
UL#help-url-list UL
{
}
UL#help-url-list LI
{
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
UL#help-url-list LI A
{
	font-weight: bold;
}
/** used for the FAQ pages in the help section **/
UL#faq-list
{
	padding-left: 2px;
	margin-left: 0;
}
#faq-list LI
{
	list-style: none;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#faq-list A
{
}
#faq-details
{
	margin-left: 1em;
}
#faq-details A.faq-back-to-top
{
	float: right;
}
#faq-details P+H3
{
	padding-top: 2em;
}

/** used on the login page **/
H1#rhn_welcome
{
	background-image: url('/img/rhn_welcome.gif');
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-bottom: 5px;
	height: 20px;
	display: none;
}
H1#rhn_welcome2
{
	background-image: url('/img/rhn_welcome2.gif');
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 37px;
	display: none;
}
H1#rhn_welcome SPAN
{
	display: block;
}
H1#rhn_welcome2 SPAN
{
	display: none;
}
H1#rhn_welcome3
{
	font-size: 1.8em;
	color: #83B354;
	font-weight: bold;
	margin: 24px 0 0 0px;
	padding: 0px 0px 12px;
}
H1#rhn_welcome3 SPAN
{
}
#login_page, #relogin_page
{
	text-align: center;
}
.relogin
{
	/*[disabled]text-align:left;*/
}
#relogin_page .sidebar
{
	display: none;
}
#contentLeft
{
	float: left;
	margin-right: 10px;
	width: 450px;
}
#contentRight
{
	margin: 0 15px 0 295px;
}
P#intro
{
	font-size: 1.3em;
	line-height: 1.2em;
	color: #000;
}
P.endnote
{
	font-size: smaller;
	margin-top: 3em;
	padding-top: 10px;
	line-height: 1.5em;
	border-top: 1px solid #333;
}
/*iso stuff*/
DIV.sources, H3.sources, H3.dump, DIV.dump
{
	margin-left: 20px;
}
.iso-md5
{
	font-family: monospace;
	text-align: right;
}
/**/
.linkchain
{
	text-align: center;
	font-size: 12px;
	color: #555;
	white-space: nowrap;
}
.linkchain A
{
	font-weight: bold;
}
.preference
{
	margin: 0 30px;
	text-align: left;
	font-size: 0.9em;
	font-weight: bold;
	color: #444;
}
.schedule-action-interface TH
{
	background-color: #FFF;
	padding: 2px;
	border: none;
	color: #000000;
	text-align: left;
}
.ok-explanation IMG
{
	border: none;
	vertical-align: middle;
	padding: 2px 0 4px;
}
.ok-explanation IMG
{
	border: none;
	vertical-align: middle;
	padding: 2px 0 4px;
}
.resubscribe-warning IMG
{
	border: none;
	vertical-align: middle;
	padding: 2px 0 4px;
}
.resubscribe-warning-big
{
	margin: 0 2%;
	cursor: text;
	color: #C00;
}
.resubscribe-warning-big IMG
{
	border: none;
	padding: 0 4px 0 0;
	vertical-align: middle;
	float: left;
}
TD.comparison
{
	padding: 10px;
}
.summary-row
{
	background-color: #F5F5F5;
}
.schedule-action-interface
{
	color: #000000;
}

/** ssm **/
.ssm-overview TH
{
	font-weight: bold;
	color: #999;
	border: none;
	text-align: right;
	padding: 6px;
}
.work-with-group-header
{
	text-align: right;
}
.work-with-group-header IMG
{
	border: none;
}

/** terms and conditions **/
DIV.termsandconditions
{
	width: 95%;
}
DIV.printerfriendly_text
{
	background-color: #FFFFFF;
	width: 80%;
	padding: 4%;
	text-align: left;
	margin-right: 6%;
	margin-left: 6%;
	font-family: serif;
}
SPAN.printerfriendlylink
{
	float: right;
	padding-bottom: 3px;
	margin-right: -5px;
}
IMG.printerfriendlylink
{
	vertical-align: middle;
}
A.printerfriendlylink:link
{
	font-weight: bold;
	text-decoration: underline;
}
A.printerfriendlylink:visited
{
	font-weight: bold;
	text-decoration: underline;
}
DIV.tc_warning
{
	text-align: center;
}
P.tc_warning
{
	padding-right: 15%;
	padding-left: 15%;
}
TEXTAREA.termsandconditions
{
	height: 180px;
	width: 100%;
	font-family: monospace;
	padding: 3px;
	font-size: 10pt;
	border: 1px solid #000000;
	background-color: #FCF9E5;
}
DIV.tc_accept_button
{
	text-align: center;
	width: 50%;
	float: left;
}
DIV.tc_reject_button
{
	text-align: center;
	width: 50%;
	float: right;
}
/** config mgmt feature file diff styles **/
.oldfile
{
	float: left;
	width: 48%;
	font-family: monospace;
}
.newfile
{
	float: right;
	width: 48%;
	font-family: monospace;
}
.changed
{
	background-color: #F5F3C4;
	-moz-border-radius: 15px;
}
.oldfile .deleted
{
	background-color: #F5C4C4;
	-moz-border-radius: 15px;
}
.newfile .deleted
{
	background-color: #D4D4D4;
	-moz-border-radius: 15px;
}
.oldfile .inserted
{
	background-color: #D4D4D4;
	-moz-border-radius: 15px;
}
.newfile .inserted
{
	background-color: #C5F4C4;
	-moz-border-radius: 15px;
}
/** config mgmt feature file diff styles **/
.oldfile
{
	float: left;
	width: 48%;
	font-family: monospace;
}
.newfile
{
	float: right;
	width: 48%;
	font-family: monospace;
}
.changed
{
	background-color: #F5F3C4;
	-moz-border-radius: 15px;
}
.oldfile .deleted
{
	background-color: #F5C4C4;
	-moz-border-radius: 15px;
}
.newfile .deleted
{
	background-color: #D4D4D4;
	-moz-border-radius: 15px;
}
.oldfile .inserted
{
	background-color: #D4D4D4;
	-moz-border-radius: 15px;
}
.newfile .inserted
{
	background-color: #C5F4C4;
	-moz-border-radius: 15px;
}
/*style for overridden config files*/
.overridden-file
{
	color: #0066CC;
	text-decoration: line-through;
}
/** api doc rounded table of contents box **/
DIV.rounded-box
{
	float: right;
	margin: 10px;
	border-left: 1px solid #DDDDDD;
	padding-left: 10px;
}
DIV.rounded-box UL
{
	/*[disabled]border-right:1px solid #B4B19A;*/
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	list-style-image: url('/img/parent_node.gif');
}
DIV.rounded-box H2
{
	border: 0px solid #000000 !important;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 0px;
	text-align: center;
	color: #888A85;
	margin-top: 0px;
}
DIV.rounded-box H2 A
{
	color: #888A85;
    padding-top: 2px;
    border-radius: 10px 10px 0 0;
}
/** SDC fancy system info box showing system status (towards top of SDC > details page **/
.systeminfo
{
	/*[disabled]background:#E4EDF6;*/
	/*[disabled]padding:5px;*/
	/*[disabled]vertical-align:middle;*/
	position: relative;
}
.systeminfo-clear
{
	clear: both;
/** the rest is for older browsers **/
	height: 1px;
	line-height: 1px;
	font-size: 1px;
	margin-top: -1px;
}
.systeminfo-full
{
	/*[disabled]text-align:center;*/
	padding: 8px 8px 8px 30px;
	margin-bottom: 10px;
	font-size: inherit;
	/*+border-radius:10px;*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px 10px 10px 10px;
	font-weight: normal;
}
.systeminfo-full
{
	background-color: #FFFCD6;
	border: 1px solid #FDF58B;
}
.systeminfo-full IMG
{
	position: absolute;
	top: 9px;
	left: 8px;
}
.systeminfo-right {
    font-size: x-small;
    width: 60%;
    margin-top: 8px;
    vertical-align: middle;
    float: right;
    background-image: url(/img/rhn-bar-background.gif);
}

/** Fancy bar for complex/multiple submit buttons for a page's form. used on the system entitlements page, will be used on virt guest list **/
TABLE.entitle-bar
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 12px;
}
TABLE.entitle-bar TR
{
	width: 100%;
	background-image: url('/img/entitle-bar.png');
	height: 33px;
	background-repeat: no-repeat;
	background-position: left;
}
TABLE.entitle-bar TD
{
	padding: 12px 0px;
	background-image: none;
	background-position: 20% 0%;
}

/** table styles for language selections on locale preferences page **/
TABLE.langselect TD
{
	padding-right: 10px;
	vertical-align: top;
	width: 33%;
}

/** banner adds in lower left corner **/
DIV.buy-now
{
	text-align: left;
	padding-top: 16px;
}
DIV.buy-now IMG
{
	border: 0;
}
/** styles for advanced search forms (eg advanced system search, advanced package search **/
.search-choices FORM
{
	margin: 0;
	padding: 0;
}
.search-choices
{
	margin-top: 20px;
}
.search-choices-group
{
	margin-left: 40px;
}
/** misc **/
DIV.marketing-summary
{
	margin: 0 2%;
	cursor: text;
}
DIV.marketing-summary A
{
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}
.debug-profile
{
	background-color: #EEE;
	border: 1px solid #CCC;
	margin: 20px 40px;
	padding: 8px;
}
/** page toolbar**/
.page-content DIV.toolbar A
{
	padding-right: 10px;
}
.page-content DIV.toolbar A IMG
{
	background-color: #FFFFFF;
}
/** special case for search page *
Can't apply due to design limitations*/
DIV.search-choices-group .details TH
{
	text-align: left;
}

