/*-- General list stuff --*/
TH
{
	padding: 4px 6px;
	text-align: left;
	font-size: small;
	/*+text-shadow:0 1px 0px #FFFFFF;*/
	-moz-text-shadow: 0 1px 0px #FFFFFF;
	-webkit-text-shadow: 0 1px 0px #FFFFFF;
	-o-text-shadow: 0 1px 0px #FFFFFF;
	text-shadow: 0 1px 0px #FFFFFF;
}
TABLE.list IMG
{
	vertical-align: top !important;
	margin: 1px 0px 0px;
	padding: 0px;
	border: 0px solid #000000;
}
TABLE.list TD
{
	vertical-align: middle !important;
	font-size: 1.1em;
	border-bottom: 1px dotted #CCC;
}
TABLE.list TR:hover TD
{
	background-color: #EDF3F9;
}
TABLE.list TD+TD
{
	border-left: 1px solid #EEE;
}
TABLE.list TR:last-child TD
{
	border-bottom: 0px none #000000;
}
TABLE.list, TABLE.list-doubleheader
{
	font-size: 10px;
	background-color: #EEE;
	width: 100%;
	border: 1px solid #CCC;
	margin: 5px 0px;
}
TABLE.list TH, TABLE.list-doubleheader TH
{
	color: #333;
	border-bottom: 1px solid #CCC;
	background-color: #EEE;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(221,221,221)),color-stop(1, rgb(255,255,255)));
	background: -moz-linear-gradient(center bottom,rgb(221,221,221) 0%,rgb(255,255,255) 100%);
}
TABLE.list-doubleheader TR:nth-child(2n+1) TH
{
	background: #EEE;
	font-size: 1.5em;
	color: #666666;
}
TABLE.list TH.row-2
{
	border-right: 0px solid #000000 !important;
}
TABLE.list TH:last-child
{
	border-right: 0px solid #000000 !important;
}
TABLE.list THEAD TH:first-child
{
	border-left: 0px solid #000000 !important;
}
TABLE.list-pagination
{
	font-size: smaller;
}
TABLE.list-doubleheader TR+TR
{
}
TABLE.list-doubleheader TR+TR TH:first-child
{
	background-color: #D7D7D7;
	border-left: 1px solid #C0C0C0;
}
TABLE.list-doubleheader TR+TR TH:last-child
{
	border-right: 1px solid #C0C0C0;
}
TD.errata-patches IMG
{
	padding-left: 6px;
}
TD.first-column
{
}
TD.last-column
{
}
TD.only-column
{
	border-right: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
}
TH.thin-column, TD.thin-column
{
	width: 1%;
	text-align: center;
}
.list-checkbox
{
	text-align: center;
	border-left: 1px solid #C0C0C0;
}
.list-checkbox-header
{
	text-align: center;
}
.list TH A
{
	display: inline;
}
.list A:hover
{
	text-decoration: underline;
}
.list TR.greyed-out, .list TR.greyed-out A:link, .list TR.greyed-out A:visited
{
	color: #999;
}
.option-disabled
{
	color: #999;
}
/*list row classes*/
.list-row-even TD
{
	background-color: #F8F8F8;
}
.list-row-odd TD
{
	background-color: #FFF;
}
.list-row-even-disabled TD
{
	color: #808080;
	background-color: #EAE8E4;
}
.list-row-odd-disabled TD
{
	color: #808080;
	background-color: #FFFFFF;
}
.list-row-even-disabled A, .list-row-odd-disabled A
{
	color: #5397C6;
}
.list-row-summary
{
	text-align: right;
	font-weight: bold;
	border: 1px solid #CCC;
	background-color: #EEE;
}
.list-row-even TD, .list-row-odd TD, .list-row-summary TD, .list-row-even-disabled TD, .list-row-odd-disabled TD, .list-row-virtual-host-even TD, .list-row-virtual-host-odd TD, .list-row-virtual-even TD, .list-row-virtual-odd TD
{
	padding: 4px 8px;
}
.list-horiz-separator HR
{
	border: 0;
	border-bottom: 1px solid #CCC;
	padding: 0px;
}
/*default class def for row color toggling*/
.list-row-even-selected
{
	background-color: #DDE5FF;
}
.list-row-odd-selected
{
	background-color: #DDE5FF;
}
.list-row-odd-selected TD, .list-row-even-selected TD
{
	border-bottom: 1px solid #CCC;
	padding: 4px 8px;
}
/*For virtual system list*/
.list-row-virtual-host-odd TD
{
	background-color: #EAE8E4;
}
.list-row-virtual-host-even TD
{
	background-color: #E9E3D6;
}
.list-row-virtual-odd TD
{
	background-color: #FFFFFF;
}
.list-row-virtual-even TD
{
	background-color: #F6F4EF;
}
.list-row-virtual-host-odd TD, .list-row-virtual-host-even TD
{
	border-top: 1px solid #B4B19A;
}
/*Your Spacewalk widget classes*/
DIV.half-table-left
{
	float: left;
	width: 50%;
}
DIV.half-table-right
{
	float: right;
	width: 50%;
}
TABLE.half-table
{
	padding: 0px;
	margin: 0 0 10px 0;
	border: 1px solid #CCC;
	width: 97%;
}
.half-table TR:last-child TD
{
	border-bottom: 0px none #CCC;
}
.half-table TD
{
	border-bottom: 1px dotted #CCC;
}
TABLE.your-rhn TABLE.half-table TD
{
	padding: 2px 8px;
}
TABLE.your-rhn TABLE.full-table TD
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
}
TABLE.half-table THEAD TH
{
	background: #EEE;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(221,221,221)),color-stop(1, rgb(255,255,255)));
	background: -moz-linear-gradient(center bottom,rgb(221,221,221) 0%,rgb(255,255,255) 100%);
	border-bottom: 1px solid #CCC;
	color: #333;
}
TABLE.half-table THEAD TH+TH
{
	border-left: 0px solid #000000;
}
DIV.full-width-wrapper
{
	clear: both;
	padding-top: 10px;
}
SPAN.full-width-note-left
{
	float: left;
	margin-top: 5px;
}
SPAN.full-width-note-right
{
	float: right;
	margin-top: 5px;
}
/*special column classes*/
TH+TH
{
	border-left: 1px dotted #CCC;
}
A[name]:hover
{
}
/*pagination widget styles*/
#pagination_widget
{
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}
#pagination_widget IMG
{
	border: none;
	vertical-align: -25%;
}
#pagination_widget A.back_button
{
	margin-right: -5px;
}
#pagination_widget A.forward_button
{
	margin-left: -4px;
}
#pagination_widget A, SPAN.current_page
{
	border: 1px solid #777;
	height: 19px;
	width: 22px;
	font-size: 10pt;
	font-weight: bold;
	color: #0066CC;
	padding: 0 2px;
	margin: 0 -5px 0 -3px;
	text-decoration: inherit;
}
#pagination_widget SPAN.current_page
{
	background-color: #CCC;
	color: #777;
	font-weight: bold;
}
#pagination_widget A.first_page
{
	margin-left: -3px;
}
#pagination_widget A.last_page
{
	margin-right: -3px;
}
#pagination_widget A.back_button
{
	border: none;
}
#pagination_widget A.forward_button
{
	border: none;
}
.pagination-submit
{
	background-color: #FFF;
	border: 1px solid #777;
	color: #0066CC;
	font-weight: bold;
	display: inline;
	margin: 0 -1px 0 0;
}
.pagination-submit:hover
{
	cursor: pointer;
/*so they look like links ;)*/
	background-color: #EEF3FF;
}
.pagination-arrow-prev INPUT
{
	margin: 0 -4px -4px 0;
	border: none;
}
.pagination-arrow-next INPUT
{
	margin: 0 0 -4px -3px;
	border: none;
}
/*--- TABLE TREE VIEW ---*/
TR.table-tree-even TD, TR.table-tree-odd TD
{
	padding: 10px 15px;
}
TR.table-tree-even IMG, TR.table-tree-odd IMG
{
	margin-left: 4px;
}
TR.table-tree-odd
{
	background-color: #EAE8E4;
}
TR.table-tree-even
{
	background-color: #FFF;
}
/*padding for parent+child channels*/
TR.table-tree-even+TR.table-tree-even TD, TR.table-tree-odd+TR.table-tree-odd TD
{
	padding-top: 0;
}
TABLE.namespaces
{
	font-size: 10px;
	border: 1px solid #999;
}
TABLE.list-pagination
{
	font-size: 10px;
}
.list-empty-message
{
	margin: 0;
	cursor: text;
}
/** filterbox styles **/
.list-filterbox
{
	font-size: 10px;
}
DIV.filter-input
{
	padding: 0;
	vertical-align: baseline;
	position: relative;
}
DIV.filter-input DIV
{
	float: right;
	position: absolute;
	top: 5px;
	right: 5px;
}
DIV.filter-input .list-infotext:empty
{
	padding: 0px;
	margin: 0px;
	line-height: 0;
	font-size: 0;
}
DIV.filter-input TABLE
{
	width: 100%;
	line-height: 25px;
}
DIV.filter-input TD
{
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}
DIV.filter-input INPUT
{
	font-size: 10px;
	margin-left: 8px;
}
/** alphabar styles **/
.list-alphabar
{
	text-align: right;
	font-size: 12px;
	white-space: nowrap;
}
.list-alphabar A
{
	padding: 0px 2px;
}
.list-alphabar-enabled
{
	padding: 0px 2px;
}
.list-alphabar-disabled
{
	padding: 0px 2px;
	color: #AAA;
	cursor: default;
}
.list-box
{
	border: 1px solid #CCC;
}
.list-data-number
{
	text-align: right;
}
.list-navbuttons
{
	white-space: nowrap;
	text-align: right !important;
}
.list-sizeselector
{
	text-align: left !important;
	font-size: small;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}
.list-infotext
{
	text-align: right !important;
	white-space: nowrap;
	float: left;
	vertical-align: inherit;
	margin-top: 5px;
	padding: 0px;
	float: right;
}
.list-infotext STRONG
{
	font-weight: normal;
}
.list-infotext IMG, .list-infotext INPUT
{
	margin: 3px !important;
	padding: 0px;
	border: 0px none #000000;
	vertical-align: middle;
	/*+placement:shift 0px -1px;*/
	position: relative;
	left: 0px;
	top: -1px;
}
.list-channel A
{
}
.list-channel UL
{
	padding: 0;
	margin: 0;
}
.list-channel LI
{
	list-style: none;
}
.list-channel LI+LI
{
	padding-top: 0;
}
.list-channel LI+LI LI
{
	padding-top: 0;
}
.list-channel LI LI
{
	list-style-image: url(/img/branch.gif);
	margin-left: 2.5em;
}
UL.channel-list LI
{
	list-style-image: url(/img/rhn-bullet.gif);
}
UL.channel-list LI.child-channel
{
	list-style-image: url(/img/channel_child_node.gif);
	margin-left: 0.4em;
}
UL.channel-list LI.highlighted
{
	background-color: #FFFFBD;
}
.list-system-channels A
{
}
.list-system-channels UL
{
	padding: 0;
	margin: 0;
	margin-left: -18px;
}
.list-system-channels LI
{
	list-style-image: url(/img/rhn-bullet-parentchannel.gif);
}

/* the following classes highlight the first row of an alphabar jump */

tr.alphaResult td.sortedCol {
      padding-left: 20px;
      background-image: url('/img/list-forward.gif');
      background-repeat: no-repeat;
      background-position: left center;
}
.list-system-channels LI+LI LI
{
	padding-top: 0;
}
.list-system-channels LI LI
{
	list-style-image: url(/img/rhn-bullet-childchannel.gif);
}
/** iso list styles **/
.list-iso TH
{
	border-width: 0 0 1px;
}
.list-iso TH+TH
{
	border-left: 1px solid #CCC;
}
.list-iso TD.seperated
{
	border-top: 1px solid #CCC;
	font-weight: bold;
}
.list-iso
{
	font-size: 10px;
	border: 1px solid #999;
	padding: 1px;
}
.list-iso-item
{
	margin-left: 1em;
}
.list-iso-item
{
	color: #555;
}
.list-iso-item+.list-iso-item
{
	margin-top: 0.05em;
}
TABLE.namespace-control
{
	padding: 4px;
}
.namespace-control TR
{
	vertical-align: middle;
}
.namespace-control TD
{
	padding: 4px;
}
.namespace-control-buttons TD
{
	padding: 4px;
	vertical-align: middle;
}
/*existing Spacewalk STYLES - modded - these need to be inserted carefully*/
TABLE.iso_dl
{
	border-collapse: collapse;
}
TABLE.iso_dl TD
{
	padding: 4px;
}
TABLE.iso_dl TH
{
	color: #999;
	background-color: #EEE;
	border: 1px solid #999;
	padding: 6px 3px;
	text-align: right;
}
TABLE.iso_dl TH.first
{
	text-align: left;
}
/*--- Cool list sorting stuffs ---
the following classes darken all rows in the currently-sorted column*/
.list-row-even TD.sortedCol
{
	background-color: #EBF3FB;
	border-left: 1px solid #82B2E1;
	/*[disabled]border-right:1px solid #82B2E1;*/
}
.list-row-odd TD.sortedCol
{
	background-color: #FFFFFF;
	border-left: 1px solid #82B2E1;
	/*[disabled]border-right:1px solid #82B2E1;*/
}
TH.ascSort, TH.descSort
{
	background-color: #DAEAFA !important;
	border-bottom: 1px solid #82B2E1 !important;
	border-left: 1px solid #82B2E1 !important;
	/*[disabled]border-right:1px solid #82B2E1;*/
}
/*the following classes add an arrow graphic in the column header*/
TH.ascSort A
{
	padding-right: 20px;
	background-image: url(/img/rhn-listicon-arrow-ascend.gif) !important;
	background-repeat: no-repeat;
	background-position: 100% 60% !important;
}

th.ascSort:first-child, th.descSort:first-child {
   border-radius: 10px 0 0 0; 
}

.compare-list td:first-child {
  background-color: #e4e4e4;
  border-right: 1px solid #b4b19a;
}

th.ascSort:last-child, th.descSort:last-child {
   border-radius: 0 10px 0 0; 
}
TH.descSort A
{
	padding-right: 20px;
	background-image: url(/img/rhn-listicon-arrow-descend.gif) !important;
	background-repeat: no-repeat;
	background-position: 100% 60% !important;
}
/*the following classes highlight the first row of an alphabar jump*/
TR.alphaResult TD
{
	background-color: #D7D7D7;
}
TR.alphaResult TD.sortedCol
{
	background-color: #C0C0C0;
	padding-left: 20px;
	background-image: url(/img/list-forward.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.compare-list .first-column
{
	border-right: 1px solid #C0C0C0;
	background-color: #E4E4E4;
	text-align: right;
}
.list-button-row, .list-button-row TD
{
	background-color: #888 !important;
	border-right: none !important;
}
.list-button-row TD
{
	padding: 10px 5px;
}
.list-row-even .list-column-even
{
	background-color: #EEE;
}
.list-row-odd .list-column-even
{
	background-color: #E4E4E4;
}
.inactive
{
	background-color: #FFFCD6;
	margin-bottom: 5px;
}
.compare-list .inactive
{
	background-color: #FEF5AD;
	margin-bottom: 5px;
}
.compare-list UL
{
	list-style: none outside !important;
	padding: 0px;
}
/** CSV download widget **/
.csv-download
{
	width: 20%;
	text-align: center;
	margin-top: 10px;
}
.csv-download IMG
{
	margin-right: 4px;
	vertical-align: bottom;
}
.csv-download A
{
	color: #333;
	text-decoration: none;
}
.csv-download A:hover
{
	color: #666;
	text-decoration: none;
}
.list-fat-column-50
{
	width: 50%;
}
