/** styles for content nav (for example, the sdc grey navigation bar is a content nav **/
/*+clearfix {*/
.content-nav UL:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.content-nav UL
{
	display: inline-block;
}
.content-nav UL
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
.content-nav
{
	margin: 0;
	border-bottom: 1px solid #DDD;
}
.content-nav A:visited
{
}
/*[clearfix]*/.content-nav UL
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: table-row;
}
.content-nav LI
{
	display: table-cell;
	vertical-align: middle;
}
.content-nav LI A
{
	display: inline-block;
	margin: 4px;
	padding: 4px 8px;
	text-align: center;
	border: 1px solid #FFFFFF;
}
A.content-nav-selected-link
{
	color: #444 !important;
	font-weight: normal;
	background-color: #E4EDF6;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #89A7C6 !important;
	text-decoration: none !important;
}
DIV.contentnav-row2 DIV.top
{
	height: 1px;
	border-top: 1px solid #DDD;
}
DIV.contentnav-row2 DIV.bottom
{
	border-bottom: 1px solid #DDD;
}
