UL.content-nav-rowtwo
{
	width: 80%;
}
#mainNav LI
{
	height: 32px;
}
UL.content-nav-rowtwo LI
{
	width: 100%;
}
#header
{
	/*[disabled]height:56px;*/
}
#searchbar
{
	padding: 16px 0px 0px;
}
UL.content-nav-rowone
{
	height: 1%;
	margin-bottom: 16px;
}
UL.content-nav-rowthree
{
	margin-bottom: 20px;
}
/*xml*/
#INVALID-RULE
{
	display: none;
}
TD.page-content
{
	width: 100%;
}
#bar
{
}
