/*** header where RH logo, RHN logo, account, etc stuff is **
BEGIN new "rhel5" primary and secondary navigation
************************************************************* TOP NAVIGATION V2*/
#header
{
	height: 70px;
/*changed height added bottom margin*/
	/*[disabled]margin-bottom:10px;*/
	/*[disabled]padding:0px 10px;*/
}
/*IMG#rhLogo is hidden as it is not needed in SuSE Manager context*/
IMG#rhLogo
{
	float: left;
	margin-left: 15px;
	display: none;
}
IMG#rhnLogo
{
	float: left;
	width: 220px;
	height: 70px;
	margin-left: 10px;
}
#utility
{
	/*[disabled]font-size:;*/
	padding: 10px 0 0;
	height: 15px;
}
#utility A
{
	color: #C6DEAE;
}
#utilityLinks
{
	float: left;
	/*[disabled]width:45%;*/
	padding: 0 0 0 10px;
	display: block;
}
#utilityLinks P#geo
{
	margin: 0px 10px 0 0;
	padding: 0px;
	display: inline;
	font-size: 0.8em;
	vertical-align: inherit;
}
#utilityLinks P#linx
{
	margin: 0;
	display: inline;
	padding: 0px;
}
#utilityAccount
{
	float: right;
	text-align: center;
	padding-right: 10px;
}
#utilityAccount P
{
	margin: 0;
	/*[disabled]background-image:url(/img/nav/utilBkgdLeft.png);*/
	/*[disabled]background-position:bottom left;*/
	/*[disabled]background-repeat:no-repeat;*/
	display: block;
	/*[disabled]padding:6px 0px 8px;*/
}
#utilityAccount SPAN.label
{
	/*[disabled]text-transform:uppercase;*/
	font-size: 0.8em;
	font-weight: normal;
}
#utilityAccount P A, #utilityAccount P A:link
{
	/*[disabled]font-weight:700;*/
}
SPAN.navPipe
{
	color: #DDD;
	padding: 0 8px;
}
A#utilityCart
{
	background-image: url(/img/nav/cart.gif);
	background-position: top left;
	background-repeat: no-repeat;
	padding-left: 26px;
	padding-bottom: 4px;
	padding-top: 3px;
}
#utilityAccount A:link, #utilityAccount A:hover, #utilityAccount A:active, #utilityAccount A
{
	/*[disabled]color:#FFFFFF;*/
}
#utilityLinks A:link, #utilityLinks A:hover, #utilityLinks A:active, #utilityLinks A
{
	/*[disabled]color:#FFFFFF;*/
}
#utility A:hover
{
	color: #FFFFFF;
}
