/*+clearfix {*/
.clearBoxBody:after, UL#mainNav:after, DIV#mainNavWrap UL:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.clearBoxBody, UL#mainNav, DIV#mainNavWrap UL
{
	display: inline-block;
}
.clearBoxBody, UL#mainNav, DIV#mainNavWrap UL
{
/*\*/
	display: block;
/**/
	-height: 1px;
}
/*+}*/
BODY
{
	-font-family: sans-serif;
}
BODY, #top-wrap, #wrap, .top-content
{
	text-align: center;
}
.top-content
{
	max-width: 80em !important;
	text-align: left;
	overflow: hidden;
}
#header
{
	width: 80em !important;
	max-width: 80em;
	overflow: hidden;
}
INPUT
{
	font-family: sans-serif;
}
.content-nav LI
{
	=float: left;
}
DIV.contentnav-row2 DIV.top
{
	height: 1px;
	border-top: 1px solid #DDD;
	-margin-bottom: -8px;
}
#mainNav LI
{
	height: 12px;
}
#searchbar
{
	padding: 16px 0px 0px;
}
UL.content-nav-rowthree
{
}
/*xml*/
#INVALID-RULE
{
	display: none;
}
TD.page-content
{
}
TABLE.list TH
{
	font-size: 1.2em;
}
.filter-input .list-sizeselector
{
	font-size: 10pt;
}
DIV.rounded-box
{
	padding-left: 25px;
}
#bar
{
	width: 100%;
	text-align: center;
}
#systembar
{
	width: 80em;
	text-align: left;
}
#sidenav
{
}
#sidenav LI
{
	height: 10px;
	margin: 0px;
	padding: 0px;
}
HTML>BODY #sidenav LI
{
	height: auto;
}
#sidenav LI
{
	font-size: 70%;
	line-height: 1;
}
/*[clearfix]*/.clearBoxBody
{
}
#login_page .formrow
{
	padding: 0px;
	margin: 0px;
}
INPUT
{
	font-family: sans-serif;
}
TABLE.details
{
	width: 90%;
}
TABLE.details TH
{
	width: 25%;
	font-size: 10pt;
}
TABLE.details TR
{
}
#header
{
	overflow: visible;
}
#searchbarinner
{
	float: right;
	margin-top: -12px;
}
.button
{
	cursor: pointer;
}
/*[clearfix]*/UL#mainNav, DIV#mainNavWrap UL
{
	font-weight: bold;
	padding: 0px;
	margin: 0px 0px 0px 10px;
	list-style-type: none;
	height: 31px;
}
