/**** Sidenav *****/
#sidenavp, #sidenav
{
/*for ie55*/
	width: 170px;
/*false value for WinIE4/5
voice-family: "\"}\";
trick WinIE4/5 into thinking rule is over*/
	voice-family: inherit;
/*recover from trick*/
	font-size: x-small;
/*intended value for better browsers*/
	font-weight: bold;
	border-bottom: 1px solid #DDD;
	margin-right: 15px;
}
#sidenavp UL, #sidenav UL
{
	list-style: none;
	padding: 10px 0;
	margin: 0;
}
#sidenavp UL UL, #sidenav UL LI.navchild
{
	margin: 0;
	padding: 0;
}
#sidenavp UL LI, #sidenav UL LI.navparent
{
	margin: 0;
}
#sidenavp UL LI:last-child, #sidenav UL LI:last-child
{
}
#sidenavp UL UL LI.sidenav-selected, #sidenav UL LI.sidenav-selected
{
}
#sidenavp UL LI.sidenav-selected SPAN, #sidenav UL LI.sidenav-selected SPAN
{
	display: none;
}
#sidenavp UL LI A, #sidenav UL LI A
{
	display: block;
	text-decoration: inherit;
	padding: 3px 5px 3px 15px;
	margin: 0;
	font-size: 1.2em;
	font-weight: normal;
}
#sidenavp UL LI A:hover, #sidenav UL LI A:hover
{
	text-decoration: underline;
}
#sidenavp UL LI.sidenav-selected, #sidenav UL LI.sidenav-selected
{
}
#sidenavp UL UL LI:last-child, #sidenav UL LI.navchild:last-child
{
}
#sidenavp UL UL LI A, #sidenav UL LI.navchild A
{
	padding-left: 30px;
}
#sidenavp UL UL LI.sidenav-selected A, #sidenav UL LI.sidenav-selected A
{
	color: #555753;
	font-weight: bold;
	text-decoration: inherit;
}
#content
{
	clear: both;
	padding: 0;
}
/*The following styles establish the legend boxes in the left sidebar*/
.sideleg
{
	width: 168px;
	padding-top: 9px;
	margin-top: 1em;
	margin-left: 0px;
}
.sideleg H2
{
	font-size: small;
	color: #555753;
	padding: 0 0 3px 15px;
	margin: 0;
}
.sideleg UL
{
	padding: 0 0 9px;
	margin: 0;
	list-style: none;
}
.sideleg UL LI
{
	padding: 6px 0 6px 20px;
	font-size: smaller;
	color: #555753;
	clear: left;
}
.sideleg UL LI IMG
{
	float: left;
	padding-right: 3px;
	margin-top: -3px;
}
/*****Sidebar starts here*****/
.sidebar
{
	padding: 10px 0 0;
	vertical-align: top;
}
.sidebar-title
{
	color: #999;
	font-size: 10px;
	text-align: center;
	border-bottom: 1px solid #CCC;
}
.sidebar-links
{
	font-size: 10px;
	margin: 0;
	padding: 0 0 0 15pt;
	color: #999;
}
.sidebar-title+.sidebar-links
{
	margin-top: -0.5em;
}
.sidebar-info
{
	padding: 4px;
}
.sidebar-info H2
{
	padding-left: 10px;
	margin: 4px;
}
.legend-row
{
	padding: 0px 2px;
	white-space: nowrap;
}
.legend-row IMG
{
	vertical-align: middle;
	margin: 3px 4px;
	padding: 0;
}
