ul.products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.products-list li+li {
  padding-top: 0;
}
li.addon-product {
  list-style-image: url(/img/branch.gif);
}
ul.missing-channels-list {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
div.channel-details {
  margin: 20px 3%;
}
.none-item {
  margin-top: 5px;
}
div.button-back {
  float: left;
}
div.button-submit {
  float: right;
}

