#notifications {
  display: inline-block;
  padding: 1px 5px;
  font-size: 1.3em;
  color: @spacewalk-gray-light;
  margin-left: 10px;
  vertical-align: bottom;
  position: relative;

  > a:hover {
    i {
      color: @susemanager-green;
    }
  }

  #notification-counter {
    background-color: @spacewalk-gray-light;
    text-align: center;
    position: absolute;
    left: 14px;
    top: -3px;
    color: #333;
    font-size: 0.8em;
    min-width: 20px;
    height: 20px;
    padding: 0px 2px;
    border-radius: 10px;
    border: 1px solid #333;
  }
  #notification-counter.highlight-updated-value {
    background-color: @spacewalk-orange-light;
    transform:scale(1.5,1.5);
  }
}
