/* EOS Colors guideline https://suse.eosdesignsystem.com/colors */
@eos-white:          #FFFFFF;
@eos-green-light:    #E4F6EE; // $eos-bc-green-100
@eos-green:          #30BA78; // $eos-bc-green-500
@eos-green-dark:     #139448; // $eos-bc-green-900
@eos-pine:           #0C322C; // $eos-bc-pine-500
@eos-blue-light:     #B3E8F6; // $eos-bc-cerulean-100
@eos-blue:           #00B2E2; // $eos-bc-cerulean-500
@eos-blue-dark:      #008ACF; // $eos-bc-cerulean-900
@eos-yellow-light:   #FFECB5; // $eos-bc-yellow-100
@eos-yellow:         #FFC107; // $eos-bc-yellow-500
@eos-yellow-dark:    #FF9E02; // $eos-bc-yellow-900
@eos-red-light:      #F5C2C7; // $eos-bc-red-100
@eos-red:            #DC3545; // $eos-bc-red-500
@eos-red-dark:       #C5161F; // $eos-bc-red-900
@eos-gray-light-3:   #F2F2F2; // $eos-bc-gray-50
@eos-gray-light-2:   #E0DFDF; // $eos-bc-gray-100
@eos-gray-light-1:   #B6B4B4; // $eos-bc-gray-300
@eos-gray:           #969494; // $eos-bc-gray-500
@eos-gray-dark-1:    #797777; // $eos-bc-gray-700
@eos-gray-dark-2:    #686565; // $eos-bc-gray-900
@eos-gray-dark-3:    #141823; // $eos-bc-gray-1000

/* Special colours for Manager */
// Colours for SUMa only
@susemanager-green-dark:      @eos-green-dark;
@susemanager-green:           @eos-green;
@susemanager-green-light:     @eos-green-light;
@susemanager-blue-dark:       @eos-blue-dark;
@susemanager-text-menu:       @eos-gray-dark-3;
@susemanager-text-header:     @eos-gray-light-3;
@susemanager-link:            @eos-blue-dark;

/* Main tags colours */
@spacewalk-green-dark:   @eos-green-dark;
@spacewalk-green:        @eos-green;
@spacewalk-green-light:  @eos-green-light;
@spacewalk-gray:         @eos-gray;
@spacewalk-gray-light:   @eos-gray-light-2;
@spacewalk-gray-dark:    @eos-gray-dark-2;
@spacewalk-orange:       @eos-yellow-dark;
@spacewalk-orange-light: #fd9a2b; // orange-light
@spacewalk-yellow-dark:  #c5b345; // yellow-dark
@spacewalk-yellow:       @eos-yellow;
@spacewalk-red:          @eos-red;
@spacewalk-background:   @eos-white;
@spacewalk-blue:         @eos-blue-dark;
@spacewalk-blue-light:   @eos-blue;
@spacewalk-violet:       #841781;
@spacewalk-notification-badge: @spacewalk-orange-light;

/* Header */
@spacewalk-header:       @eos-pine;

// Colours for the menu in the first column on the left:
@spacewalk-aside:                        @eos-gray-light-3;
@spacewalk-aside-border:                 lighten(@spacewalk-aside, 8%);
@susemanager-aside-menu-active:          @susemanager-green;
@susemanager-aside-menu-active-text:     @eos-white;

/* aside menu search box */
@spacewalk-aside-menu-search-clear:          fade(@eos-gray-light-1, 60%);
@spacewalk-aside-menu-search-clear-hover:    @eos-gray-dark-1;

/* Footer colours */
@spacewalk-footer:            @spacewalk-aside;
@spacewalk-footer-text:       @eos-gray-dark-2;
@spacewalk-footer-links:      @eos-gray-dark-2;
@spacewalk-footer-hover:      @eos-gray-dark-2;
@spacewalk-footer-border:     @eos-gray-light-2;

/* Icons legend */
@spacewalk-icon-legend:       @spacewalk-blue;
@spacewalk-icon-legend-text:  #dddddd;

/* Buttons */
@btn-primary-bg:     @susemanager-green;

/* Lato variable: font variable to be applied in different text elements*/
@lato: 'Lato', arial, helvetica, sans-serif;
@lato-bold: 'Lato Bold', arial, helvetica, sans-serif;

/* WorkSans variable: font variable to be applied in different text elements*/
@worksans: 'WorkSans', arial, helvetica, sans-serif;
@worksans-bold: 'WorkSans Bold', arial, helvetica, sans-serif;