@font-face {
font-family:"Droid Sans Mono";
font-style:normal;
font-weight:400;
src:local('Droid Sans Mono'),url(/fonts/DroidSansMono.ttf) format(truetype);
}

.wrap {
/*min-width:760px*/
min-width:0px;

width:80em;
background:#FFF;
padding:0;
}

#top-wrap {
/*border-bottom:4px solid #00aad4*/
/*background:#959595 url(/img/spacewalk-header-background.png)*/
background:#71AB32;
background-color: #71AB32
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1px,#7FBD3A),color-stop(2px, #C1D99D),color-stop(2px, #7FBD3A),color-stop(98%, #649A2A),color-stop(100%, #546742));
background-image: -webkit-linear-gradient(top, #7FBD3A 1px,#C1D99D 2px,#7FBD3A 2px,#649A2A 98%,#546742);
background-image: -moz-linear-gradient(top, #7FBD3A 1px,#C1D99D 2px,#7FBD3A 2px,#649A2A 98%,#546742);
background-image: -ms-linear-gradient(top, #7FBD3A 1px,#C1D99D 2px,#7FBD3A 2px,#649A2A 98%,#546742);
background-image: -o-linear-gradient(top, #7FBD3A 1px,#C1D99D 2px,#7FBD3A 2px,#649A2A 98%,#546742);
background-image: linear-gradient(top, #7FBD3A 1px,#C1D99D 2px,#7FBD3A 2px,#649A2A 98%,#546742);

width:100%;
min-width:80em;
border-bottom: 0px;
}

#bottom-wrap {
padding:0;
min-width:80em;
}

.top-content {
width:80em;
margin:0 auto;
}

body {
background:#FFF;
font-family:"Droid Sans","Albany AMT","Lucida Grande",tahoma,helvetica,verdana,arial,sans-serif;
font-size:13px;
}

.page-content {
border-left:1px solid #DDD;
width:70em;
padding:0 10px 6px 16px;
}

td.page-content>table {
clear:left;
}

.submit-bar {
clear:both;
}

td,th {
vertical-align:middle;
font-size:10pt;
empty-cells:show;
}

a {
text-decoration:none;
color:#005ED8;
}

a:link,a:visited {
color:#06C;
}

a:link:hover,a:visited:hover,a:active:hover {
text-decoration:underline;
color:#F57900;
}

a[name]:hover {
text-decoration:inherit;
}

h1,h2,h3,h4,h5,h6 {
font-family:"Droid Sans","Albany AMT","Lucida Grande",tahoma,helvetica,verdana,arial,sans-serif;
}

h2 {
font-size:1.6em;
color:#888A85;
font-weight:700;
margin:18px 0 0;
padding:0 0 12px;
}

h1,div.toolbar-h1 {
/*margin-bottom:.5em*/
/*font-size:20px*/
margin-bottom:0;
}

div.toolbar-h1,div.toolbar-h2 {
}

h2,div.toolbar-h2 {
/*color:#999*/
/*border-bottom:2px solid #ccc*/

border-bottom:inherit:0;
font-size:12pt;
}

.up-arrow a {
text-decoration:none;
padding:0 2px;
}

.required-form-field {
font-weight:700;
color:#C00;
}

div.formrow {
/*height:1%*/
height:auto;
}

table.details {
width:95%;
}

.details th {
/*-moz-border-radius-topleft:15px*/
/*-moz-border-radius-bottomleft:15px*/
moz-border-radius-topleft:0px;
moz-border-radius-bottomleft:0px;

width:25%;
vertical-align:middle;
background-color:#EEE;
-moz-border-radius:15px 0 0 15px;
-webkit-border-radius:15px 0 0 15px;
-khtml-border-radius:15px 0 0 15px;
border-radius:15px 0 0 15px;
}

.details th.required-form-field {
border-right:4px solid #C77;
}

.details td table td {
width:auto;
}

.details th label {
display:block;
padding:0 5px;
}

.button,input,.csv-download {
font-family:"Droid Sans","Albany AMT","Lucida Grande",tahoma,helvetica,verdana,arial,sans-serif;
font-size:13px!important;
}

.button,input[type=button],input[type=submit],.csv-download {
border:1px solid #AAA!important;
color:#333!important;
text-align:center;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px 3px 3px 3px;
white-space:nowrap;
background:#FFF url(/img/minibutton-shade.png) repeat-x 50% 100%;
text-decoration:none!important;
padding:2px 5px!important;
}

.button:disabled,input[type=button]:disabled,input[type=submit]:disabled,.csv-download:disabled {
border:1px solid #AAA!important;
color:#999!important;
background:#EEE url() repeat-x 50% 100%;
cursor:default;
}

input[name=url] {
min-width:60%;
}

input[type=text],input[type=password] {
border:1px solid #AAA;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
border-radius:5px 5px 5px 5px;
background:#FFF url(/img/input-bg.png) repeat-x 50% 0;
margin:1px;
padding:3px;
}

.rhn-embedded-help-NAVHEADER th {
background-color:#FFF;
}

span.hide {
visibility:hidden;
display:none;
}

.action-summary-errata,.action-summary-package,.action-summary-config {
padding-top:10px;
}

#footer {
color:#888;
width:100%;
margin:25px auto 1em;
padding:1em 0;
}

table.ssm-overview p {
margin:-1px;
padding:0;
}

img#rhlogo {
/*float:left*/
/*margin-left:15px*/
float:none;
margin-left:0;

display:none;
width:0;
height:0;
}

img#rhnLogo {
float:left;
width:226px;
height:75px;
margin-left:2px;
position:absolute;
top:8px;
}

#utility {
/*font-size:x-small*/
font-size:inherit;

height:15px;
padding:10px 0 0;
}

#utility a {
color:#E9F8D5;
text-shadow:rgba(0,0,0,.105469) 1px 1px 1px;
}

#utilityLinks {
/*border-bottom:1px solid #ccc*/
border-bottom:none;

width:inherit;
display:block;
padding:0 0 0 10px;
}

#utilityLinks p#geo {
/*float:left*/
/*width:40%*/
float:none;
width:auto;

display:inline;
font-size:.8em;
vertical-align:inherit;
margin:0 10px 0 0;
padding:0;
}

#utilityLinks p#linx {
/*width:57%*/
/*text-align:right*/
/*padding-right:3%*/
width:auto;
text-align:left;
padding-right:0px;

display:inline;
padding:0;
}

#utilityAccount {
/*background:#eee*/
/*width:45%*/
/*background-image:url(/img/nav/utilBkgdRight.png)*/
/*background-position:bottom right*/
/*background-repeat:no-repeat*/

background:inherit;
width:auto;
/*background-image:url(/img/nav/utilBkgdRight.png)*/
/*background-position:bottom right*/
/*background-repeat:no-repeat*/

padding-right:10px;
}

#utilityAccount p {
/*background-image:url(/img/nav/utilBkgdLeft.png)*/
/*background-position:bottom left*/
/*background-repeat:no-repeat*/
/*padding:6px 0 8px*/
background: inherit;
padding:0;

color:#3B591A;
text-shadow:0 1px 0 rgba(255,255,255,.4);
}

span.navPipe {
color:#A3C87D;
padding:0 8px;
}

.orderedlist ol {
margin:0;
padding:8px 0 4px 15px;
}

.screen {
-webkit-border-radius:4px;
-khtml-border-radius:4px;
border-radius:4px 4px 4px 4px;
}

em.replaceable {
font-style:normal;
color:gray;
}

pre.warning {
background-color:#d7d7d7;
padding:1em;
}

div.note,div.tip,div.important,div.caution,div.warning {
border:1px solid #FDF58B;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-khtml-border-radius:10px;
border-radius:10px 10px 10px 10px;
}

div.note h2,div.tip h2,div.important h2,div.caution h2,div.warning h2 {
height:32px;
font-size:1.3em;
}

div.warning h3,div.note h2,div.note h3,div.note p,div.tip h2,div.tip p,div.caution h2,div.caution p,div.warning h2,div.warning p,div.important h2,div.important h3,.important p {
margin:0;
padding:0 0 0 56px;
}

.chapter .table table tr.even td,.book .table table tr.even td,.preface .table table tr.even td,.section .table table tr.even td {
background-color:#f5f5f5;
}

div.preface,div.chapter,div.section {
font-family:"Droid Sans","Albany AMT","Lucida Grande",tahoma,helvetica,verdana,arial,sans-serif;
text-align:justify;
padding:2em .5em .5em;
}

span.permalink a {
filter:alpha(opacity=40);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
-moz-opacity:.4;
opacity:.4;
}

span.permalink a:hover {
filter:alpha(opacity=100);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
-moz-opacity:1;
opacity:1;
}

div.breadcrumbs strong a:first-child {
border-radius:3px 0 0 3px;
margin-right:-3px;
}

div.breadcrumbs strong a:last-child {
border-radius:0 3px 3px 0;
border-left-color:#DDD!important;
}

div.navHeader table th:first-child {
font-size:1.8em;
color:#83B354;
padding-bottom:16px;
}

div.navHeader table td a,div.navfooter table a {
border:1px solid #AAA!important;
color:#333!important;
text-align:center;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px 3px 3px 3px;
white-space:nowrap;
background:#FFF url(/img/minibutton-shade.png) repeat-x 50% 100%;
text-decoration:none!important;
padding:2px 10px!important;
}

div.navfooter table td {
padding-top:15px;
}

div#navWrap div#mainNavWrap,ul#mainNav,div#mainNavWrap ul {
display:block;
-height:1px;
}

#header {
height:50px;
margin-bottom:5px;
padding:0;
}

#header input,#header select {
border:1px solid #648D3D!important;
}

div#navWrap {
background:inherit;
height:30px;
/* not sure */
clear:both;
}

div#navWrap div#mainNavWrap {
height:32px;
font-family: 'Droid Sans', 'Albany AMT', 'Lucida Grande', tahoma, helvetica, verdana, arial, sans-serif;
}

ul#mainNav,div#mainNavWrap ul {
height:32px;
}

ul#mainNav li a,div#mainNavWrap ul li a{
height:30px;
padding: 9px 10px 5px;
text-decoration: inherit;
color: #FFF;
font-size: 1em;
display: block;
float: left;
}

li#mainFirst-active,
#mainNav li#main-active,
#mainNav li#mainLast-active,
div#mainNavWrap ul li#main-active,
div#mainNavWrap ul li#mainLast-active {
background-color:#FFF;
color:#555753;
border-top-left-radius:7px;
border-top-right-radius:7px;
-moz-box-shadow:0 10px 10px rgba(0,0,0,.2969);
-webkit-box-shadow:0 10px 10px rgba(0,0,0,.2969);
-o-box-shadow:0 10px 10px rgba(0,0,0,.2969);
box-shadow:0 10px 10px rgba(0,0,0,.2969);
-moz-border-radius:7px 7px 0 0;
-webkit-border-radius:7px 7px 0 0;
-khtml-border-radius:7px 7px 0 0;
border-radius:7px 7px 0 0;
}

/*
li#mainFirst-active a:hover,#mainNav li#main-active a:hover,#mainNav li#mainLast-active a:hover,div#mainNavWrap ul li#main-active a:hover,div#mainNavWrap ul li#mainLast-active a:hover {

text-decoration:none;
cursor:default;
}
*/

ul#mainNav li#mainFirst-active a,div#mainNavWrap ul li#mainFirst-active a,
ul#mainNav li#main-active a,div#mainNavWrap ul li#main-active a,
ul#mainNav li#mainLast-active a,div#mainNavWrap ul li#mainLast-active a,
div#mainNavWrap ul li#mainFirst-active a:hover,
div#mainNavWrap ul li#main-active a:hover,
div#mainNavWrap ul li#mainLast-active a:hover {
text-decoration:none !important;
color:#555753;
cursor:default;
}

#bar {
background-color:#FFF;


z-index:1;
position:relative;
width:100%;
height:26px;
min-width:80em;
overflow:hidden;
padding:5px 0 0;
}

#systembarinner {
max-width:80em!important;
margin:0 auto;
}

#systembarinner div {
padding-right:10px;
}

#searchbarinner {
margin-top:5px;
}

div.note h2,div.important h2,div.warning h2,div.tip h2,div.caution h2 {
height:32px;
font-size:1.3em;
color:#FFF;
}

.docnav a:link strong {
text-decoration:none;
}

#sidenavp,#sidenav {
/*background-color:#999*/
/*background-image:url(/img/corner_sidenav_top.gif)*/
/*background-position:top right*/
/*background-repeat:no-repeat*/
/*font-family:"Luxi Sans",verdana,arial,sans-serif*/
background:inherit;
font-family:inherit;

width:170px;
border-bottom:1px solid #DDD;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
margin-right:15px;
}

#sidenavp ul,#sidenav ul {
/*background-image:url(/img/corner_sidenav_bottom.gif)*/
/*background-position:bottom left*/
/*background-repeat:no-repeat*/
background:inherit;
}

#sidenavp ul li a,#sidenav ul li a {
/*color:#FFF*/
color:#06C;

text-decoration:inherit;
font-size:1.2em;
font-weight:400;
}

#sidenavp ul ul li a,#sidenav ul li.navchild a {
/*color:#555*/
color:#06C;
}

#sidenavp ul li a:hover,#sidenav ul li a:hover,
#sidenav ul li.navchild a:hover {
color:#F57900;
}



#sidenavp ul ul li.sidenav-selected a,#sidenav ul li.sidenav-selected a,
#sidenavp ul ul li.sidenav-selected a:hover,#sidenav ul li.sidenav-selected a:hover
{
color:#555753;
font-weight:700;
text-decoration:none !important;
}

#content {
clear:both;
padding:0;
}

.sideleg {
/*background:url(/img/sidelegend_top.gif) 0 0 no-repeat*/
background:inherit;
border:none;
width:168px;
margin-left:0;
}

.sideleg h2 {
/*border:1px solid #acacac*/
/*border-top:none*/
border: none;

font-size:small;
color:#555753;
}

.sideleg ul {
/*background:url(/img/sidelegend_bottom.gif) 0 100% no-repeat*/
background: inherit;
}

.sideleg ul li {
/*border-left:1px solid #acacac*/
/*border-right:1px solid #acacac*/
border: none;

font-size:smaller;
color:#555753;
padding:6px 0 6px 20px;
}

.sidebar-title {
border-bottom:1px solid #CCC;
}

.sidebar-title+.sidebar-links {
margin-top:-.5em;
}

.content-nav ul {
/*font-size:10px*/
/*font-family:"Luxi Sans",verdana,arial,sans-serif*/
font-size:inherit;
font-family:inherit;

-height:1px;
display:table-row;
}

.content-nav {
border-bottom:1px solid #DDD;
margin:0;
}

.content-nav li {
display:table-cell;
vertical-align:middle;
}

.content-nav li a {
display:inline-block;
text-align:center;
border:1px solid #FFF;
margin:4px;
padding:4px 8px;
}

.content-nav li.content-nav-selected a.content-nav-selected-link {
color:#444!important;
font-weight:400;
background-color:#E4EDF6;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
border-radius:5px 5px 5px 5px;
border:1px solid #89A7C6!important;
text-decoration:none!important;
}

div.contentnav-row2 div.top {
/*background:url(/img/contentnav_rowtwo_t.gif) top right no-repeat*/
/*margin-left:8px*/
/*font-size:0*/
background:inherit;
margin-left:0;
font-size:inherit;


height:1px;
border-top:1px solid #DDD;
}

th {
/*color:#fff*/
color:inherit;

-moz-text-shadow:0 1px 0 #FFF;
-webkit-text-shadow:0 1px 0 #FFF;
-o-text-shadow:0 1px 0 #FFF;
text-shadow:0 1px 0 #FFF;
}

table.list img {
vertical-align:top!important;
border:0 solid #000;
margin:1px 0 0;
padding:0;
}

table.list td {
vertical-align:middle!important;
font-size:1.1em;
border-bottom:1px dotted #CCC;
}

table.list tr:hover td {
background-color:#EDF3F9;
}

table.list td+td {
border-left:1px solid #EEE;
}

table.list tr:last-child td {
border-bottom:0 none #000;
}

table.list,table.list-doubleheader {
/*background:silver url(/img/table_corner_tr.gif) top right no-repeat*/
/*border-bottom:1px solid silver*/
background:inherit;
border-bottom:none;

margin:5px 0;
border:1px solid #CCC;
border-top-left-radius:0;
border-top-right-radius:0;
}

/* nice headers for all table types */
table.list th,table.list-doubleheader th, table.half-table th {
color:#333;
border-bottom:1px solid #CCC;
background-color:#EEE;
background:0 0 100%;

background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(221,221,221)),color-stop(1, rgb(255,255,255)));
background: -moz-linear-gradient(center bottom,rgb(221,221,221) 0%,rgb(255,255,255) 100%);
}

table.half-table thead th+th, table.list thead th+th {
/*border-left:0 solid #000;*/
}

/* This one is not needed but defined in Spacewalk so
   we need to override it to undo it */
table.list-doubleheader tr+tr th:last-child {
border-right:1px solid silver;
/* copied from  table.doubleheader th above */
background-color:#EEE;
background:0 0 100%;
background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(221,221,221)),color-stop(1, rgb(255,255,255)));
background: -moz-linear-gradient(center bottom,rgb(221,221,221) 0%,rgb(255,255,255) 100%);
}
*/

table.list thead th:first-child {
border-left:0 solid #000!important;
}

table.list-doubleheader tr+tr th:first-child {
background-color:#D7D7D7;
border-left:1px solid silver;
}

table.list-doubleheader tr:nth-child(2n+1) th {
background:#EEE;
font-size:1.5em;
color:#666;
}

table.list-doubleheader tr + tr,tr.alpharesult td {
/*background-color:#d7d7d7*/
background-color:inherit;
}

table.list-doubleheader tr + tr th:last-child {
/*background:none*/
/*border-right:1px solid silver*/

/*
background:inherit;
border-right:none;
*/
}

.list-row-even td {
background-color:#F8F8F8;
}

.list-row-even-disabled td {
background-color:#EAE8E4;
}

.list-row-summary {
border:1px solid #CCC;
background-color:#EEE;
}

.list-horiz-separator hr {
border-bottom:1px solid #CCC;
}

.list-row-odd-selected td,.list-row-even-selected td {
border-bottom:1px solid #CCC;
}

table.half-table {
/*background:silver url(/img/table_corner_tr.gif) 100% 0 no-repeat*/
/*border-bottom:1px solid silver*/
background:transparent;
border-bottom:none;

border:1px solid #CCC;
border-top-left-radius:0;
border-top-right-radius:0;
margin:0 0 10px;
}

.half-table tr:last-child td {
border-bottom:0 none #CCC;
}

.half-table td {
border-bottom:1px dotted #CCC;
}

/*
table.list thead th:first-child,table.half-table thead th:first-child,
table.half-table thead th {
border-bottom:1px solid #CCC;
color:#333;
background: #EEE;
}
*/

div.full-width-wrapper {
padding-top:10px;
}

span.full-width-note-left {
float:left;
margin-top:5px;
}

span.full-width-note-right {
float:right;
margin-top:5px;
}

th+th {
border-left:1px dotted #CCC;
}

#pagination_widget a,span.current_page {
/*font-family:Helvetica,Verdana,sans-serif*/
font-family:inherit;

text-decoration:inherit;
}

#pagination_widget span.current_page {
background-color:#CCC;
}

.pagination-submit {
background-color:#FFF;
}

.pagination-submit:hover {
background-color:#EEF3FF;
}

.list-empty-message {
cursor:text;
margin:0;
}

div.filter-input {
vertical-align:baseline;
position:relative;
padding:0;
}

div.filter-input div {
float:right;
position:absolute;
top:5px;
right:5px;
}

div.filter-input .list-infotext:empty {
line-height:0;
font-size:0;
margin:0;
padding:0;
}

div.filter-input table {
width:100%;
line-height:25px;
}

div.filter-input td {
/*width:40%*/
vertical-align:middle;
margin:0;
padding:0;
}

div.filter-input input {
/*vertical-align:middle*/
margin-left:8px;
}

.list-alphabar-disabled {
color:#AAA;
}

.list-box {
border:1px solid #CCC;
}

.list-sizeselector {
vertical-align:middle;
margin:0;
padding:0;
}

.list-infotext {
/*width:100%!important*/
/*color:#777*/
width:auto!important;
color:inherit;

vertical-align:inherit;
margin-top:5px;
float:right;
padding:0;
}

.list-infotext img,.list-infotext input {
border:0 none #000;
vertical-align:middle;
position:relative;
left:0;
top:-1px;
margin:3px!important;
padding:0;
}

ul.channel-list li.highlighted {
background-color:#FFFFBD;
}

.list-iso th+th {
border-left:1px solid #CCC;
}

.list-iso td.seperated {
border-top:1px solid #CCC;
}

.list-iso-item+.list-iso-item {
margin-top:.05em;
}

table.iso_dl th {
background-color:#EEE;
}

.list-row-even td.sortedcol {
background-color:#EBF3FB;
border-left:1px solid #82B2E1;
}

.list-row-odd td.sortedcol {
background-color:#FFF;
border-left:1px solid #82B2E1;
}

th.ascsort,th.descsort {
background-color:#DAEAFA!important;
border-bottom:1px solid #82B2E1!important;
border-left:1px solid #82B2E1!important;
}

tr.alpharesult td {
background-color:#D7D7D7;
}

.compare-list .first-column {
background-color:#E4E4E4;
}

.list-row-even .list-column-even {
background-color:#EEE;
}

.list-row-odd .list-column-even {
background-color:#E4E4E4;
}

.inactive {
background-color:#FFFCD6;
margin-bottom:5px;
}

.compare-list .inactive {
background-color:#FEF5AD;
margin-bottom:5px;
}

.csv-download {
/*background-color:#EAE8E4*/
/*-moz-border-radius:8px*/
/*padding:3px 6px*/
background:inherit;
-moz-border-radius:0;
padding:0px;

margin-top:10px;
}

.csv-download a {
color:#333;
text-decoration:none;
}

.csv-download a:hover {
color:#666;
text-decoration:none;
}

.site-info,.site-alert {
text-align:center;
margin-bottom:10px;
font-size:inherit;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-khtml-border-radius:10px;
border-radius:10px 10px 10px 10px;
font-weight:400;
padding:8px;
}

.site-info {
/*text-align:center*/
/*margin-bottom:7px*/
/*margin-top:4px*/
/*font-size:medium*/
/*padding:8px*/
text-align:left;
margin-bottom:0px;
margin-top:0px;
font-size:inherit;
padding:none;

background-color:#FFFCD6;
color:inherit;
border:1px solid #FDF58B;
}

.site-alert {
/*text-align:center*/
/*margin-bottom:7px*/
/*margin-top:4px*/
/*font-size:medium*/
/*padding:8px*/
text-align:left;
margin-bottom:0px;
margin-top:0px;
font-size:inherit;
padding:none;

background-color:#FFD6D6;
color:#282828;
border:1px solid #FD8B8B;
}

.local-info {
color:#7782AA;
}

.local-alert {
color:#D00;
}

.ssm-overview td,.ssm-overview th {
border-bottom:1px solid #DDD!important;
line-height:1.5;
}

.ssm-overview tr:last-child td,.ssm-overview tr:last-child th {
border-bottom:none!important;
line-height:1.5;
}

.page-content div.toolbar a {
padding-right:10px;
}

div.login-box {
background-color:#EEE;
}

#login_page .clearbox,#relogin_page .clearbox {
margin-left:auto;
margin-right:auto;
}

#relogin_page h1 {
text-align:center;
margin-top:1em;
}

#relogin_page .page-content {
margin-bottom:0!important;
padding-bottom:0!important;
}

.clearbox {
/*background:url(/img/corner_halflinebox_top.png) top right no-repeat*/
/*padding-top:7px*/
/*margin-bottom:15px*/
background:inherit;
padding-top:none;
margin-bottom:0px;

width:280px;
border:1px solid #CCC;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
border-radius:5px 5px 5px 5px;
-moz-box-shadow:0 2px 10px #E8E8E8;
-webkit-box-shadow:0 2px 10px #E8E8E8;
-o-box-shadow:0 2px 10px #E8E8E8;
box-shadow:0 2px 10px #E8E8E8;
height:120px;
margin:15px 15px 0;
padding:10px 0 5px;
}

#login_page .formrow {
margin-bottom:0;
padding:3px 0;
}

.clearbox .label {
font-size:8pt;
font-weight:400;
margin:2px;
}

.clearboxbody {
/*border-left:1px solid #b4b4b4*/
/*border-right:1px solid #b4b4b4*/
border:none;

padding:5px 14px 0;
}

.clearbox #login {
margin-top:8px;
height:25px;
}

#faq-details p+h3 {
padding-top:2em;
}

h1#rhn_welcome {
display:none;
}

h1#rhn_welcome2 {
display:none;
}

#contentleft {
/*margin-top:20px*/
margin-top:0px;

margin-right:10px;
width:450px;
}

.schedule-action-interface th {
background-color:#FFF;
}

.resubscribe-warning-big {
color:#C00;
}

.summary-row {
background-color:#F5F5F5;
}

textarea.termsandconditions {
background-color:#FCF9E5;
}

.changed {
background-color:#F5F3C4;
}

.oldfile .deleted {
background-color:#F5C4C4;
}

.newfile .inserted {
background-color:#C5F4C4;
}

div.rounded-box {
/*background-color:#FFF*/
/*border-bottom:1px solid #b4b19a*/
background-color:inherit;
border-bottom:none;

border-left:1px solid #DDD;
padding-left:10px;
margin:10px;
}

div.rounded-box ul {
/*border-left:1px solid #b4b19a*/
/*border-right:1px solid #b4b19a*/
border-left:none;
border-right:none;
}

div.rounded-box h2 {
/*background-color:#b4b19a*/
background-color:transparent;

border:0 solid #000!important;
color:#888A85;
margin-top:0;
}

div.rounded-box h2 a {
color:#888A85;
}

.systeminfo {
/*background:#EEE*/
/*-moz-border-radius:15px*/
/*margin-bottom:10px*/
background:inherit;
-moz-border-radius:0px;
margin-bottom:0px;

position:relative;
}

.systeminfo-full {
/*width:90%*/
/*margin-top:8px*/
/*vertical-align:top*/
/*float:left*/
/*margin-left:8px*/
width:auto;
margin-top:0px;
vertical-align:baseline;
float:none;
margin-left:0px;


margin-bottom:10px;
font-size:inherit;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-khtml-border-radius:10px;
border-radius:10px 10px 10px 10px;
font-weight:400;
background-color:#FFFCD6;
border:1px solid #FDF58B;
padding:8px 8px 8px 30px;
}

.systeminfo-full img {
position:absolute;
top:9px;
left:8px;
}

.debug-profile {
background-color:#EEE;
border:1px solid #CCC;
}

.details-column-right,div.breadcrumbs a,div.breadcrumbs strong {
margin-left:10px;
}

.center,.form-center,div.navHeader table td,div.navfooter table td,.list-checkbox-header,.system-status,div.login-component,#login_page,#relogin_page,div.tc_warning {
text-align:center;
}

h1,div.toolbar-h1,div.toolbar-h2,h1#rhn_welcome3 {
color:#83B354;
font-size:1.8em;
font-weight:700;
margin:24px 0 0;
padding:0 0 12px;
}

h3,.small-text {
font-size:1em;
}

.toolbar a,.list-alphabar a,.list-alphabar-enabled {
padding:0 2px;
}

.details th+td,div.contentnav-row2 div.bottom {
border-bottom:1px solid #DDD;
}

.button:hover,input[type=button]:hover,input[type=submit]:hover,.csv-download:hover,div.navHeader table td a:hover,div.navfooter table a:hover {
border:1px solid #666!important;
color:#666!important;
cursor:pointer;
}

div.page-summary,div.marketing-summary {
cursor:text;
margin:0 2%;
}

#utilityAccount span.label,dt a,.list-infotext strong {
font-weight:400;
}

#utility a:hover,.footnote a:hover,div.note .replaceable,div.tip .replaceable,div.important .replaceable,div.caution .replaceable,div.warning .replaceable,div.note .keycap,div.tip .keycap,div.important .keycap,div.caution .keycap,div.warning .keycap,.note .guibutton,.note .keycap,.tip .guibutton,.tip .keycap,.tip .guilabel,.important .guibutton,.important .keycap,.caution .guibutton,.caution .keycap,.caution .guilabel,.warning .guibutton,.warning .keycap,,pre .keycap,div.note .keycap,div.tip .keycap,div.important .keycap,div.caution .keycap,div.warning .keycap, {
color:#FFF;
}

div.navHeader table,div.navHeader table,div.navfooter table,#systembar {
width:100%;
}

table.CALSTABLE td+td,table.CALSTABLE td+td+td,table.CALSTABLE th+th,table.CALSTABLE th+th+th,table.CALSTABLE td + td,table.CALSTABLE td + td + td,table.CALSTABLE th + th,table.CALSTABLE th + th + th {
border-left:1px solid #FFF;
padding-left:12px;
}

pre code,.author,.editor,.translator,.othercredit,h1#rhn_welcome span {
display:block;
}

p#title,.longdesc-link,#title strong,div.breadcrumbs .breadcrumbs-sep,#sidenavp ul li.sidenav-selected span,#sidenav ul li.sidenav-selected span,h1#rhn_welcome2 span,#relogin_page .sidebar {
display:none;
}

.chapter ul li p:first-child,.preface ul li p:first-child,.book ul li p:first-child,.section ul li p:first-child,#systembarinner form,#searchbarinner form,#sidenavp ul li,#sidenav ul li.navparent,.site-info ul,.site-alert ul,div.login-box form {
margin:0;
}

.command,.computeroutput,.filename,.citetitle,.replaceable,.option,.system-status-updates-scheduled,ul#help-url-list li a,.linkchain a {
font-weight:700;
}

div.navHeader table td:first-child,div.navfooter table td:first-child,table.iso_dl th.first,.site-alert ul,div.search-choices-group .details th {
text-align:left;
}

div.navHeader table td:last-child,div.navfooter table td:last-child,.list-data-number,.work-with-group-header {
text-align:right;
}

div#navWrap div#mainNavWrap:after,ul#mainNav:after,div#mainNavWrap ul:after,.content-nav ul:after {
clear:both;
content:".";
display:block;
font-size:0;
height:0;
visibility:hidden;
}

ul#mainNav li a:hover,div#mainNavWrap ul li a:hover {
/*text-decoration:underline;*/
text-decoration:inherit;
}

div.note .guilabel,div.important .guilabel,div.warning .guilabel,div.note .replaceable,div.tip .replaceable,div.important .replaceable,div.caution .replaceable,div.warning .replaceable,div.note .replaceable,div.important .replaceable,div.warning .replaceable {
color:#e3dcc0;
}

table.list th.row-2,table.list th:last-child {
border-right:0 solid #000!important;
}

.list-row-odd td,.list-row-virtual-odd td,tr.table-tree-even,.page-content div.toolbar a img {
background-color:#FFF;
}

.list-row-even-selected,.list-row-odd-selected {
background-color:#DDE5FF;
}

.list-row-virtual-host-odd td,tr.table-tree-odd {
background-color:#EAE8E4;
}

tr.table-tree-even+tr.table-tree-even td,tr.table-tree-odd+tr.table-tree-odd td,.list-channel li+li,.list-channel li+li li,.list-system-channels li+li,.list-system-channels li+li li {
padding-top:0;
}

.site-info a:link,.site-info a:visited {
color:#005ED8;
font-weight:700;
text-decoration:underline;
}

.site-alert a:link,.site-alert a:visited {
color:#282828;
font-weight:700;
text-decoration:underline;
}

.system-update-critical,.osa-offline {
color:#900;
font-weight:700;
}

.system-status-critical-updates,.probe-status-critical {
color:#c00;
font-weight:700;
}

.clearBox input,#faq-details a.faq-back-to-top {
float:right;
}

.newfile .deleted,.oldfile .inserted {
background-color:#D4D4D4;
}

.list-channel ul,#sidenavp ul ul,#sidenav ul li.navchild,.search-choices form {
margin:0;
padding:0;
}

.page-content .full-width,.page-content hr {
/*clear:both*/
/*width:100%*/
clear:none;
width:auto;
}

h1 {
margin-top:0;
}

.details th + td {
/*border-bottom:1px solid #ddd*/
border-bottom:none;
}

.button a {
/*margin-top:3px*/
/*padding:2px 5px*/
margin-top:0;
padding:none;
}

.button:hover {
/*background-color:#DDD*/
/*text-decoration:none!important*/
background-color:inherit;
}

.button:active {
/*padding:3px 6px 1px 4px*/
padding:none;
}

.button,a:link.link-button,a:visited.link-button,a:hover.link-button {
/*font-size:small*/
/*background-color:#eee*/
/*border:1px outset #bbb*/
/*text-decoration:none*/
/*color:#444*/
font-size:inherit;
background-color:inherit;
border:none;
text-decoration:none;
color:inherit;
}

a:link.link-button,a:visited.link-button,a:hover.link-button {
padding:none;
}

.small-text {
/*font-size:x-small*/
font-size:inherit;
}

span.hide,span.hide * {
/*visibility:hidden*/
}

#utilityAccount span.label {
/*text-transform:uppercase*/
/*font-size:.8em*/
/*font-weight:700*/
text-transform:none;
font-size:inherit;
font-weight:normal;
}

table.CALSTABLE td + td,table.CALSTABLE td + td + td,table.CALSTABLE th + th,table.CALSTABLE th + th + th {
/*padding-left:12px*/
/*border-left:1px solid #FFF*/
padding-left:0;
border-left:none;
}

dt a {
/*font-weight:400*/
font-weight:normal;
}

div.note pre,div.tip pre,div.important pre,div.caution pre,div.warning pre {
/*background-color:#333*/
/*color:#FFF*/
background-color:inherit;
color:inherit;
}

div.note h2,div.note p,div.tip h2,div.tip p,div.caution h2,div.caution p,div.warning h2,div.warning p,div.important h2,.important p {
/*margin:0*/
/*padding:0 0 0 56px*/
padding:0 0 0 0;
}

#sidenavp ul ul,#sidenav ul li.navchild {
/*background:none*/
/*background-color:#ccc*/
/*border-top:1px solid #999*/
/*margin:0*/
/*padding:0*/
background:none;
background-color:transparent;
border-top:none;
margin:0;
padding:0;
}

#sidenavp ul li,#sidenav ul li.navparent {
border-bottom:none;
margin:0;
}

#sidenavp ul li:last-child,#sidenav ul li:last-child {
/*border-bottom:1px solid #999*/
border-bottom:none;
}

#sidenavp ul ul li:last-child,#sidenav ul li.navchild:last-child {
/*border-bottom:none*/
}

.sidebar-title + .sidebar-links {
/*margin-top:-.5em*/
margin-top:0;
}

.content-nav:after,.content-nav ul:after {
/*content:"."*/
/*display:block*/
/*height:1px*/
/*margin-top:-1px*/
/*overflow:hidden*/
/*clear:both*/
/*visibility:hidden*/
content:none;
display:inline;
height:auto;
margin-top:0;
overflow:visible;
clear:none;
visibility:visible;
}

ul.content-nav-rowone {
/*border-bottom:3px solid #e6e6e6*/
/*margin-bottom:-4px*/
border-bottom:none;
margin-bottom:0;
}

ul.content-nav-rowone li {
/*margin-bottom:-1px*/
margin-bottom:0;
}

ul.content-nav-rowone li a,ul.content-nav-rowthree li a {
/*display:block*/
/*padding:4px 8px*/
display:inline;
padding:0;
}

ul.content-nav-rowtwo {
/*background:url(/img/contentnav_rowtwo_b.gif) bottom left no-repeat*/
/*padding-bottom:6px*/
/*margin-right:8px*/
background:inherit;
padding-bottom:0;
margin-right:0;
}

ul.content-nav-rowtwo li {
/*display:inline*/
/*padding-left:18px*/
padding-left:0;
}

ul.content-nav-rowone li.content-nav-selected {
/*background:url(/img/contentnav_tabr.gif) top right no-repeat*/
background:inherit;
}

ul.content-nav-rowone a.content-nav-selected-link {
/*color:#444*/
/*font-weight:900*/
/*background:url(/img/contentnav_tabl.gif) top left no-repeat*/

/*
color:inherit;
font-weight:normal;
background:inherit;
*/
}

ul.content-nav-rowthree li.content-nav-selected {
/*background:url(/img/contentnav_tabr.gif) bottom right no-repeat*/
background:inherit;
}

ul.content-nav-rowthree a.content-nav-selected-link {
/*color:#444*/
/*font-weight:900*/
/*background:url(/img/contentnav_tabl.gif) bottom left no-repeat*/
color:inherit;
font-weight:normal;
background:inherit;
}

div.contentnav-row2 {
/*background:#e6e6e6 url(/img/contentnav_rowtwo_t.gif) top left no-repeat*/
/*clear:left*/
/*padding:0*/
background:inherit;
clear:none;
padding:0;
}

div.contentnav-row2 div.bottom {
/*background:url(/img/contentnav_rowtwo_b.gif) bottom right no-repeat*/
background:inherit;
}

td.first-column {
/*border-left:1px solid silver*/
border-left:none;
}

td.last-column {
/*border-right:1px solid silver*/
border-right:none;
}

.list a:hover {
/*text-decoration:underline*/
text-decoration:none;
}

.list-iso th + th {
/*border-left:1px solid #ccc*/
border-left:none;
}

.list-iso-item + .list-iso-item {
/*margin-top:.05em*/
margin-top:0;
}

table.iso_dl th.first {
/*text-align:left*/
}

.site-info:before {
/*background:#6182ab url(/img/corner_infobox_top_right.gif) no-repeat top right*/
/*content:url('/img/corner_infobox_top_left.gif')*/
/*display:block*/
/*font-size:1px*/
/*height:10px*/
/*line-height:.1*/
/*text-align:left*/
/*margin:-8px -8px 0*/
background:inherit;
content:none;
display:inline;
font-size:inherit;
height:auto;
line-height:normal;
text-align:left;
margin:0;
}

.site-info:after {
/*background:#6182ab url(/img/corner_infobox_bottom_right.gif) no-repeat bottom right*/
/*clear:both*/
/*content:url('/img/corner_infobox_bottom_left.gif')*/
/*display:block*/
/*font-size:1px*/
/*height:10px*/
/*line-height:.1*/
/*padding-top:8px*/
/*text-align:left*/
/*color:#9DF*/
/*font-weight:700*/
/*margin:-8px*/
background:inherit;
clear:none;
content:none;
display:inline;
font-size:normal;
height:auto;
line-height:normal;
padding-top:0;
color:inherit;
font-weight:normal;
margin:0;
}

.site-info a:visited {
/*color:#9DF*/
/*font-weight:700*/
color:inherit;
font-weight:normal;
}

.site-alert:before {
/*background:#b70000 url(/img/corner_infobox_top_right.gif) no-repeat top right*/
/*content:url('/img/corner_infobox_top_left.gif')*/
/*display:block*/
/*font-size:1px*/
/*height:10px*/
/*line-height:.1*/
/*text-align:left*/
/*margin:-8px -8px 0*/
}

.site-alert:after {
/*background:#b70000 url(/img/corner_infobox_bottom_right.gif) no-repeat bottom right*/
/*clear:both*/
/*content:url('/img/corner_infobox_bottom_left.gif')*/
/*display:block*/
/*font-size:1px*/
/*height:10px*/
/*line-height:.1*/
/*padding-top:8px*/
/*text-align:left*/
/*color:#9DF*/
/*font-weight:700*/
/*margin:-8px*/
}

.site-alert a:visited {
/*color:#FCC*/
/*font-weight:700*/
}

.clearboxinner {
/*background:url(/img/corner_halflinebox_bottom.png) bottom left no-repeat*/
/*width:100%*/
/*padding-bottom:7px*/
}

h1#rhn_welcome3 {
/*background-image:url(/img/rhn_welcome3.gif)*/
/*background-position:0 0*/
/*background-repeat:no-repeat*/
/*height:40px*/
}

div.rounded-box:before {
/*background:#b4b19a url(/img/table_corner_tr.gif) scroll no-repeat top right*/
/*margin-bottom:-11px*/
/*height:5px*/
/*display:block*/
/*border:none*/
/*content:url(/img/table_corner_tl.gif)*/
/*line-height:.1*/
/*font-size:1px*/
/*padding:0*/
}

.systeminfo-left {
/*width:30%*/
/*margin-top:8px*/
/*vertical-align:top*/
/*float:left*/
/*margin-left:8px*/
}

div.systeminfo-left img {
/*float:left*/
/*margin-right:10px*/
}

.systeminfo-right {
/*font-size:x-small*/
/*width:60%*/
/*margin-top:8px*/
/*vertical-align:middle*/
/*float:right*/
/*background-image:url(/img/rhn-bar-background.gif)*/
}

#bottom-wrap,.action-summary-errata,.action-summary-package,.action-summary-config {
/*padding-top:10px*/
}

td.page-content > table,.clearbox .label {
/*clear:left*/
}

.details-column-right,ul.content-nav-rowone,ul.content-nav-rowthree {
/*margin-left:10px*/
}

.submit-bar,#content {
/*clear:both*/
}

.center,.form-center,.list-checkbox-header,.system-status,div.login-component,div.tc_warning {
/*text-align:center*/
text-align:left;
}

a,#utility a,.docnav a:link strong {
/*text-decoration:none*/
}

a:link,a:visited,.content-nav a:visited {
/*color:#06c*/
}

.help-title,p#title,.longdesc-link,#title strong,#sidenavp ul li.sidenav-selected span,#sidenav ul li.sidenav-selected span,h1#rhn_welcome span,h1#rhn_welcome2 span,h1#rhn_welcome3 span {
/*display:none*/
display:inline;
}

.toolbar a,.up-arrow a {
/*text-decoration:none*/
/*padding:0 2px*/
}

.required-form-field,.system-status-critical-updates,.probe-status-critical {
/*color:#c00*/
/*font-weight:700*/
}

div.page-summary,.list-empty-message,div.marketing-summary {
/*cursor:text*/
/*margin:0 2%*/
}

img#rhnLogo,ul.content-nav-rowone li,ul.content-nav-rowthree li,span.full-width-note-left {
/*float:left*/
}

#utilityAccount p a,#utilityAccount p a:link,.command,.computeroutput,.filename,.citetitle,.replaceable,.option,.csv-download a,.system-status-updates-scheduled,ul#help-url-list li a,.linkchain a {
/*font-weight:700*/
font-weight:normal;
}

#utilityAccount a:link,#utilityAccount a:hover,#utilityAccount a:active,#utilityAccount a,#utilityLinks a:link,#utilityLinks a:hover,#utilityLinks a:active,#utilityLinks a,.note .guibutton,.note .keycap,.note .guilabel,.tip .guibutton,.tip .keycap,.tip .guilabel,.important .guibutton,.important .keycap,.important .guilabel,.caution .guibutton,.caution .keycap,.caution .guilabel,.warning .guibutton,.warning .keycap,.warning .guilabel,.footnote a:hover,pre .replaceable,pre .keycap,div.note .replaceable,div.tip .replaceable,div.important .replaceable,div.caution .replaceable,div.warning .replaceable,div.note .keycap,div.tip .keycap,div.important .keycap,div.caution .keycap,div.warning .keycap,,.note .guibutton,.note .keycap,.tip .guibutton,.tip .keycap,.tip .guilabel,.important .guibutton,.important .keycap,.caution .guibutton,.caution .keycap,.caution .guilabel,.warning .guibutton,.warning .keycap,,pre .keycap,div.note .keycap,div.tip .keycap,div.important .keycap,div.caution .keycap,div.warning .keycap,,#sidenavp ul ul li.sidenav-selected a,#sidenav ul li.sidenav-selected a {
/*color:#FFF*/
color:inherit;
}

pre code,.author,.editor,.translator,.othercredit {
/*display:block*/
}

.chapter ul li p:first-child,.preface ul li p:first-child,.book ul li p:first-child,.section ul li p:first-child,#systembarinner form,#searchbarinner form,.site-info ul,.site-alert ul,div.login-box form {
/*margin:0*/
}

div.note .replaceable,div.tip .replaceable,div.important .replaceable,div.caution .replaceable,div.warning .replaceable,div.note .guilabel,div.important .guilabel,div.warning .guilabel,div.note .replaceable,div.important .replaceable,div.warning .replaceable {
/*color:#e3dcc0*/
}

div.note h2,div.tip h2,div.important h2,div.caution h2,div.warning h2,div.note h2,div.important h2,div.warning h2,div.tip h2,div.caution h2 {
/*color:#FFF*/
/*font-size:1.3em*/
/*height:32px*/
}

.chapter .table table tr.even td,.book .table table tr.even td,.preface .table table tr.even td,.section .table table tr.even td,.summary-row {
/*background-color:#f5f5f5*/
}

div.preface,div.chapter,div.section,#faq-details p + h3 {
/*padding-top:2em*/
padding-top:0;
}

#systembar,div.filter-input table {
/*width:100%*/
width:auto;
}

#sidenavp ul ul li.sidenav-selected,#sidenav ul li.sidenav-selected,#sidenavp ul li.sidenav-selected,#sidenav ul li.sidenav-selected {
/*background:#6c6c6c*/
background:inherit;
}

a.content-nav-selected-link,div.contentnav-row2 a.content-nav-selected-link {
/*color:#444*/
/*font-weight:900*/
color:inherit;
font-weight:normal;
}

table.list img,table.list td {
/*vertical-align:middle!important*/
}

table.list thead th:first-child,table.half-table thead th:first-child {
/*background:url(/img/table_corner_tl.gif) top left no-repeat*/
/* dont touch the one, we moved the selector together with other selector */
}

.list-row-even td,.list-row-virtual-host-odd td,tr.table-tree-odd {
/*background-color:#eae8e4*/
background-color:inherit;
}

.list-row-odd td,.list-row-virtual-odd td {
/*background-color:#FFF*/
background-color:inherit;
}

half-table td,tr.table-tree-even {
/*background-color:#fff*/
background-color:inherit;
}

span.full-width-note-right,#faq-details a.faq-back-to-top {
/*float:right*/
float:none;
}

tr.table-tree-even + tr.table-tree-even td,tr.table-tree-odd + tr.table-tree-odd td,.list-channel li + li,.list-channel li + li li,.list-system-channels li + li,.list-system-channels li + li li {
/*padding-top:0*/
}

.list-alphabar a,.list-alphabar-enabled {
/*padding:0 2px*/
}

.list-data-number,.work-with-group-header {
/*text-align:right*/
}

.inactive,.compare-list .inactive {
/*background-color:#fef5ad*/
/*margin-bottom:5px*/
background-color:inherit;
margin-bottom:0;
}

.site-info a:link,.site-alert a:link {
/*color:#FFF*/
/*font-weight:700*/
/*text-decoration:underline*/
color:inherit;
font-weight:normal;
text-decoration:none;
}

.system-update-critical,osa-offline {
/*color:#900*/
/*font-weight:700*/
color:inherit;
font-weight:normal;
}

.list-channel ul,.content-nav,.search-choices form {
/*margin:0*/
/*padding:0*/
}
