// responsive tabs
.responsive-wizard {
  .panel-footer {
    background-color: transparent;
  }
}
body{
  overflow-y: auto;
}

// Setup Wizard
.responsive-wizard {
  > .panel-default > .panel-body {
    padding-bottom: 0;
    button.btn {
      .btn-sm;
    }
    .panel{
      box-shadow: 0px 2px 1px 0px #dadada;
      -moz-box-shadow: 0px 2px 1px 0px #dadada;
      -webkit-box-shadow: 0px 2px 1px 0px #dadada;
    }
    .panel-footer {
      border-top: 0;
      background: @gray-lighter;
      .fa {
        font-size: 1.5em;
      }
    }
    form p {
      padding-top: 7px;
      margin: 0;
      text-align: left;
    }
    a > i.fa {
      color: @gray-dark;
    }
    a > i.fa.text-success {
      color: @spacewalk-green;
    }
    a > i.fa.text-danger {
      color: @spacewalk-red;
    }
    a > i.fa.text-warning {
      color: @spacewalk-gold-yellow;
    }
    .text-starred, a > i.fa.text-starred {
      color: @spacewalk-gold-yellow;
    }
    //suse-products
    #suse-products {
      .btn-show-channel-list, 
      .btn-synchronize {
        cursor: pointer;
      }
      .col-sm-9 table tbody.table-content tr.addons {
        .addon-indented-icon {
          border-left: 2px dotted @gray-dark;
          border-bottom: 2px dotted @gray-dark;
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-right: 10px;
          margin-left: 5px;
        }
      }
      .collapsible {
        cursor: pointer;
      }  
      table tr td.text-only {
        padding-top: 14px;
      }
      table tr td [data-syncstatus="finished"],
      table tr td [data-syncstatus="in_progress"],
      table tr td [data-syncstatus="not_mirrored"] {
        padding-top: 6px
      }
      table tr td.add-button {
        i {
          margin-right: 0;
        }
        .label-container {
          padding-top: 5px;
        }
      }
      table td {
        .product-channels-btn {
          color: @gray-dark
        }
      }
      .spinner-container {
        text-align: center;
        padding: 30px 0;
      }
    }
    //credentials
    #mirror-credentials {
      .panel {
        width: 47%;
        min-width: 300px;
        height: 140px;
        display: inline-block;
        padding:0; 
        margin: 0 1.4em 1em 0;
        vertical-align: top;
        h3 {
          margin-top: 0 ;
          height: 41px;
          overflow: x-scroll;
        }
        a:hover .fa,
        a:hover{
          text-decoration: none
        }
      }
      .panel:nth-of-type(2n) {
        margin: 0 0 1em 0;
      }
      .panel-footer {
        padding-left: 0;
        padding-right: 0;
      }
      .panel-inactive {
        background: #f7f7f7;
        border: 1px solid #dddddd;
        text-align: center;
        .fa-plus-circle {
          font-size: 4em;
          color: @gray;
          text-shadow: -1px -1px 0px #777, 1px 1px 0px #fff ;
          margin-top: 13px;
          margin-right: 0;
        }
        a {
          color: @gray
        }
      }
      #wizard-faq img {
        margin: 1em 0;
      }
    }
  }
  .col-sm-9 {
    padding-left: 0;
  }
  #wizard-faq {
    border-left: 1px solid @panel-inner-border;
    text-align: center;
    img:first-child {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    h4, p {
      text-align: left;
    }
  }
  .panel[data-target="#modal-edit-credentials"] {
    cursor: pointer;
  }
}

ul.subscriptions-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

#modal-list-subscriptions-body {
  height: 300px;
  overflow-y: auto;
}

#modal-list-subscriptions-body + .modal-footer {
  margin-top: 0;
}

#suse-products {
  tr.product-selected {
    background-color: #ffc;
  }
  tr.product-provided {
    background-color: #eee;
  }
  .product-status-label {
    .btn-link, a {
      color: white;
      text-decoration: none;
    }
    .btn-link.product-sync-log-btn {
      text-decoration: underline;
    }
  }

  .product-add-btn, .product-retry-btn {
    font-size: 0.7em;
  }
}

.text-glow {
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 1px #fff;
}

.btn-3d {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
  .text-glow;
}

.btn-default.text-muted {
  .text-muted!important;
}

.row-odd {
  background-color: @spacewalk-background;
}
.row-even {
  background-color: #fff;
}

ul.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  clear: both;
  display: block;
  li {
    display: block;
    overflow: auto;
    border-bottom: 1px solid @spacewalk-gray-light;
    padding-left: 10px;
    .product-element {
      overflow: auto;
      padding: .3em;
      margin-left: .3em;
      div {
        vertical-align: middle;
      }
    }
  }
  > li.list-row-odd {
    .row-odd
  }
  > li.list-row-even {
    .row-even
  }
  ul {
    border-top: 1px solid @spacewalk-gray-light;
    margin-top: .3em;
    padding: 0 0 1em 0;
    li {
      border: 0;
      border-top: 1px dashed @spacewalk-gray-light;
      margin-left: 18px;
      padding: 0.3em 0;
      background-image: url('/img/susemanager/sub-list.png');
      background-repeat: no-repeat;
      background-position: left center;
    }
    li:first-of-type {
      border-top: 0;
    }
    li:last-of-type {
      background-image: url('/img/susemanager/sub-list-last.png');
    }
  }
  ul.product-channel-list {
    padding: 0;
    margin: 0;
    border: 0;
    li {
      list-style: disc;
      border: none;
      background: transparent;
      padding: 0 1em;
      margin: 0;
    }
  }
}

.right {
  float: right;
}
