#svg-wrapper {
  position: relative;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 2px 1px #ddd;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,edf4f7+100 */
  background: #feffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #feffff 0%, #edf4f7 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #feffff 0%,#edf4f7 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #feffff 0%,#edf4f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#edf4f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  #filter-wrapper {
    display: none;
    position: absolute;
    z-index: 500;
    left: 0;
    height: 100%;
    overflow-y: auto;
    width: 260px;
    background-color: rgba(231, 236, 241, 0.9);
    font-size: 0.9em;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    div.filter {
      padding: 16px 0px;
      margin-right: 4px;
      label {
        display: block;
      }
      input[type=text] {
        .form-control;
        .input-sm;
      }
    }
    select {
      width: 100%;
    }
  }
  .detailBox {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    border-radius: 0 0 0 3px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: rgba(240, 240, 240, 0.9);
    font-size: 0.9em;
    min-width: 180px;
    max-width: 300px;
    div.content-wrapper {
      padding: 10px;
      table {
        width: 100%;
        border-radius: 3px;
        tr {
          th {
            text-align: center;
            padding: 2px 12px 7px 12px;
          }
          td {
            border: 1px solid #ddd;
            padding: 5px;
            vertical-align: top;
          }
          td:first-child {
            background-color: #f5f5f5;
          }
          td:last-child {
            background-color: #fafafa;
          }
        }
      }
    }
    a.close-popup, button.close-popup:hover {
      border: none;
      background: none;
      color: @spacewalk-gray;
      position: absolute;
      right: 4px;
      top: 0px;
      padding: 5px;
    }
    a.close-popup:hover {
      color: @spacewalk-gray-dark;
      text-decoration: none;
    }
    button.addToSSM {
      .btn;
      .btn-default;
      padding: 2px 6px;
    }
  }
}

/* svg elements */
svg {
  .node {
    cursor: pointer;
  }

  // default
  .node {
    foreignObject {
      width: 1em;
      height: 1em;
      color: #ddd;
      i {
        font-size: 1em;
      }
    }
  }
  .node.selected {
    foreignObject {
      i {
        font-weight: bold;
        color: #333;
      }
    }
  }

  .node.root {
    foreignObject {
      width: 4em;
      height: 4em;
      color: #008d5f;
      i {
        font-size: 4em;
      }
    }
  }
  .node.root.selected {
    foreignObject {
      i {
        font-weight: normal;
      }
    }
  }

  .node.inner-node {
    foreignObject {
      width: 3em;
      height: 3em;
      color: #9467bd;
      i {
        font-size: 3em;
      }
    }
  }

  .node.system {
    foreignObject {
      color: #7392cc;
    }
  }

  .node text {
    font-size:14px;
    font-family:sans-serif;
  }

  .link {
    stroke: #d0d7e2;
    stroke-width: 0.5px;
  }

  .stroke-red foreignObject {
    i {
      color: #b57a77;
    }
  }
  .stroke-red.selected foreignObject {
    i {
      color: #900000!important;
    }
  }

  .stroke-green foreignObject {
    i {
      color: #7ab577;
    }
  }
  .stroke-green.selected foreignObject {
    i {
      color: #009000!important;
    }
  }
}

.sideleg svg {
  width: 15px;
  height: 10px;
  circle {
    transform: translateX(50%) translateY(50%);
  }
}
