//applies the gradient to buttons

.call-to-action-gradient,
.call-to-action-button-colour {
  #gradient .vertical(lighten(@suse-green-dark, 5%), @suse-green-dark, 0%, 100%);
}

.default-button-colour {
  #gradient .vertical(#fff, darken(#fff, 10%), 0%, 100%);
}

//this should really be the default
i.no-margin {
    &[class~="fa"],
    &[class^="icon-"],
    &[class*=" icon-"],
    &[class*="spacewalk-icon"],
    &[class^="spacewalk-icon"] {
      margin: 0px;
    }
}

//custom setting for vertical alignment because
//buttons for pagination on the same line have
//.btn{'padding:6px 12px' and 'border:1px'}  --> 6px+1px=7px
.table-page-information {
  display: inline-block;
  padding: 7px 0px;
}

.table-search-wrapper {
  width: 66%!important;
}

.table-items-per-page-wrapper {
  width: 33%!important;
}

.table-input-search {
  width: 60%;
  max-width: 500px;
  display: inline-block;
  margin-right: 10px;
}
