@import url(http://fonts.googleapis.com/css?family=Raleway:300,400);

header {
	background: #268a90;
	background: -moz-linear-gradient(-45deg,  #268a90 0%, #3f9988 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#268a90), color-stop(100%,#3f9988));
	background: -webkit-linear-gradient(-45deg,  #268a90 0%,#3f9988 100%);
	background: -o-linear-gradient(-45deg,  #268a90 0%,#3f9988 100%);
	background: -ms-linear-gradient(-45deg,  #268a90 0%,#3f9988 100%);
	background: linear-gradient(135deg,  #268a90 0%,#3f9988 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268a90', endColorstr='#3f9988',GradientType=1 );
	a {
		color: #ccc;
		margin-right: .7em
	}
	a:hover {
		color: #007a75;
	}
	img {
		float: left;
	}
}


/* SCC Login */
body.login-page {
	background: #007a75;
	font-size: 16px;
	font-weight: normal;
	font-family: arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	overflow: auto;
	margin-top: 0px;
}
.login-page {
	.text-left;
	.wrap {
		width: 960px;
		margin: 0 auto;
		box-sizing:border-box;
		-moz-box-sizing:border-box; /* Firefox */
	}
	section {
		padding: 3em 0
	}
	h1 {
		font-size: 52px
	}
	h2 {
		font-size: 32px
	}
	.Raleway-font {
		font-family: 'Raleway', sans-serif;
		font-weight: 300
	}
	.green-dark {
		color: #00b268;
	}
	.gray-text {
		color: #cccccc
	}
	.btn-dark {
		background: #007a75;
		color: #cccccc;
		border: 1px solid #cccccc;
		display: inline-block;
		text-decoration: none;
		padding: .4em 1em;
		border-radius: 4px;
		font-size: 15px;
		margin-left: 3em
	}
	.btn-dark:hover {
		color: #B2DBBF;
		border: #B2DBBF 1px solid
	}
	.margins-updown {
		margin: 2em 0;
	}
	input {
		margin-bottom: 1em;
		background: #005f5b;
		color: #ccc;
		border: 0;
		-webkit-font-smoothing: antialiased;
		box-shadow: 0px 1px 0px 0px #1a9590, 0px 1px 0px 0px #004744 inset;
		-moz-box-shadow: 0px 1px 0px 0px #1a9590, 0px 1px 0px 0px #004744 inset;
		-webkit-box-shadow: 0px 1px 0px 0px #1a9590, 0px 1px 0px 0px #004744 inset;
	}
	input:focus {
		color: #fff
	}
	hr {
		background: #00615d;
		height: 1px;
		border: 0;
		border-bottom: 1px solid #008e89;
	}
	input[type="submit"] {
		background: #1fb99f;
		color: #2d2d2d;
		margin-bottom: 1em;
		border: 0;
		box-shadow: 0px 1px 0px 0px #1a9590, 0px 0px 0px 0px #004744 inset;
		-moz-box-shadow: 0px 1px 0px 0px #1a9590, 0px 0px 0px 0px #004744 inset;
		-webkit-box-shadow: 0px 1px 0px 0px #1a9590, 0px 0px 0px 0px #004744 inset;
	}
	input[type="submit"]:hover {
		background: #B2DBBF;
		-webkit-font-smoothing: antialiased;
	}
	a {
		text-decoration: underline;
	}
	a:hover {
		color: #00b268
	}
	.small-text {
		font-size: .8em;
	}
	label {
		font-weight: normal;
	}
	h1 {
		color: #fff;
	}
	header {
		font-size: 13px;
		.wrap {
			.navbar-header, .option {
				.make-xs-column(6);
			}
			.navbar-header {
				margin-bottom: 0px;
			}
			.option {
				.navbar-primary {
					float: right;
					li:hover {
						border-bottom: 4px solid transparent;
					}
				}
			}
		}
	}
	footer {
		background: #007a75;
		.footer-links a, .footer-links {
			color: #ccc;
			font-size: 13px;
			text-decoration: none;
		}
		.footer-links a:hover {
			color: #B2DBBF;
			text-decoration: underline;
		}
	  .bottom-line {
			height: 1em;
			margin-top: 1em;
			width: 100%;
			background: #268a90;
			background: -moz-linear-gradient(-45deg,  #268a90 0%, #3f9988 100%);
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#268a90), color-stop(100%,#3f9988));
			background: -webkit-linear-gradient(-45deg,  #268a90 0%,#3f9988 100%);
			background: -o-linear-gradient(-45deg,  #268a90 0%,#3f9988 100%);
			background: -ms-linear-gradient(-45deg,  #268a90 0%,#3f9988 100%);
			background: linear-gradient(135deg,  #268a90 0%,#3f9988 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268a90', endColorstr='#3f9988',GradientType=1 );
		}
		.wrap {
			float: none;
			.row {
				width: 100%;
				margin-left: 0px;
	      div:nth-child(1) {
					.make-xs-column(8);
					.text-left;
					margin-left: 0;
				}
				div:nth-child(2) {
					.make-xs-column(4);
					.text-right;
					.hidden-xs;
				}
			}
		}
	}
	.alert {
		font-size: 14px
	}
}


@media (max-width: @screen-desktop) {
	.login-page .wrap {
		width: 100%;
	}
}

@media (max-width: @screen-tablet) {
	.login-page section.wrap {
		padding-right: 1em;
		padding-left: 1em;
	}
}

