include ../common.jade

#cveaudit

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

script(type='text/javascript').
    spaImportReactPage('audit/cveaudit')
        .then(function(module) { module.renderer('cveaudit') });
