include ../common.jade

#scap-policy-details

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.policyId = #{policyId};
    window.policyData = !{policyData};

script(type='text/javascript').
    spaImportReactPage('audit/scap-policy-details')
        .then(function(module) { module.renderer('scap/scap-policy-details') });
