<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.1" name="POS_Image_JeOS6">
    <description type="system">
        <author>Admin User</author>
        <contact>noemail@example.com</contact>
        <specification>SUSE Linux Enterprise 12 SP3 JeOS</specification>
    </description>
    <preferences>
        <version>6.0.0</version>
        <packagemanager>zypper</packagemanager>
        <bootsplash-theme>SLE</bootsplash-theme>
        <bootloader-theme>SLE</bootloader-theme>

        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
        <timezone>Europe/Berlin</timezone>
        <hwclock>utc</hwclock>

        <rpm-excludedocs>true</rpm-excludedocs>

        <type boot="saltboot/suse-SLES12" bootloader="grub2" checkprebuilt="true" compressed="false" filesystem="ext3" fsmountoptions="acl" fsnocheck="true" image="pxe" kernelcmdline="quiet"/>
        <type boot="isoboot/suse-SLES12" image="iso"/>
        <type boot="oemboot/suse-SLES12" filesystem="ext3" image="oem" installiso="true"/>
    </preferences>
    <users group="root">
      <user home="/root" name="root" password="linux" pwdformat="plain" shell="/bin/bash"/>
    </users>
    <drivers>
      <file name="drivers/block/virtio_blk.ko" />
    </drivers>
    <repository type="rpm-md" >
        <source path="http://download.suse.de/ibs/SUSE/Products/SLE-SERVER/12-SP3/x86_64/product/"/>
    </repository>
    <repository type="rpm-md" >
        <source path="http://download.suse.de/ibs/SUSE/Updates/SLE-SERVER/12-SP3/x86_64/update/"/>
    </repository>
    <repository type="rpm-md" >
        <source path="http://download.suse.de/ibs/SUSE/Products/SLE-Manager-Tools/12/x86_64/product/"/>
    </repository>
    <repository type="rpm-md" >
        <source path="http://download.suse.de/ibs/SUSE/Updates/SLE-Manager-Tools/12/x86_64/update/"/>
    </repository>
    <packages type="image">
        <package name="patterns-sles-Minimal"/>
        <package name="aaa_base-extras"/> <!-- wouldn't be SUSE without that ;-) -->
        <package name="acl"/>
        <package name="btrfsprogs"/>
        <package name="btrfsmaintenance"/>
        <package name="cron"/> <!-- needed by btrfsmaintenance -->
        <package name="curl"/> <!-- needed for openQA, maybe delete -->
        <package name="dracut"/>
        <package name="fipscheck"/>
        <package name="grub2-branding-SLE" bootinclude="true"/>
        <package name="iputils"/>
<!--        <package name="jeos-firstboot"/> -->
        <package name="zypper-lifecycle-plugin"/> <!-- bsc#1030278 fate#320597 -->
        <package name="vim"/>
        <package name="gettext-runtime"/>
        <package name="shim" arch="x86_64"/>
        <package name="grub2"/>
        <package name="grub2-x86_64-efi" arch="x86_64"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="haveged"/>
        <package name="less" />
        <package name="openslp"/>
        <package name="tar"/>
        <package name="parted"/>
        <package name="snapper"/>
        <package name="SUSEConnect"/>
        <package name="SuSEfirewall2"/>
        <package name="systemd"/>
        <package name="systemd-sysvinit"/>
        <package name="timezone"/>
        <package name="wicked"/>
        <package name="iproute2"/> 
        <package name="openssh"/>
        <package name="elfutils"/>
<!--        <package name="kernel-default-base" bootinclude="true" replaces="kernel-default"/> -->
        <package name="kernel-default"/>
        <package name="python-base"/>
        <package name="rsync"/>
	<package name="salt-minion"/>
        <!-- packages required by file provides, BS can't resolve them -->
        <package name="suse-build-key"/>
        <package name="pkg-config"/>
        <package name="sg3_utils"/>
        <package name="ncurses-utils"/>
        <package name="krb5"/>
        <package name="dialog"/>                <!-- this is needed to support simple dialogs at boot time -->
        <package name="grub2-snapper-plugin"/>  <!-- snapper - grub2 - integration, "small" -->
        <package name="snapper-zypp-plugin"/>   <!-- this is key snapper/zypp integration, as requested in the PRD -->

        <package name="mdadm"/>
        <package name="cryptsetup"/>
        <package name="kernel-firmware"/>
        <package name="kexec-tools"/>
        <package name="plymouth"/>
        <package name="wpa_supplicant"/>
    </packages>
    <packages type="bootstrap">
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
<!--         <package name="cracklib-dict-small"/> -->
        <package name="ca-certificates"/>
        <package name="sles-release"/>
<!--         <package name="sles-release-DVD"/> -->
        <package name="rhn-org-trusted-ssl-cert-osimage" bootinclude="true"/>

    </packages>
    <packages type="delete">
        <package name="mtools"/>
        <package name="initviocons"/>
<!--        <package name="cryptsetup"/> -->
        <package name="autoyast2-installation"/>
        <package name="bind-utils"/>
        <package name="Mesa" />
        <package name="Mesa-libGL1"/>
        <package name="Mesa-libglapi0"/>
        <package name="Mesa-EGL1"/>
        <package name="Mesa-libEGL1"/>
        <package name="lvm2"/>
        <package name="sg3_utils"/>
        <package name="libcairo2"/>
        <package name="libxcb-dri2-0"/>
        <package name="libxcb-dri3-0"/>
        <package name="libgbm1"/>
        <package name="libgio-2_0-0"/>
        <package name="libharfbuzz0"/>
        <package name="libpango-1_0-0"/>
        <package name="libpixman-1-0"/>
<!--        <package name="libply-splash-graphics2"/> -->
        <package name="libX11-6"/>
        <package name="libX11-xcb1"/>
        <package name="libxcb-dri3"/>
        <package name="libxcb-present0"/>
        <package name="libxcb-shm0"/>
        <package name="libxcb-xfixes0"/>
        <package name="libdrm_intel1"/>
        <package name="libdrm_nouveau2"/>
        <package name="libLLVM"/>
        <package name="libyui7"/>
        <package name="libyui-ncurses-pkg7"/>
        <package name="libyui-ncurses7"/>
        <package name="libthai0"/>
        <package name="libwayland-client0"/>
        <package name="libsgutils2"/>
        <package name="libpciaccess0"/>
        <package name="libgraphite2"/>
        <package name="libdatrie1"/>
        <package name="libdrm2"/>
        <package name="libxcb1"/>
        <package name="libX11-data"/>
        <package name="libXdamage1"/>
        <package name="libXext6"/>
        <package name="libXfixes3"/>
        <package name="libXft2" />
        <package name="libXrender1"/>
        <package name="libXxf86vm1"/>
        <package name="libpng16-16"/>
        <package name="os-prober"/>
        <package name="pango-modules"/>
<!--        <package name="plymouth"/> -->
<!--        <package name="plymouth-plugin-label"/> -->
<!--        <package name="plymouth-plugin-script"/> -->
<!--        <package name="plymouth-scripts"/> -->
<!--        <package name="plymouth-branding-SLE"/> -->
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="gnu-unifont-bitmap-fonts"/>
        <package name="gio-branding-upstream"/>
        <package name="libXau6"/>
<!--        <package name="libfreetype6"/> -->
        <package name="shared-mime-info"/>
    </packages>
</image>
