include ../common.jade
#virtual-host-managers

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";

script(src='/javascript/manager/virtualhostmanager-edit.bundle.js', type='text/javascript')