// todo i18n
// todo icon of VHM!

.spacewalk-toolbar-h1
  .spacewalk-toolbar
    a(href="vhm/new") Add Virtual Host Manager
  h1
    | Virtual Host Managers

.row
  a(href="vhm/add") Add Virtual Host Manager

.row
  ul
    if empty(virtualHostManagers)
      li You don't have any Virtual Host Managers
    else
      for vhmanager in virtualHostManagers
        li: a(href="vhm/#{vhmanager.label}") #{vhmanager.label}, #{vhmanager.org.name}

