include ../common.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";

#virtual-host-managers
    script(type='text/javascript').
        injectReactPage('systems/virtualhostmanager/virtualhostmanager');
