include ../common.jade
#virtual-host-managers

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";

+userPreferences
script(src='/javascript/manager/virtualhostmanager.bundle.js', type='text/javascript')
