@import "../../../../../../branding/css/variables.scss";

:global(.old-theme),
:global(.new-theme) {
  .filter_list_wrapper {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $eos-bc-gray-100;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid $eos-bc-gray-100;
    }
  }

  .dettached {
    text-decoration: line-through;
  }
}
