include ../common.jade

#image-build

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const profileId = "#{profile_id}";

script(src='/javascript/manager/image-build.bundle.js', type='text/javascript')