include ../common.jade

#image-build

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const profileId = "#{profileId}";
    const hostId = "#{hostId}";
    const tag = "#{tag}";

script(src='/javascript/manager/image-build.bundle.js', type='text/javascript')