include ../common.jade

#image-store-edit

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.storeId = "#{store_id}"

script(src='/javascript/manager/images/image-store-edit.bundle.js?cb=#{webVersion}', type='text/javascript')

