include ../common.jade

#image-profile-edit

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const profileId = "#{profile_id}";
    const activationKeys = !{activation_keys};

script(src='/javascript/manager/image-profile-edit.bundle.js', type='text/javascript')

