include ../common.jade

#image-profile-edit

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const profileId = "#{profileId}";
    const activationKeys = !{activationKeys};
    const customDataKeys = !{customDataKeys};

script(src='/javascript/manager/image-profile-edit.bundle.js', type='text/javascript')

