include ../common.jade

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.isAdmin = #{isAdmin};

#image-profiles
    script(type='text/javascript').
        injectReactPage('images/image-profiles');
