include ../common.jade

#image-stores

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.isAdmin = #{is_admin};

+userPreferences

script(type='text/javascript').
    spaImportReactPage('images/image-stores')
        .then(function(module) { module.renderer('image-stores') });

