include ../common.jade

#image-profiles

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";
    const isAdmin = #{isAdmin};

+userPreferences
script(src='/javascript/manager/image-profiles.bundle.js?cb=#{webVersion}', type='text/javascript')

