include ../common.jade

#image-stores

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.isAdmin = #{is_admin};

+userPreferences
script(src='/javascript/manager/image-stores.bundle.js?cb=#{webVersion}', type='text/javascript')

