script(type="text/javascript").
  function formData() {
     return {content: "xxxx"};
  }

#state-add

if isDevMode
  script(src='/javascript/manager/react-bundle.js')
else
  script(src='/javascript/manager/react-bundle.js')

script(src='/javascript/momentjs/moment-with-langs.min.js', type='text/javascript')

//- script(type='text/jsx;harmony=true').
//-    const csrfToken = "#{csrf_token}";
//- script(src='/javascript/manager/org-state-catalog.js', type='text/jsx;harmony=true')
script(src='/javascript/manager/org-state-details.bundle.js')