[Unit]
Description=Timezone alignment
After=postgresql.service

[Service]
PassEnvironment=TZ
ExecStart=timezone_alignment.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
