@import "branding/css/variables.scss";

:global(.theme-uyuni.login-page) {
  font-size: 16px;
  background: $uyuni-blue-100;
  color: $eos-bc-gray-100;

  :global(#login) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  :global(.spacewalk-main-column-layout) {
    flex-direction: column;
    overflow: auto;
  }

  .contentArea {
    max-width: 1024px;
    margin: 70px auto 0;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 80px;
  }

  .half {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .left {
    gap: 20px;
    flex-grow: 1.4;
  }

  .right {
    flex-grow: 1;
  }

  .h1 {
    font-size: 52px;
    color: $green;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .uyuniLogo {
    max-width: 200px;
    height: auto;
  }

  .h2 {
    font-size: 32px;
    margin-top: 22px;
    margin-bottom: 30px;
  }

  .learnMore {
    color: $eos-bc-green-500;
    border: 1px solid $eos-bc-green-500;
    display: inline-block;
    text-decoration: none;
    padding: 0.4em 1em;
    border-radius: 4px;
    font-size: 15px;
    margin-left: 3em;

    &:hover {
      text-decoration: none;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .submit {
      display: block;
      width: 100%;
      margin-top: 10px;
      text-align: center;
    }
  }
  
  .footer {
    margin-top: auto;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 16px solid $eos-bc-green-500;
    color: $eos-bc-gray-500;
    font-size: 0.9em;

    .content {
      flex: 1 1 auto;
      flex-wrap: wrap;
      max-width: 1024px;
      padding: 0 15px;
      margin: 0 auto;
      display: flex;
      gap: 16px;
    }

    a, a:hover {
      color: inherit;
      text-decoration: underline;
    }

    .logoLink {
      margin-left: auto;
    }
  }
}
