.fixed_content {
  margin: 0px auto -60px;
  min-height: 100vh;
  padding-top: 50px;
}

.footer_wrapper {
  height: 60px;
  position: relative;
}

.footer_fixed_bottom {
  position: absolute !important;
  bottom: 0px;
}

.footer_release_container {
  padding-left: 2px !important;
}
