name: acceptance-tests-secondary-parallel

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  schedule:
    - cron: '0 */12 * * *'
jobs:
  acceptance-tests-secondary-parrallel:
    uses: ./.github/workflows/acceptance_tests_common.yml
    strategy:
      fail-fast: false
      matrix:
        set: ['1', '2', '3', '4', '5']
    with:
      secondary_tests: "19_run_secondary_parallelizable_tests_subset.sh ${{ matrix.set }}"
      server_id: "secondary_parallel_${{ matrix.set }}"
