name: acceptance-tests-secondary
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  schedule:
    - cron: '0 */12 * * *'
jobs:
  acceptance-tests-secondary:
    uses: ./.github/workflows/acceptance_tests_common.yml
    strategy:
      fail-fast: false
      matrix:
        set: ['1', '2', '3', '4', '5']
    with:
      secondary_tests: "19_run_secondary_tests_subset.sh ${{ matrix.set }}"
      server_id: "secondary_${{ matrix.set }}"

