name: deploy_docs

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: '[CHECKOUT] Master'
      uses: actions/checkout@v1

    - name: '[TOOLCHAIN] Set up Ruby 2.6'
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x

    - name: '[TOOLCHAIN] Set up NodeJS'
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    #- run: npm install

    - name: '[TOOLCHAIN] Install Asciidoctor and Asciidoctor PDF'
      run: |
        gem install asciidoctor
        gem install asciidoctor-pdf --pre
        gem install rouge
        gem install pygments.rb
        gem install coderay
        asciidoctor --version
        asciidoctor-pdf --version

    - name: '[TOOLCHAIN] Install Antora XREF Validator'
      run: |
        npm i -g @antora/cli@2.1 @antora/site-generator-default@2.1
        npm install -g gitlab:antora/xref-validator

    - name: '[TOOLCHAIN] Lunr/Antora Custom Docker Image'
      run: docker build -t lunr/antora:custom -f Dockerfile.custom .

    - name: '[TEST] Validate Antora XREFS'
      run: |
        NODE_PATH="$(npm -g root)" antora --generator @antora/xref-validator uyuni-site.yml

    - name: '[BUILD] SUMA Docs with Lunr/Antora Custom Docker Image'
      run: |
        docker run -u $UID --privileged -e DOCSEARCH_ENABLED=true -e DOCSEARCH_ENGINE=lunr -v $GITHUB_WORKSPACE:/antora/ --rm -t lunr/antora:custom uyuni-site.yml --generator antora-site-generator-lunr
        #cd build/
        ls -a

    - name: '[BUILD] SUMA PDF Documents with Asciidoctor-pdf'
      run: make pdf-all-uyuni

    - name: '[PACKAGE] Tarball PDF Docs'
      run: |
        make pdf-tar-uyuni
        ls -a build/
        ls -a build/pdf

    #- name: '[DEPLOY] .nojekyll'
    #  run: touch build/.nojekyll

    #- name: '[DEPLOY] to GH-PAGES'
     # uses: JamesIves/github-pages-deploy-action@master
     # env:
      #  ACCESS_TOKEN: ${{ secrets.GH_TOKEN }}
      # BASE_BRANCH: master # The branch the action should deploy from.
      #  BRANCH: gh-pages # The branch the action should deploy to.
      #  FOLDER: build # The folder the action should deploy.

