name: External PR labeler

on:
  pull_request_target:
    types:
      - opened

jobs:
  label_prs:
    name: Label external PRs
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - id: generate-token
        name: Generate an access token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.EXTERNAL_PR_LABELER_APP_ID }}
          private-key: ${{ secrets.EXTERNAL_PR_LABELER_PK }}

      - id: is_member
        name: Check if author is an org member
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          # The following API call returns 404 if user is not a member of the uyuni-project org
          # See: https://docs.github.com/rest/orgs/members#check-organization-membership-for-a-user--status-codes
          RESULT=`gh api orgs/uyuni-project/members/${{ github.actor }} -i | head -1 | awk '{ print $2 }'`
          echo "result=$RESULT" >> "$GITHUB_OUTPUT"

          # Fail the job if the API call didn't return 204 (member) or 404 (not member)
          if [[ "$RESULT" != "204" && "$RESULT" != "404" ]]; then
            echo "Error: Failed to check organization membership. Status code: $RESULT"
          fi

      - name: Label the PR
        # If not a member of org
        if: ${{ steps.is_member.outputs.result == 404 }}
        uses: christianvuerings/add-labels@9323e0e4146f458733b84bfa2c8eb209032d52f8 #v1.1 WARNING: Replace it with actions/labeler!?
        with:
          labels: "community"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
