name: Java Microservices Maven Build

on:
  push:
    branches:
      - master
    paths:
      - 'microservices/**'
      - '.github/workflows/java-microservices-mvn-build.yml'
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - 'microservices/**'
      - '.github/workflows/java-microservices-mvn-build.yml'


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 #v5.0.0
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Java Microservices
        run: >
          mvn -B --no-transfer-progress --file microservices/uyuni-java-parent/pom.xml verify checkstyle:check
