# SPDX-FileCopyrightText: 2023 SUSE LLC
#
# SPDX-License-Identifier: Apache-2.0

name: 'pre-built devcontainer'
on:
  push:
    branches: [ master ]
    paths:
      - '.devcontainer/dev/**'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: devcontainers/ci@v0.3
        with:
          configFile: .devcontainer/dev/devcontainer.ci.json
          
          subFolder: .devcontainer/dev

          imageName: ghcr.io/${{ github.repository }}/devcontainer
          imageTag: latest,${{ github.sha }}
          
          push: always
          
          noCache: true
