name: Python checkstyle

on:
  push:
    branches:
      - master
    paths:
      - '**.py'
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - '**.py'

jobs:
  checkstyle:
    runs-on: ubuntu-latest
    container: registry.opensuse.org/home/mczernek/containers/opensuse_factory_containerfile/uyuni-lint:latest

    steps:
    - uses: actions/checkout@v4

    - id: files
      uses: Ana06/get-changed-files@v2.2.0
      with:
        filter: '*.py'
    
    - id: filter-files
      run: |
        echo added_modified_renamed="$( echo '${{ steps.files.outputs.added_modified_renamed }}' | tr ' ' '\n' | grep -E '^(python|spacewalk|susemanager)/' | tr '\n' ' ')" >> $GITHUB_ENV

    - name: Run black on files
      run: |
        black --check --diff -t py36 $added_modified_renamed

    - name: Run pylint on files
      run: |
        pylint --rcfile=/root/.pylintrc $added_modified_renamed
