name: Run schema migration tests for reportdb

on:
  pull_request:
    paths:
      - 'schema/reportdb/**/*'
      - 'schema/spacewalk/spacewalk-schema-upgrade'

jobs:
  schema_migration_reportdb_test_pgsql:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0

      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 #v1.268.0
        with:
          ruby-version: '3.3'
      - id: files
        uses: Ana06/get-changed-files@25f79e676e7ea1868813e21465014798211fad8c #v2.3.0
        with:
          filter: '*.sql'
      - name: Run json generator
        run: |
          ruby .github/scripts/gitarro_json_gen.rb ${{ steps.files.outputs.added_modified }}

      - name: Run schema migration tests for reportdb
        run: |
          susemanager-utils/testing/automation/schema-migration-reportdb-test-pgsql.sh
