name: Run schema migration tests for reportdb

on:
  pull_request:
    paths:
      - 'schema/reportdb/**/*'
      - 'schema/spacewalk/spacewalk-schema-upgrade'

jobs:
  schema_migration_reportdb_test_pgsql:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - uses: ruby/setup-ruby@7886c6653556e1164c58a7603d88286b5f708293 # v1.228.0
        with:
          ruby-version: '3.3'
      - id: files
        uses: Ana06/get-changed-files@25f79e676e7ea1868813e21465014798211fad8c #v2.3.0
        with:
          filter: '*.sql'
      - name: Run json generator
        run: |
          ruby .github/scripts/gitarro_json_gen.rb ${{ steps.files.outputs.added_modified }}

      - name: Run schema migration tests for reportdb
        run: |
          susemanager-utils/testing/automation/schema-migration-reportdb-test-pgsql.sh
