name: Run unit tests for susemanager-sls

on:
  pull_request:
    paths: 'susemanager-utils/susemanager-sls/**/*'

jobs:
  susemanager_sls_unit_tests:
    runs-on: ubuntu-latest
    container:
      image: registry.opensuse.org/systemsmanagement/saltstack/products/testing/containers/leap15.6/containers/salt-testsuite-github:leap15.6
      options: --hostname=salt-test-container
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - name: Fix the Salt version in _version.txt file
        run: mkdir $GITHUB_WORKSPACE/salt && rpm -q python3-salt-testsuite --queryformat '%{VERSION}' > $GITHUB_WORKSPACE/salt/_version.txt
      - name: Run susemanager-sls unit tests
        run: |
          cd susemanager-utils/susemanager-sls/test/
          pytest test_pillar_suma_minion.py
          cd ../src/tests
          pytest
  susemanager_sls_unit_tests_python311:
    runs-on: ubuntu-latest
    container:
      image: registry.opensuse.org/systemsmanagement/saltstack/products/testing/containers/leap15.6/python311/containers/salt-testsuite-github:leap15.6
      options: --hostname=salt-test-container
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - name: Fix the Salt version in _version.txt file
        run: mkdir $GITHUB_WORKSPACE/salt && rpm -q python311-salt-testsuite --queryformat '%{VERSION}' > $GITHUB_WORKSPACE/salt/_version.txt
      - name: Run susemanager-sls unit tests
        run: |
          cd susemanager-utils/susemanager-sls/test/
          pytest test_pillar_suma_minion.py
          cd ../src/tests
          pytest
