name: hello-world
on: pull_request_target
jobs:
  test-uyuni:
    runs-on: ubuntu-latest
    steps:
      - name: hello_world
        run: echo "Hello World 2!"
      - uses: actions/checkout@v3
      - uses: isbang/compose-action@v1.4.1
      - name: wait a bit
        run: sleep 30s  
      - name: dockerps
        run: docker ps
      - name: install-deps
        run: sudo apt-get install -y nmap
      - name: nmap_from_host
        run: nmap server-httpd-test
      - name: docker-networks
        run: docker network ls
      - name: test_from_host
        run: curl http://localhost:1234/test.html
      - name: test_from_container
        run: docker run -a stdout -a stderr --network uyuni_default ghcr.io/uyuni-project/uyuni/controller-dev:master bash -c "curl http://server-h-test/test.html"
      - name: build_new_container
        run: docker build -f dockerfiles/controller-test/Dockerfile . -t controller-test:master
      - name: run_new_container
        run: docker run --rm -a stdout -a stderr --network uyuni_default --name controller-test_1 controller-test:master bash -c "CUCUMBER_PUBLISH_TOKEN=95eb386d-cb35-4824-a477-d827783c8f0c cucumber"
      - name: last-step
        run: echo "bye bye!"


