[Unit]
Description=Install bootloader for local boot

# only if not configured yet
ConditionPathExists=!/boot/grub2/grub.cfg

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c 'if [ -e /sys/firmware/efi ]; then sed -i -e "s|^LOADER_TYPE=.*|LOADER_TYPE=\\"grub2-efi\\"|" /etc/sysconfig/bootloader; fi'
ExecStartPre=/bin/bash -c 'if [ ! -e /sys/firmware/efi ]; then sed -i -e "s|^LOADER_TYPE=.*|LOADER_TYPE=\\"grub2\\"|" /etc/sysconfig/bootloader; fi'
ExecStart=/bin/bash -c 'pbl --install ; dracut -f ; pbl --config '

[Install]
WantedBy=multi-user.target
